.daterangepicker{display:none; overflow:hidden; position:absolute; top:100px; left:20px; z-index:3001; width:360px; max-width:none; margin-top:7px; padding:0; border:0.1rem solid var(--krds-gray-40); border-radius:0.8rem; background-color:#fff; color:inherit; font-size:15px; font-family:arial; line-height:1em;}
.daterangepicker:before, .daterangepicker:after {display:inline-block; display:none; position:absolute; border-bottom-color:rgba(0, 0, 0, 0.2); content:'';}
.daterangepicker:before{top:-7px; border-right:7px solid transparent; border-bottom:7px solid #ccc; border-left:7px solid transparent;}
.daterangepicker:after{top:-6px; border-right:6px solid transparent; border-bottom:6px solid #fff; border-left:6px solid transparent;}
.daterangepicker.opensleft:before{right:9px;}
.daterangepicker.opensleft:after{right:10px;}
.daterangepicker.openscenter:before{left:0; right:0; width:0; margin-right:auto; margin-left:auto;}
.daterangepicker.openscenter:after{left:0; right:0; width:0; margin-right:auto; margin-left:auto;}
.daterangepicker.opensright:before{left:9px;}
.daterangepicker.opensright:after{left:10px;}
.daterangepicker.drop-up{margin-top:-7px;}
.daterangepicker.drop-up:before{top:initial; bottom:-7px; border-top:7px solid #ccc; border-bottom:initial;}
.daterangepicker.drop-up:after{top:initial; bottom:-6px; border-top:6px solid #fff; border-bottom:initial;}
.daterangepicker.single .daterangepicker .ranges, .daterangepicker.single .drp-calendar{float:none;}
.daterangepicker.single .drp-selected{display:none;}
.daterangepicker.show-calendar .drp-calendar{display:block;}
.daterangepicker.show-calendar .drp-buttons{display:block;}
.daterangepicker.auto-apply .drp-buttons{display:none;}
.daterangepicker .drp-calendar{display:none; position:relative; max-width:360px;}
.daterangepicker .drp-calendar:before{position:absolute; top:0; left:0; right:0; z-index:-1; height:6.4rem; background-color:var(--krds-secondary-5); content:'';}
.daterangepicker .drp-calendar.left{padding:8px 0 8px 8px;}
.daterangepicker .drp-calendar.right{padding:8px;}
.daterangepicker .drp-calendar.single .calendar-table{border:none;}
.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span{display:inline-block; padding:3px; border:solid black; border-width:0 2px 2px 0; border-radius:0; color:#fff;}
.daterangepicker .calendar-table .next span{transform:rotate(-45deg); -webkit-transform:rotate(-45deg);}
.daterangepicker .calendar-table .prev span{transform:rotate(135deg); -webkit-transform:rotate(135deg);}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td button {height:4.8rem; border:0.1rem solid transparent; border:0; border-radius:4px; color:var(--krds-gray-90); font-size:1.7rem; text-align:center; vertical-align:middle; white-space:nowrap; white-space:nowrap; cursor:pointer;}
.daterangepicker .calendar-table td button{width:100%;}
.daterangepicker .calendar-table th{font-weight:600;}
.daterangepicker .calendar-table th.prev,
.daterangepicker .calendar-table th.next{}
.daterangepicker .calendar-table th.prev{}
.daterangepicker .calendar-table th.next{}
.daterangepicker .calendar-table th.prev button,
.daterangepicker .calendar-table th.next button{width:4rem; height:4rem; background:url(/site/guide/img/component/ico_cal_move.svg) no-repeat center; font-size:0;}
.daterangepicker .calendar-table th.prev button{}
.daterangepicker .calendar-table th.next button{transform:rotate(180deg);}
.daterangepicker .calendar-table td{padding-top:0.4rem;}
.daterangepicker .calendar-table{/* border:0.1rem solid #fff;*/ /* border-radius:4px;*/ /* background-color:#fff;*/}
.daterangepicker .calendar-table table{width:100%; margin:0; border-collapse:collapse; border-spacing:0;}
.daterangepicker .calendar-table table thead tr:first-child{text-align:center;}
.daterangepicker .calendar-table table thead tr:first-child th{}
.daterangepicker .calendar-table table thead tr:last-child th{height:6.6rem; padding-top:1.8rem;}
.daterangepicker td button.available:hover, .daterangepicker th.available:hover{border-color:transparent; background-color:var(--krds-primary-10); color:inherit;}
.daterangepicker td.week, .daterangepicker th.week{color:#ccc; font-size:80%;}
.daterangepicker td button.off, .daterangepicker td button.off.in-range, .daterangepicker td button.off.start-date, .daterangepicker td button.off.end-date{border-color:transparent; background-color:#fff; color:rgba(113, 113, 113, 0.3);}
.daterangepicker td button.in-range{border-color:transparent; border-radius:0; background-color:#ebf4f8; color:#000;}
.daterangepicker td button.start-date{border-radius:50% 0 0 50%;}
.daterangepicker td button.end-date{border-radius:0 50% 50% 0;}
.daterangepicker td button.start-date.end-date{border-radius:4px;}
.daterangepicker td button.active, .daterangepicker td button.active:hover{border-color:transparent; background-color:var(--krds-primary); color:#fff;}
.daterangepicker th.month{width:auto;}
.daterangepicker td button.disabled, .daterangepicker option.disabled{color:#999; text-decoration:line-through; cursor:not-allowed;}
.daterangepicker select.monthselect, .daterangepicker select.yearselect{height:auto; margin:0; padding:0 2rem 0 1rem; border:0; background:url(/site/guide/img/component/ico_select_lg.svg) no-repeat center right / 1.4rem; font-size:1.9rem; font-weight:400; text-align:right; cursor:default; );}
.daterangepicker select.monthselect{margin-left:2rem; /* width:56%;*/}
.daterangepicker select.yearselect{/* width:40%;*/}
.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect{width:50px; margin:0 auto; padding:2px; border:0.1rem solid #eee; outline:0; background:#eee; font-size:12px;}
.daterangepicker .calendar-time{position:relative; margin:4px auto 0 auto; text-align:center; line-height:30px;}
.daterangepicker .calendar-time select.disabled{color:#ccc; cursor:not-allowed;}
.daterangepicker .drp-buttons{display:none; clear:both; padding:var(--krds-spacer-4); border-top:0.1rem solid var(--krds-gray-20); text-align:right; line-height:12px; vertical-align:middle;}
.daterangepicker .drp-selected{display:inline-block; padding-right:8px; font-size:12px;}
.daterangepicker .drp-buttons .btn{margin-left:8px; font-weight:400; /* font-size:12px;*/ /* font-weight:bold;*/ /* padding:4px 8px;*/}
.daterangepicker.show-ranges.single.rtl .drp-calendar.left{border-right:0.1rem solid #ddd;}
.daterangepicker.show-ranges.single.ltr .drp-calendar.left{border-left:0.1rem solid #ddd;}
.daterangepicker.show-ranges.rtl .drp-calendar.right{border-right:0.1rem solid #ddd;}
.daterangepicker.show-ranges.ltr .drp-calendar.left{border-left:0.1rem solid #ddd;}
.daterangepicker .ranges{display:none; float:none; height:0; margin:0; padding:0; text-align:left;}
.daterangepicker.show-calendar .ranges{margin-top:8px;}
.daterangepicker .ranges ul{width:100%; margin:0 auto; padding:0; list-style:none;}
.daterangepicker .ranges li{padding:8px 12px; font-size:12px; cursor:pointer;}
.daterangepicker .ranges li:hover{background-color:#eee;}
.daterangepicker .ranges li.active{background-color:#08c; color:#fff;}
@media (min-width:600px){
    .daterangepicker{width:auto;}
    .daterangepicker .ranges ul{width:140px;}
    .daterangepicker.single .ranges ul{width:100%;}
    .daterangepicker.single .drp-calendar.left{clear:none;}
    .daterangepicker.single .ranges, .daterangepicker.single .drp-calendar{float:left;}
    .daterangepicker{text-align:left; direction:ltr;}
    .daterangepicker .drp-calendar.left{clear:left; margin-right:0;}
    .daterangepicker .drp-calendar.left .calendar-table{border-right:none; border-top-right-radius:0; border-bottom-right-radius:0;}
    .daterangepicker .drp-calendar.right{margin-left:0;}
    .daterangepicker .drp-calendar.right .calendar-table{border-left:none; border-bottom-left-radius:0; border-top-left-radius:0;}
    .daterangepicker .drp-calendar.left .calendar-table{padding-right:8px;}
    .daterangepicker .ranges, .daterangepicker .drp-calendar{float:left;}
}
@media (min-width:730px){
    .daterangepicker .ranges{width:auto;}
    .daterangepicker .ranges{float:left;}
    .daterangepicker.rtl .ranges{float:right;}
    .daterangepicker .drp-calendar.left{clear:none !important;}
}
@media (max-width:599px){
    .daterangepicker{width:289px; margin-left:-1px;}
    .daterangepicker .drp-calendar:before{
        height: 5.8rem;
    }
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td button{height:4rem; font-size:1.5rem;}
    .daterangepicker .calendar-table table thead tr:last-child th{
        padding-top: 0.8rem;
        height: 5.6rem;
    }
    .daterangepicker .calendar-table td button{}
    .daterangepicker select.monthselect, .daterangepicker select.yearselect{font-size:1.6rem;}
}