@charset "UTF-8";
/* (주)한신정보기술 박서영 - 2024.02 */

/* 상단메뉴 투명 */
:not(.lnb_open) .trans #header:not(.fixed){background-color:transparent;}
:not(.lnb_open) .trans #header:not(.fixed) .lnb .menu .depth1_text{color:#fff;}
:not(.lnb_open) .trans #header:not(.fixed) .logo .logo_anchor .logo_text{color:#fff;}
:not(.lnb_open) .trans #header:not(.fixed) .logo .logo_anchor{background:url(/common_2024/images/layout/logo_white.png) no-repeat left center;}
:not(.lnb_open) .trans #header:not(.fixed) .logo .logo_anchor img{opacity:0;}
:not(.lnb_open) .trans #header:not(.fixed) .gnb .link_list:before{border:1px solid rgba(255, 255, 255, 0.23); background-color:rgba(255, 255, 255, 0.07);}
:not(.lnb_open) .trans #header:not(.fixed) .gnb .link_anchor{color:#fff;}
:not(.lnb_open) .trans #header:not(.fixed) .gnb .link_item.login:before{background-color:rgba(255, 255, 255, 0.3);}
:not(.lnb_open) .trans #header:not(.fixed) .gnb .link_item.sitemap .link_anchor{background-color:#fff;}
:not(.lnb_open) .trans #header:not(.fixed) .gnb .link_item.sitemap .link_anchor:before{background-image:url("/site/sbinfo/images/sub/menu_icon_black.png");}

@media all and (min-width:1001px){
    :not(.lnb_open) .trans #header:not(.fixed) .lnb .menu{background-color:transparent;}
    .lnb .menu.after:after{display:none;}
}
@media all and (max-width:1000px){
    .lnb .menu_show .menu_btn{background-color:#fff;}
    .lnb .menu_show .menu_btn:before{background-image:url("/site/sbinfo/images/sub/menu_icon_black.png");}
    :not(.lnb_open) .trans #header:not(.fixed) .logo .logo_anchor{background-size:116.1px 36px; background-position-x:6px;}
}
@media all and (max-width:640px){
    :not(.lnb_open) .trans #header:not(.fixed) .logo .logo_anchor{background-size:83.85px 26px; background-position-x:23px;}
}

/* 타이틀 폰트 */
.wrap .sub_title{margin-bottom:15px; color:#338ada; font-size:15px; font-weight:700; font-family:'NEXON Lv2 Gothic'; line-height:15px; letter-spacing:0.025em;}
.wrap .title{color:#121212; font-size:34px; font-weight:400; font-family:'ONE-Mobile-Regular'; line-height:48px; word-break:keep-all;}
.wrap .title span{font-weight:600; font-family:'ONE-Mobile-Title';}
@media all and (max-width:640px){
    .wrap .sub_title{margin-bottom:12px; font-size:13px;}
    .wrap .title{font-size:20px; line-height:30px;}
}

/* 비주얼 */
.rowgroup{position:relative;}
.visual{position:relative;}
.visual .visual_list{z-index:0;}
.visual .visual_list .visual_item .item_box{position:relative; height:980px; background-repeat:no-repeat; background-position:center center; background-size:cover;}
.visual .visual_list .visual_item .item_box img{width:0; height:0;}

.visual .visual_box{display:block; position:absolute; top:0; left:0; right:0; bottom:0; z-index:1; height:980px; margin:0 auto;}
.visual .visual_box .visual_title{position:absolute; top:424px; left:-100px; width:auto; height:auto; color:#fff;}
.visual .visual_box .visual_title .title1{font-size:68px; font-weight:700; font-family:'SBAggro'; line-height:80px; letter-spacing:-0.02em;}
.visual .visual_box .visual_title .title1 span{font-size:72px;}
.visual .visual_box .visual_title .title2{font-size:18px; font-weight:400; line-height:30px; letter-spacing:0.025em;}
.visual .visual_box .visual_control{display:block; position:absolute; top:317px; left:-100px; font-size:0; line-height:0;}
.visual .visual_box .visual_control .visual_dots{display:inline-block; vertical-align:middle;}
.visual .visual_box .visual_control .visual_dots .slick-dots{font-size:0; line-height:0;}
.visual .visual_box .visual_control .visual_dots .slick-dots li{display:inline-block; position:relative; width:54px; padding-left:23px;}
.visual .visual_box .visual_control .visual_dots .slick-dots li button{position:relative; width:8px; height:8px; border-radius:50%; background:rgba(255, 255, 255, 0.4);}
.visual .visual_box .visual_control .visual_dots .slick-dots li button .circle{display:none;}
.visual .visual_box .visual_control .visual_dots .slick-dots li.slick-active button{width:12px; height:12px; background:rgba(255, 255, 255, 1);}
.visual .visual_box .visual_control .visual_dots .slick-dots li.slick-active button .circle{display:block; position:absolute; top:0; left:-21px; bottom:0; width:54px; height:54px; margin:auto 0; animation:circle 17s linear; transform:rotate(-90deg); stroke-dasharray:500; stroke-dashoffset:500;}
.visual .visual_box .visual_control .visual_dots .slick-dots li.slick-active button .circle.pause{animation-play-state:paused;}
.visual .visual_box .visual_control .visual_auto{display:inline-block; width:22px; height:23px; margin-left:22px; background:url("/site/sbinfo/images/main/visual_pause.png"); vertical-align:middle;}

@keyframes circle {
    0% {
        stroke-dashoffset: 500;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -500;
    }
}

@media all and (max-width:1430px){
    .visual .visual_box, .visual .visual_list .visual_item .item_box{height:850px;}
    .visual .visual_box .visual_title{left:20px;}
    .visual .visual_box .visual_control{left:20px;}
}
@media all and (max-width:1000px){
    .visual .visual_box, .visual .visual_list .visual_item .item_box{height:614px;}
    .visual .visual_box .visual_title{top:276px;}
    .visual .visual_box .visual_title .title1{font-size:52px; line-height:61px;}
    .visual .visual_box .visual_title .title1 span{font-size:55px;}
    .visual .visual_box .visual_title .title2{margin-top:10px; font-size:15px; line-height:23px;}
    
    .visual .visual_box .visual_control{top:204px;}
    .visual .visual_box .visual_control .visual_dots .slick-dots li{width:43px; padding-left:20px;}
    .visual .visual_box .visual_control .visual_dots .slick-dots li button{width:7px; height:7px;}
    .visual .visual_box .visual_control .visual_dots .slick-dots li.slick-active button{width:10px; height:10px;}
    .visual .visual_box .visual_control .visual_dots .slick-dots li.slick-active button .circle{left:-17px; width:43px; height:43px;}
    .visual .visual_box .visual_control .visual_auto{width:20px; height:20px; margin-left:16px; background-size:cover;}
}
@media all and (max-width:640px){
    .visual .visual_box, .visual .visual_list .visual_item .item_box{height:398px;}
    .visual .visual_box .visual_title{top:186px;}
    .visual .visual_box .visual_title .title1{font-size:30px; line-height:36px;}
    .visual .visual_box .visual_title .title1 span{font-size:32px;}
    .visual .visual_box .visual_title .title2{width:260px; font-size:13px; line-height:20px; word-break:keep-all;}
    .visual .visual_box .visual_title .title2 br{display:none;}
    
    .visual .visual_box .visual_control{top:124px;}
    .visual .visual_box .visual_control .visual_dots .slick-dots li{width:35px; padding-left:15px;}
    .visual .visual_box .visual_control .visual_dots .slick-dots li button{width:6px; height:6px;}
    .visual .visual_box .visual_control .visual_dots .slick-dots li.slick-active button{width:9px; height:9px;}
    .visual .visual_box .visual_control .visual_dots .slick-dots li.slick-active button .circle{left:-14px; width:35px; height:35px;}
    .visual .visual_box .visual_control .visual_auto{width:16px; height:17px; margin-left:12px;}
}

/* quick menu */
.rowgroup2{overflow:hidden; position:relative; padding-top:100px;}
.rowgroup2:before{display:block; position:absolute; top:-556px; right:0; z-index:-1; width:746px; height:978px; background:url("/site/sbinfo/images/main/quick_bg.png") no-repeat left;}
.rowgroup2 .wrap{font-size:0; line-height:0;}
.quick{display:inline-block; position:relative; width:50%; vertical-align:top;}
.quick .quick_tab{display:block; position:relative; width:100%; margin-top:43px;}
.quick .quick_tab .tab_list{font-size:0; line-height:0; box-sizing:border-box;}
.quick .quick_tab .tab_list .tab_item{display:inline-block; width:136px; height:52px; border:1px solid #e8e8e8; background:#fff; text-align:center;}
.quick .quick_tab .tab_list .tab_item:not(:last-child){border-right:none;}
.quick .quick_tab .tab_list .tab_item:hover{background:#f3f8fb;}
.quick .quick_tab .tab_list .tab_item:hover .tab_btn{font-weight:700;}
.quick .quick_tab .tab_list .tab_item.active{border-color:#338ada; background:#338ada;}
.quick .quick_tab .tab_list .tab_item.active .tab_btn{color:#fff; font-weight:700;}
.quick .quick_tab .tab_list .tab_item.active .tab_btn:after{display:block; position:absolute; top:13px; right:25px; width:6px; height:6px; border-radius:50%; background:#fff;}
.quick .quick_tab .tab_list .tab_item .tab_btn{position:relative; width:100%; color:#373737; font-size:18px; font-weight:400; font-family:'NEXON Lv2 Gothic'; line-height:52px;}

.quick .cont_list{position:relative; margin-top:68px;}
.quick .cont_list .cont_item{display:none;}
.quick .cont_list .cont_item.active{display:block;}
.quick .cont_list .cont_item .quick_list{left:-19px; width:100%; min-height:176px; margin-left:0; font-size:0; line-height:0;}
.quick .cont_list .cont_item .quick_list .slick-list{overflow:visible;}
.quick .cont_list .cont_item .quick_list .slick-list .slick-track{margin:0;}
.quick .cont_list .cont_item .quick_list .quick_item{display:inline-block; opacity:0; visibility:hidden; position:relative; width:calc(20% - 38px); margin-right:19px; margin-left:19px; text-align:center; vertical-align:top; transition-property:opacity,visibility; transition-duration:.25s; transition-timing-function:ease-in-out;}
.quick .cont_list .cont_item .quick_list .quick_item.slick-active{opacity:1; visibility:inherit;}
.quick .cont_list .cont_item .quick_list .quick_item .quick_anchor{position:relative; width:100%; padding-top:128px; color:#414141; font-size:16px; font-weight:400; font-family:'NEXON Lv2 Gothic'; line-height:24px;}
.quick .cont_list .cont_item .quick_list .quick_item .quick_anchor:before{display:block; position:absolute; top:0; left:0; right:0; width:105px; height:105px; margin:0 auto; border-radius:50%; background:#fff; box-shadow:16px 28px 122px 0 rgba(60,70,116,0.1); transition:background-color 0.3s ease-in-out;}
.quick .cont_list .cont_item .quick_list .quick_item .quick_anchor:after{display:block; position:absolute; top:17px; left:0; right:0; width:70px; height:70px; margin:0 auto; background:url("/site/sbinfo/images/main/quick_icon.png") no-repeat;}
.quick .cont_list .cont_item .quick_list .quick_item.n1 .quick_anchor:after{background-position-x:0;}
.quick .cont_list .cont_item .quick_list .quick_item.n2 .quick_anchor:after{background-position-x:-770px;}
.quick .cont_list .cont_item .quick_list .quick_item.n3 .quick_anchor:after{background-position-x:-140px;}
.quick .cont_list .cont_item .quick_list .quick_item.n4 .quick_anchor:after{background-position-x:-840px;}
.quick .cont_list .cont_item .quick_list .quick_item.n5 .quick_anchor:after{background-position-x:-280px;}
.quick .cont_list .cont_item .quick_list .quick_item.n6 .quick_anchor:after{background-position-x:-910px;}
.quick .cont_list .cont_item .quick_list .quick_item.n7 .quick_anchor:after{background-position-x:-420px;}
.quick .cont_list .cont_item .quick_list .quick_item.n8 .quick_anchor:after{background-position-x:-490px;}
.quick .cont_list .cont_item .quick_list .quick_item.n9 .quick_anchor:after{background-position-x:-560px;}
.quick .cont_list .cont_item .quick_list .quick_item.n10 .quick_anchor:after{background-position-x:-630px;}
.quick .cont_list .cont_item .quick_list .quick_item.n11 .quick_anchor:after{background-position-x:-980px;}
.quick .cont_list .cont_item .quick_list .quick_item.n12 .quick_anchor:after{background-position-x:-210px;}

.quick .cont_list .cont_item .quick_control{display:block; position:relative; width:100%; margin-top:40px; text-align:center;}
.quick .cont_list .cont_item .quick_control .quick_dots{display:inline-block; vertical-align:middle;}
.quick .cont_list .cont_item .quick_control .quick_dots .slick-dots{font-size:0; line-height:0;}
.quick .cont_list .cont_item .quick_control .quick_dots .slick-dots li{display:inline-block; position:relative; width:27px; padding-right:3px;}
.quick .cont_list .cont_item .quick_control .quick_dots .slick-dots li button{position:relative; width:27px; height:9px; background:#d6e6f0; transition:width 0.5s ease-in-out;}
.quick .cont_list .cont_item .quick_control .quick_dots .slick-dots li.slick-active button{width:11px; background:#338ada; transition:width 0.5s ease-in-out;}

/* hover */
@media all and (min-width:1001px){
    .quick .cont_list .cont_item .quick_list .quick_item .quick_anchor:hover:before{background:#e2f3fd;}
    .quick .cont_list .cont_item .quick_list .quick_item .quick_anchor:hover{color:#216aad; text-decoration:underline; text-underline-offset:3px;}
}

.business{display:inline-block; position:relative; width:50%; padding-top:38px; padding-left:107px; vertical-align:top;}
.business .business_list{display:block; font-size:0; line-height:0;}
.business .business_list .business_item{display:inline-block; position:relative; width:calc(50% - 10px); height:433px; margin-right:20px; padding-top:134px; background:url("/site/sbinfo/images/main/business_img01.jpg") no-repeat center; background-size:cover; vertical-align:top;}
.business .business_list .business_item:last-child{margin-right:0; background-image:url("/site/sbinfo/images/main/business_img02.jpg");}
.business .business_list .business_item:before{display:block; position:absolute; top:62px; left:0; right:0; width:35px; height:19px; margin:0 auto; background:url("/site/sbinfo/images/main/business_icon01.png") no-repeat;}
.business .business_list .business_item:last-child:before{top:61px; width:23px; height:22px; background:url("/site/sbinfo/images/main/business_icon02.png") no-repeat;}
.business .business_list .business_item:after{display:block; position:absolute; top:99px; left:0; right:0; width:10px; height:1px; margin:0 auto; background:rgba(255, 255, 255, 0.5);}

.business .business_list .business_item .title{min-height:60px; color:#fff; font-size:26px; font-weight:600; font-family:'ONE-Mobile-Title'; text-align:center; line-height:30px;}
.business .business_list .business_item .title span{font-size:24px; font-weight:400; font-family:'ONE-Mobile-Regular';}
.business .business_list .business_item .apply_list{display:block; position:relative; margin-top:76px; padding:0 29px; font-size:0; line-height:0;}
.business .business_list .business_item .apply_list .apply_item{display:inline-block; position:relative; width:calc(50% - 5px); height:110px; margin-right:10px; border:1px solid rgba(255, 255, 255, 0.3); vertical-align:top; transition:border-color 0.3s ease-in-out;}
.business .business_list .business_item .apply_list .apply_item:last-child{margin-right:0;}
.business .business_list .business_item .apply_list .apply_item .apply_anchor{position:relative; width:100%; height:100%; padding:43px 0; color:#fff; font-size:16px; font-weight:400; font-family:'NEXON Lv2 Gothic'; text-align:center; line-height:24px;}

/* hover */
@media all and (min-width:1001px){
    .business .business_list .business_item .apply_list .apply_item:hover{border-color:rgba(255, 255, 255, 1);}
    .business .business_list .business_item .apply_list .apply_item:hover .apply_anchor{font-weight:700;}
}

@media all and (max-width:1430px){
    .business{padding-left:40px;}
}
@media all and (max-width:1200px){
    .business{padding-left:0;}
    .quick .cont_list .cont_item .quick_list{left:-30px;}
    .quick .cont_list .cont_item .quick_list .quick_item{margin-right:10px; margin-left:10px;}
}
@media all and (max-width:1000px){
    .rowgroup2{padding-top:70px;}
    .rowgroup2:before{top:-330px; right:-220px; width:525px; height:714px; background-size:cover;}
    .quick{display:block; width:100%; text-align:center;}
    .quick .cont_list .cont_item .quick_list{left:0;}
    .quick .cont_list .cont_item .quick_list .slick-list .slick-track{margin-left:auto; margin-right:auto;}
    .business{display:block; width:100%; padding-top:60px; padding-left:0;}
    .business .business_list{width:calc(100% - 144px); margin:0 auto;}
}
@media all and (max-width:800px){
    .business .business_list{width:calc(100% - 100px);}
}
@media all and (max-width:640px){
    .rowgroup2{padding-top:48px;}
    .rowgroup2:before{top:-190px; right:-180px; width:321px; height:438px;}
    
    .quick .quick_tab{margin-top:25px;}
    .quick .quick_tab .tab_list .tab_item{width:96px; height:36px;}
    .quick .quick_tab .tab_list .tab_item .tab_btn{font-size:14px; line-height:36px;}
    .quick .quick_tab .tab_list .tab_item.active .tab_btn:after{width:4px; height:4px; top:8px; right:15px;}
    .quick .cont_list{margin-top:30px;}
    .quick .cont_list .cont_item .quick_list{min-height:136px;}
    .quick .cont_list .cont_item .quick_list .quick_item{width:calc(30% - 28px); margin-right:18px; margin-left:18px;}
    .quick .cont_list .cont_item .quick_list .quick_item .quick_anchor{padding-top:94px; font-size:14px; line-height:21px;}
    .quick .cont_list .cont_item .quick_list .quick_item .quick_anchor:before{width:82px; height:82px;}
    .quick .cont_list .cont_item .quick_list .quick_item .quick_anchor:after{top:7px; transform:scale(0.78);}
    
    .business{padding-top:36px;}
    .business .business_list{width:100%;}
    .business .business_list .business_item{display:block; width:100%; height:125px; margin-right:0; margin-bottom:10px; padding:21px 32px;}
    .business .business_list .business_item:first-child{background-position:top -90px center;}
    .business .business_list .business_item:before{top:23px; left:32px; right:auto; width:27px; height:14px; background-size:cover;}
    .business .business_list .business_item:last-child:before{top:23px; width:17px; height:16px; background-size:cover;}
    .business .business_list .business_item:after{top:48px; left:32px; right:auto;}
    
    .business .business_list .business_item .title{display:inline-block; width:50%; min-height:auto; height:44px; padding-top:14px; font-size:18px; line-height:22px; text-align:left; vertical-align:middle;}
    .business .business_list .business_item .title span{font-size:16px;}
    
    .business .business_list .business_item .apply_list{display:inline-block; width:calc(50% - 20px); margin-top:0; margin-left:20px; padding:0; vertical-align:middle;}
    .business .business_list .business_item .apply_list .apply_item{display:block; width:100%; height:36px; margin-right:0; margin-bottom:10px;}
    .business .business_list .business_item .apply_list .apply_item .apply_anchor{padding:6px 0; font-size:14px;}
}

/* program */
.rowgroup3{position:relative; height:711px; margin-top:110px; padding-top:96px;}
.rowgroup3:before{display:block; position:absolute; top:0; left:0; width:869px; height:711px; border-bottom-right-radius:120px; background-color:#f3f8fb;}
.program{position:relative;}
.program .wrap{font-size:0; line-height:0;}
.program .title_box{display:inline-block; position:relative; width:431px; vertical-align:top;}

.program .program_tab{display:block; position:relative; z-index:1; margin-top:50px;}
.program .program_tab .tab_list{font-size:0; line-height:0;}
.program .program_tab .tab_list .tab_item{display:inline-block; position:relative; margin-right:46px;}
.program .program_tab .tab_list .tab_item + .tab_item{margin-top:10px;}
.program .program_tab .tab_list .tab_item:last-child{margin-right:0;}
.program .program_tab .tab_list .tab_item:not(:last-child):before{display:block; position:absolute; top:0; right:-26px; bottom:0; width:1px; height:16px; margin:auto 0; background-color:#ccc;}
.program .program_tab .tab_list .tab_item .tab_btn{color:#373737; font-size:20px; font-weight:400; line-height:30px;}
.program .program_tab .tab_list .tab_item:hover .tab_btn{color:#141414; font-weight:700; text-decoration:underline; text-underline:#898989; text-underline-offset:4px;text-decoration-thickness:1px;}
.program .program_tab .tab_list .tab_item.active .tab_btn{color:#216cb2; font-weight:700;}
.program .program_tab .tab_list .tab_item.active .tab_btn:after{display:block; position:absolute; top:-5px; right:-11px; width:6px; height:6px; border-radius:50%; background-color:#338ada;}

.program .cont_list{display:inline-block; position:absolute; z-index:0; width:calc(100% - 431px); vertical-align:top;}
.program .cont_list .cont_item{display:none;}
.program .cont_list .cont_item.active{display:block;}
.program .cont_list .cont_item .program_list{width:100%; left:-26px; font-size:0; line-height:0;}
.program .cont_list .cont_item .program_list .slick-list{overflow:visible;}
.program .cont_list .cont_item .program_list .slick-list .slick-track{margin:0;}
.program .cont_list .cont_item .program_list .program_item{display:inline-block; opacity:0; visibility:hidden; position:relative; width:calc((100% - 51px) / 2); height:484px; margin-right:26px; margin-left:26px; background-color:#fff; box-shadow:16px 28px 122px 0 rgba(60,77,116,0.1); vertical-align:top; transform:translateY(0); transition-property:opacity,visibility,transform; transition-duration:.25s; transition-timing-function:ease-in-out;}
.program .cont_list .cont_item .program_list .program_item.slick-active{opacity:1; visibility:inherit;}
.program_item.slick-active + .program_item.slick-active + .program_item{opacity:1; visibility:inherit;}
.program .cont_list .cont_item .program_list .program_item .program_anchor{display:block; width:100%; height:100%;}
.program .cont_list .cont_item .program_list .program_item .program_anchor .program_type{position:absolute; top:0; width:84px; height:46px; padding:12px 0; color:#fff; font-size:15px; font-weight:400; line-height:22px; letter-spacing:-0.02em; text-align:center;}
.program .cont_list .cont_item .program_list .program_item .program_anchor .program_type.n1{background:#256daf;}
.program .cont_list .cont_item .program_list .program_item .program_anchor .program_type.n2{background:#7373e0;}
.program .cont_list .cont_item .program_list .program_item .program_anchor .program_type.n3{background:#235888;}
.program .cont_list .cont_item .program_list .program_item .program_anchor .program_img{width:100%; height:298px; background:#edf3f6 url("/site/sbinfo/images/program/edu_noimage.jpg") no-repeat center;}
.program .cont_list .cont_item .program_list .program_item .program_anchor .program_img img{width:100%; height:100%; object-fit:cover;}
.program .cont_list .cont_item .program_list .program_item .program_anchor .program_con{position:relative; width:100%; height:186px; padding:27px 30px; background:#fff; transform:translateY(0); transition:height 0.3s ease-in-out, transform 0.3s ease-in-out;}
.program .cont_list .cont_item .program_list .program_item .program_anchor .program_con:before{display:block; opacity:0; position:absolute; right:24px; bottom:-40px; width:80px; height:80px; background:url("/site/sbinfo/images/main/program_icon2.png") no-repeat center;}
.program .cont_list .cont_item .program_list .program_item .program_anchor .program_con:after{display:block; position:absolute; right:38px; bottom:46px; width:16px; height:15px; background:url("/site/sbinfo/images/main/program_icon.png") no-repeat center left -16px;}
.program .cont_list .cont_item .program_list .program_item .program_anchor .program_con .program_title{min-height:56px; color:#000; font-size:20px; font-weight:400; line-height:28px; word-break:keep-all; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; white-space:normal; overflow:hidden;}
.program .cont_list .cont_item .program_list .program_item .program_anchor .program_con .program_date{position:relative; margin-top:38px; padding-left:23px; color:#808080; font-size:16px; font-weight:400; line-height:24px; transition:margin-top 0.3s ease-in-out;}
.program .cont_list .cont_item .program_list .program_item .program_anchor .program_con .program_date:before{display:block; position:absolute; top:0; left:0; bottom:0; width:16px; height:17px; margin:auto 0; background:url("/site/sbinfo/images/main/program_icon.png") no-repeat center left;}
.program .cont_list .cont_item .program_list .program_item .program_anchor .program_con .program_date:after{display:block; opacity:0; position:absolute; top:-40px; left:0; width:100%; height:1px; background-color:#e5e5e5; transition:opacity 0.2s ease-in-out;}

.program .cont_list .cont_item .program_control{display:block; position:absolute; left:-431px; bottom:0;}
.program .cont_list .cont_item .program_control button{position:relative; width:58px; height:58px; margin-right:16px; border-radius:50%; background-color:#fff; vertical-align:top;}
.program .cont_list .cont_item .program_control button:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:12px; height:12px; margin:auto; background:url("/site/sbinfo/images/main/program_slick.png") no-repeat;}
.program .cont_list .cont_item .program_control button.program_prev:before{background-position:top left;}
.program .cont_list .cont_item .program_control button.program_next:before{background-position:top left -12px;}
.program .cont_list .cont_item .program_control .state_box{display:block; position:relative; margin-top:130px;}
.program .cont_list .cont_item .program_control .state_box:before{display:inline-block; position:relative; width:206px; height:5px; background-color:#fff;}
.program .cont_list .cont_item .program_control .state_box .state_bar{display:block; position:absolute; top:0; left:0; height:100%; background-color:#0d0d0d; transition:width 300ms;}

.program .cont_list .cont_item .program_more{display:inline-block; position:relative; width:58px; height:58px; border-radius:50%; background:#fff; vertical-align:top;}
.program .cont_list .cont_item .program_more:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:12px; height:12px; margin:auto; background:url("/site/sbinfo/images/main/program_slick.png") no-repeat top right;}

/* hover */
@media all and (min-width:1001px){
    .program .cont_list .cont_item .program_list .program_item:hover{box-shadow:16px 28px 122px 0 rgba(60,77,116,0.35); transform: translateY(-20px);}
    .program .cont_list .cont_item .program_list .program_item:hover .program_con{height:242px; transform: translateY(-56px);}
    .program .cont_list .cont_item .program_list .program_item:hover .program_con:before{opacity:1; transition:opacity 0.3s linear;}
    .program .cont_list .cont_item .program_list .program_item:hover .program_con:after{right:57px; bottom:-6px; background-position:center left -32px; transition:opacity 0.3s ease-in-out;}
    .program .cont_list .cont_item .program_list .program_item:hover .program_con .program_date{margin-top:86px;}
    .program .cont_list .cont_item .program_list .program_item:hover .program_con .program_date:after{opacity:1;}
    .program .cont_list .cont_item .program_control button:hover,
    .program .cont_list .cont_item .program_more:hover{background-color:#deecf4;}
}

@media all and (max-width:1430px){
    .program .cont_list .cont_item .program_list{left:-20px;}
    .program .cont_list .cont_item .program_list .program_item{margin-right:20px; margin-left:20px;}
}
@media all and (max-width:1200px){
    .program .cont_list{width:100%;}
}
@media all and (max-width:1000px){
    .rowgroup3{height:675px; padding-top:100px;}
    .rowgroup3:before{width:643px; height:675px;}
    .program .title_box{width:312px;}
    .program .program_tab .tab_list .tab_item:nth-child(2){margin-right:100px;}
    .program .program_tab .tab_list .tab_item + .tab_item{margin-top:6px;}

    .program .cont_list .cont_item .program_list{width:100%;}
    .program .cont_list .cont_item .program_control{left:-312px; bottom:30px;}
    .program .cont_list .cont_item .program_control .state_box{margin-top:100px;}
}
@media all and (max-width:800px){
    .program .cont_list{width:calc(100% - 312px);}
}
@media all and (max-width:640px){
    .rowgroup3{height:567px; margin-top:50px; padding-top:50px;}
    .rowgroup3:before{left:-23px; height:496px;}
    .program .title_box{display:block; width:100%;}
    .program .sub_title, .program .title{text-align:center;}
    .program .title br{display:none;}
    
    .program .program_tab{margin-top:23px; text-align:center;}
    .program .program_tab .tab_list .tab_item{margin-right:30px;}
    .program .program_tab .tab_list .tab_item:not(:last-child):before{right:-15px; height:12px;}
    .program .program_tab .tab_list .tab_item:nth-child(2){margin-right:30px;}
    .program .program_tab .tab_list .tab_item.active .tab_btn:after{right:-7px; width:5px; height:5px;}
    .program .program_tab .tab_list .tab_item .tab_btn{font-size:15px; line-height:26px;}
    
    .program .cont_list{display:block; width:100%; margin-top:75px;}
    .program .cont_list .cont_item .program_list{left:-10px;}
    .program .cont_list .cont_item .program_list .program_item{width:100%; height:330px; margin-right:22px; margin-left:22px;}
    .program .cont_list .cont_item .program_list .program_item .program_anchor .program_type{width:57px; height:31px; padding:6px 0; font-size:13px; line-height:19px;}
    .program .cont_list .cont_item .program_list .program_item .program_anchor .program_img{height:205px;}
    .program .cont_list .cont_item .program_list .program_item .program_anchor .program_con{height:125px; padding:15px 21px;}
    .program .cont_list .cont_item .program_list .program_item .program_anchor .program_con:after{bottom:26px; transform:scale(0.81);}
    .program .cont_list .cont_item .program_list .program_item .program_anchor .program_con .program_title{min-height:46px; font-size:15px; line-height:23px;}
    .program .cont_list .cont_item .program_list .program_item .program_anchor .program_con .program_date{margin-top:20px; padding-left:20px; font-size:13px;}
    .program .cont_list .cont_item .program_list .program_item .program_anchor .program_con .program_date:before{top:-1px; transform:scale(0.81);}
    .program .cont_list .cont_item .program_control{top:-57px; bottom:auto; left:50%; transform:translateX(-50%);}
    .program .cont_list .cont_item .program_control button{width:40px; height:40px; margin-right:10px;}
    .program .cont_list .cont_item .program_more{width:40px; height:40px;}
    .program .cont_list .cont_item .program_control .state_box{display:none;}
}

/* news */
.rowgroup4{position:relative; margin-top:108px;}
.rowgroup4:before{display:block; position:absolute; top:27px; right:0; width:478px; height:666px; background:url("/site/sbinfo/images/main/news_bg.png") no-repeat;}
.news{position:relative;}
.news .sub_title, .news .title{text-align:center;}
.news .title br{display:none;}
.news .news_tab{display:block; position:relative; margin-top:50px; text-align:center;}
.news .news_tab .tab_list{font-size:0; line-height:0;}
.news .news_tab .tab_list .tab_item{display:inline-block; position:relative; margin-right:80px;}
.news .news_tab .tab_list .tab_item:last-child{margin-right:0;}
.news .news_tab .tab_list .tab_item:not(:last-child):before{display:block; position:absolute; top:0; right:-45px; bottom:0; width:1px; height:16px; margin:auto 0; background-color:#ccc;}
.news .news_tab .tab_list .tab_item .tab_btn{color:#373737; font-size:20px; font-weight:400; line-height:30px;}
.news .news_tab .tab_list .tab_item:hover .tab_btn{color:#141414; font-weight:700; text-decoration:underline; text-underline:#898989; text-underline-offset:4px; text-decoration-thickness:1px;}
.news .news_tab .tab_list .tab_item.active .tab_btn{color:#216cb2; font-weight:700;}
.news .news_tab .tab_list .tab_item.active .tab_btn:after{display:block; position:absolute; top:0; right:-15px; width:6px; height:6px; border-radius:50%; background-color:#338ada;}

.news .cont_list{position:relative; margin-top:85px;}
.news .cont_list .cont_item{display:none;}
.news .cont_list .cont_item.active{display:block;}
.news .cont_list .cont_item .news_list{font-size:0; line-height:0;}
.news .cont_list .cont_item .news_list .news_item{display:inline-block; position:relative; width:calc((100% - 116px) / 3); height:122px; margin-right:58px; border:1px solid #ededed; vertical-align:top; transition:all 0.2s ease-in-out;}
.news .cont_list .cont_item .news_list .news_item:last-child{margin-right:0;}
.news .cont_list .cont_item .news_list .news_item .news_anchor{width:100%; height:100%; padding-left:30px;}

.news .cont_list .cont_item .news_list .news_item .news_anchor .news_type{position:relative; top:-20px; width:61px; height:35px; margin-right:15px; border-radius:35px; background-color:#fff; font-size:15px; font-weight:400; text-align:center; line-height:33px; letter-spacing:-0.02em; transition:background-color 0.2s linear;}
.news .cont_list .cont_item .news_list .news_item .news_anchor .news_type.n1{border:1px solid #338ada; color:#338ada;}
.news .cont_list .cont_item .news_list .news_item .news_anchor .news_type.n2{border:1px solid #404896; color:#404896;}
.news .cont_list .cont_item .news_list .news_item .news_anchor .news_type.n3{border:1px solid #1e9177; color:#1e9177;}
.news .cont_list .cont_item .news_list .news_item .news_anchor .news_date{position:relative; top:-17px; color:#202020; font-size:24px; font-weight:700; line-height:36px; letter-spacing:-0.02em;}
.news .cont_list .cont_item .news_list .news_item .news_anchor .news_text{overflow:hidden; position:relative; top:10px; width:calc(100% - 48px); color:#585858; font-size:18px; font-weight:400; text-overflow:ellipsis; line-height:27px; white-space:nowrap;}

/* hover */
@media all and (min-width:1001px){
    .news .cont_list .cont_item .news_list .news_item:hover{border-color:#fff; background-color:#fff; box-shadow:9px 16px 50px 0 rgba(42,58,95,0.07);}
    .news .cont_list .cont_item .news_list .news_item:hover .news_anchor .news_type{color:#fff;}
    .news .cont_list .cont_item .news_list .news_item:hover .news_anchor .news_type.n1{background-color:#338ada;}
    .news .cont_list .cont_item .news_list .news_item:hover .news_anchor .news_type.n2{background-color:#404896;}
    .news .cont_list .cont_item .news_list .news_item:hover .news_anchor .news_type.n3{background-color:#1e9177;}
}

@media all and (max-width:1430px){
    .news .cont_list .cont_item .news_list .news_item{width:calc((100% - 80px) / 3); margin-right:40px;}
}
@media all and (max-width:1000px){
    .rowgroup4{margin-top:70px;}
    .rowgroup4:before{right:-200px; width:410px; height:530px; background-size:cover;}
    .news .cont_list{margin-top:105px;}
    .news .cont_list .cont_item .news_list .news_item{width:calc(50% - 20px); margin-right:40px;}
    .news .cont_list .cont_item .news_list .news_item:nth-child(2){margin-right:0;}
    .news .cont_list .cont_item .news_list .news_item:nth-child(n+3){display:none;}
    .news .cont_list .cont_item .news_list .news_item .news_anchor{padding-left:25px;}
}
@media all and (max-width:640px){
    .rowgroup4{margin-top:45px;}
    .rowgroup4:before{width:318px; height:340px; background-size:cover;}
    .news .title br{display:inherit;}
    .news .news_tab{margin-top:23px;}
    .news .news_tab .tab_list .tab_item{margin-right:30px;}
    .news .news_tab .tab_list .tab_item:not(:last-child):before{right:-15px; height:12px;}
    .news .news_tab .tab_list .tab_item.active .tab_btn:after{right:-7px; width:5px; height:5px;}
    .news .news_tab .tab_list .tab_item .tab_btn{font-size:15px; line-height:26px;}
    .news .cont_list{margin-top:28px;}
    .news .cont_list .cont_item .news_list .news_item{display:block; width:100%; height:53px; border-top:none; border-right:none; border-left:none; }
    .news .cont_list .cont_item .news_list .news_item:first-child{border-top:1px solid #ededed;}
    .news .cont_list .cont_item .news_list .news_item:nth-child(n+3){display:block;}
    .news .cont_list .cont_item .news_list .news_item .news_anchor{padding:13px 0 13px 5px;}
    .news .cont_list .cont_item .news_list .news_item .news_anchor .news_type{top:0; width:45px; height:24px; margin-right:8px; font-size:12px; line-height:22px; vertical-align:middle;}
    .news .cont_list .cont_item .news_list .news_item .news_anchor .news_date{display:none;}
    .news .cont_list .cont_item .news_list .news_item .news_anchor .news_text{display:inline-block; top:0; width:calc(100% - 70px); font-size:15px; vertical-align:middle;}
}

/* experience */
.rowgroup5{overflow:hidden; position:relative; height:405px; margin-top:107px; padding-top:123px;}
.rowgroup5:before{display:block; position:absolute; top:0; left:0; width:1920px; height:405px; background:url("/site/sbinfo/images/main/experience_bg.jpg") no-repeat center;}
.experience{position:relative;}
.experience:before{display:block; position:absolute; left:225px; bottom:-160px; width:932px; height:210px; background:url("/site/sbinfo/images/main/experience_deco.png") no-repeat center; content:'';}
.experience .wrap{font-size:0; line-height:0;}
.experience .wrap .title_box{display:inline-block; position:relative; width:406px; vertical-align:top;}
.experience .wrap .sub_title, .experience .wrap .title{color:#fff;}

.experience .experience_list{display:inline-block; position:relative; width:calc(100% - 406px); vertical-align:top;}
.experience .experience_list .experience_item{display:inline-block; position:relative; width:calc((100% - 105px) / 4); height:160px; margin-right:35px; background:rgba(33, 84, 141, 0.8);}
.experience .experience_list .experience_item:last-child{margin-right:0;}
.experience .experience_list .experience_item .experience_anchor{width:100%; height:100%; padding:34px 28px; color:#fff; font-size:18px; font-weight:400; font-family:'NEXON Lv2 Gothic'; line-height:27px; transition:background-color 0.3s ease-in-out;}
.experience .experience_list .experience_item .experience_anchor:before{display:block; position:absolute; right:20px; bottom:24px; width:39px; height:39px; border:1px solid rgba(255, 255, 255, 0.2); border-radius:50%; background:url("/site/sbinfo/images/main/experience_arrow.png") no-repeat center;}

/* hover */
@media all and (min-width:1001px){
    .experience .experience_list .experience_item .experience_anchor:hover{background:#fff; color:#04407e; font-weight:700;}
    .experience .experience_list .experience_item .experience_anchor:hover:before{border-color:#21548d; background-color:#21548d;}
}

@media all and (max-width:1430px){
    .experience:before{left:75px;}
}
@media all and (min-width:1001px) and (max-width:1200px){
    .experience:before{left:35px; bottom:-40px; width:800px; height:180px; background-size:cover;}
    .experience .experience_list{top:-60px;}
    .experience .experience_list .experience_item{width:calc((100% - 70px) / 2); height:120px;}
    .experience .experience_list .experience_item:nth-child(n+3){margin-top:35px;}
}
@media all and (max-width:1000px){
    .rowgroup5{height:603px; margin-top:90px; padding-top:70px;}
    .rowgroup5:before{height:603px; background-size:cover;}
    .experience:before{left:-220px; bottom:-90px;}
    .experience .wrap .title_box{display:block; width:100%; text-align:center;}
    .experience .wrap .title_box .title br{display:none;}
    
    .experience .experience_list{display:block; width:calc(100% - 257px); margin:40px auto 0;}
    .experience .experience_list .experience_item{width:calc((100% - 35px) / 2);}
    .experience .experience_list .experience_item:nth-child(2n){margin-right:0;}
    .experience .experience_list .experience_item:nth-child(n+3){margin-top:30px;}
}
@media all and (max-width:800px){
    .experience .experience_list{width:calc(100% - 100px);}
}
@media all and (max-width:640px){
    .rowgroup5{height:293px; margin-top:40px; padding-top:50px;}
    .rowgroup5:before{height:293px;}
    .experience:before{left:-195px; bottom:-60px; width:526px; height:123px; background-size:cover;}
    .experience .experience_list{width:100%; margin-top:30px;}
    .experience .experience_list .experience_item{width:calc(50% - 10px); height:43px; margin-right:20px;}
    .experience .experience_list .experience_item:nth-child(n+3){margin-top:20px;}
    .experience .experience_list .experience_item .experience_anchor{padding:10px; font-size:14px; line-height:23px;}
    .experience .experience_list .experience_item .experience_anchor br{display:none;}
    .experience .experience_list .experience_item .experience_anchor:before{right:10px; bottom:9px; width:25px; height:25px; background-size:9px 9px;}
}

/* community -> Publicity */
.rowgroup6{position:relative; margin-top:100px; margin-bottom:100px;}
.rowgroup6 .wrap{font-size:0; line-height:0;}
.rowgroup6 .wrap .sub_title, .rowgroup6 .wrap .title{text-align:center;}
.rowgroup6 .wrap .title{margin-bottom:105px;}
.rowgroup6 .wrap .title2{color:#121212; font-size:28px; font-weight:700; font-family:'NEXON Lv2 Gothic'; text-align:left; line-height:42px;}

.community{display:inline-block; position:relative; width:calc(100% - 662px); vertical-align:top;}
.community .community_box{display:block; position:relative; width:100%; height:284px; margin-top:18px; background:url("/site/sbinfo/images/main/community_img.jpg") no-repeat bottom center; text-align:center;}
.community .community_box .text{position:relative; top:50%; transform:translateY(-50%); color:#fff; font-size:24px; font-family:'ONE-Mobile-Regular'; line-height:32px;}
.community .community_box .text em{font-size:26px; font-family:'ONE-Mobile-Title';}
/*.community .community_list{display:block; margin-top:18px;}*/
/*.community .community_list .community_item{padding:31px 28px 32px 28px; border-bottom:1px solid #ebebeb;}*/
/*.community .community_list .community_item:first-child{border-top:1px solid #ebebeb;}*/
/*.community .community_list .community_item .community_anchor{overflow:hidden; position:relative; width:100%; color:#585858; font-size:18px; font-weight:400; text-overflow:ellipsis; line-height:27px; white-space:nowrap;}*/
/*.community .community_more{display:block; position:absolute; top:2px; right:0; width:39px; height:39px; border:1px solid #efefef; border-radius:50%; background:#fff;}*/
/*.community .community_more:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:16px; height:16px; margin:auto; background:url("/site/sbinfo/images/main/shortcut_icon.png") no-repeat top left -120px;}*/

.community .shortcut_list{display:block; margin-top:32px; font-size:0; line-height:0;}
.community .shortcut_list .shortcut_item{display:inline-block; position:relative; width:calc((100% - 48px) / 3); height:88px; margin-right:24px; background:#f3f8fb; vertical-align:top; transition:background-color 0.3s ease-in-out;}
.community .shortcut_list .shortcut_item:last-child{margin-right:0;}
.community .shortcut_list .shortcut_item .shortcut_anchor{position:relative; width:100%; height:100%; padding:30px 0 30px 110px; color:#232323; font-size:18px; font-weight:400; line-height:27px;}
.community .shortcut_list .shortcut_item .shortcut_anchor:before{display:block; position:absolute; top:-3px; left:43px; bottom:0; margin:auto 0; background:url("/site/sbinfo/images/main/shortcut_icon02.png") no-repeat;}
.community .shortcut_list .shortcut_item.n1 .shortcut_anchor:before{width:32px; height:27px; background-position-x:0;}
.community .shortcut_list .shortcut_item.n2 .shortcut_anchor:before{width:28px; height:31px; background-position-x:-40px;}
.community .shortcut_list .shortcut_item.n3 .shortcut_anchor:before{width:28px; height:28px; background-position-x:-80px;}
/*.community .shortcut_list .shortcut_item .shortcut_anchor:after{display:block; position:absolute; top:0; right:38px; bottom:0; width:14px; height:13px; margin:auto 0; background:url("/site/sbinfo/images/main/shortcut_icon.png") no-repeat top left -80px;}*/

/* hover */
@media all and (min-width:1001px){
    /*.community .community_list .community_item .community_anchor:hover{color:#212121; text-decoration:underline; text-underline-offset:3px;text-decoration-color:#000;}*/
    /*.community .community_more:hover{border-color:#f3f8fb; background:#f3f8fb;}*/
    .community .shortcut_list .shortcut_item:hover{background:#fff; box-shadow:9px 16px 50px 0 rgba(42,58,95,0.07);}
}

/* 알림창 */
.popup{display:inline-block; position:relative; width:590px; margin-left:72px; vertical-align:top;}
.popup .popup_list{margin-top:18px;}
.popup .popup_list .popup_item{position:relative; width:100%; text-align:center;}
.popup .popup_list .popup_item .popup_anchor{display:block; position:absolute; top:222px; left:50%; width:113px; height:48px; padding:11px 0; border:1px solid rgba(255, 255, 255, 0.3); color:#fff; font-size:16px; line-height:24px; transform:translateX(-50%); box-sizing:border-box;}
.popup .popup_control{display:block; position:absolute; top:2px; right:0;}
.popup .popup_control .popup_count{position:relative; margin-right:12px; color:#848484; font-size:14px; font-weight:400; line-height:21px; vertical-align:middle;}
.popup .popup_control .popup_count .popup_current{position:relative; margin-right:24px; color:#1a1a1a; font-weight:700;}
.popup .popup_control .popup_count .popup_current:after{display:block; position:absolute; top:0; right:-14px; bottom:0; width:3px; height:3px; margin:auto 0; background:#c6c6c6;}
.popup .popup_control button{position:relative; width:39px; height:39px; margin-left:6px; border:1px solid #efefef; border-radius:50%; background:#fff url("/site/sbinfo/images/main/popup_icon.png") no-repeat; vertical-align:middle;}
.popup .popup_control button.popup_prev{background-position:top -2px left -1px;}
.popup .popup_control button.popup_next{background-position:top -2px left -40px;}
.popup .popup_control button.popup_auto{background-position:top -1px left -79px;}
.popup .popup_control button.popup_auto.slick-play{background-position:top -2px left -117px;}

/* hover */
@media all and (min-width:1001px){
    .popup .popup_control button:hover{border-color:#f3f8fb; background-color:#f3f8fb;}
    .popup .popup_list .popup_item .popup_anchor:hover{border-color:#fff;}
}

@media all and (min-width:1431px){
    .community .shortcut_list .shortcut_item.n2 .shortcut_anchor{padding-left:98px;}
}
@media all and (max-width:1430px){
    .community .shortcut_list .shortcut_item{width:calc((100% - 30px) / 3); margin-right:15px;}
    .community .shortcut_list .shortcut_item .shortcut_anchor{padding-left:62px; font-size:16px;}
    .community .shortcut_list .shortcut_item .shortcut_anchor:before{left:24px; transform:scale(0.85);}
}
@media all and (min-width:1001px) and (max-width:1200px){
    .community{width:calc(100% - 580px);}
    /*.community .community_list .community_item{padding:20px;}*/
    .community .community_box{height:150px;}
    .community .shortcut_list{margin-top:22px;}
    .community .shortcut_list .shortcut_item{display:block; width:100%; height:auto; margin-right:0;}
    .community .shortcut_list .shortcut_item:not(:last-child){margin-bottom:10px;}
    .community .shortcut_list .shortcut_item .shortcut_anchor{padding:16px 0 16px 85px;}
    .popup{width:540px; margin-left:40px;}
}

@media all and (max-width:1000px){
    .rowgroup6{margin-top:70px;}
    .community{display:block; width:100%;}
    /*.community .shortcut_list .shortcut_item{width:calc(50% - 10px); margin-right:20px;}*/
    .community .community_box{background-size:cover;}
    .popup{display:block; width:calc(100% - 162px); margin:70px auto 0;}
}
@media all and (max-width:800px){
    .popup .popup_list .popup_item .popup_anchor{top:55%;}
}
@media all and (max-width:640px){
    .rowgroup6{margin-top:50px;}
    .rowgroup6 .wrap .title{margin-bottom:45px;}
    .rowgroup6 .wrap .title2{font-size:18px; line-height:25px;}
    
    /*.community .community_list .community_item{padding:13px 18px;}*/
    /*.community .community_list .community_item .community_anchor{font-size:15px; line-height:22px;}*/
    /*.community .community_more{top:0; width:25px; height:25px;}*/
    /*.community .community_more:before{transform:scale(0.75);}*/
    .community .community_box{height:150px;}
    .community .community_box .text{font-size:18px; line-height:24px;}
    .community .community_box .text em{font-size:20px;}
    .community .shortcut_list{margin-top:30px;}
    .community .shortcut_list .shortcut_item{display:block; width:100%; height:50px; margin-right:0; margin-bottom:10px;}
    .community .shortcut_list .shortcut_item .shortcut_anchor{padding:14px 0 14px 74px; font-size:15px; line-height:22px;}
    .community .shortcut_list .shortcut_item.n1 .shortcut_anchor:before{left:22px; transform:scale(0.72);}
    .community .shortcut_list .shortcut_item.n2 .shortcut_anchor:before,
    .community .shortcut_list .shortcut_item.n3 .shortcut_anchor:before{left:24px; transform:scale(0.76);}
    /*.community .shortcut_list .shortcut_item .shortcut_anchor:after{right:23px; transform:scale(0.85);}*/
    
    .popup{width:100%; margin-top:40px;}
    .popup .popup_control{top:-2px;}
    .popup .popup_control .popup_count{font-size:12px;}
    .popup .popup_control .popup_count .popup_current{margin-right:20px;}
    .popup .popup_control button{width:29px; height:29px; margin-left:4px; background-size:116px 29px;}
    .popup .popup_control button.popup_auto{background-position-x:-59px;}
    .popup .popup_control button.popup_next{background-position-x:-30px;}
    .popup .popup_control button.popup_auto.slick-play{background-position-x:-87px;}
}

/* 스크롤 */
.rowgroup2, .rowgroup3, .rowgroup4, .rowgroup5, .rowgroup6{opacity:0; transform:translateY(60px); transition-duration:0.5s; transition-timing-function:ease-in-out;}
.rowgroup2.scroll_effect, .rowgroup3.scroll_effect, .rowgroup4.scroll_effect, .rowgroup5.scroll_effect, .rowgroup6.scroll_effect{opacity:1; transform:translateY(0);}
