@charset "UTF-8";

body{color:#424242; font-weight:400; font-size:17px; line-height:28px; letter-spacing:-0.01em}
@media all and (max-width:640px){
    body{font-size:14px; line-height:22px}
}

/* 공통-검색 */
input::-ms-clear,
input::-ms-reveal{display:none;width:0;height:0;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{display:none;}

/* 탭메뉴 */
header.sub_head + .template_tab{margin-top:40px;}

.template_tab{position:relative; z-index:30; margin-bottom:46px;}
.template_tab .tab_panel{display:block; position:relative; width:100%; margin-bottom:30px; font-size:0; line-height:0}
.template_tab .tab_list{display:block; width:100%; margin-top:5px; }
.template_tab .tab_item{display:inline-block; position:relative; width:calc((100% - 20px) / 5); margin-top:5px; margin-right:5px;vertical-align:top; text-align:center;}
.template_tab .tab_item:nth-child(5n){margin-right:0}
.template_tab .tab_button{display:block; position:relative; width:100%; height:62px; padding:0 10px; border:1px solid #ccc; box-sizing:border-box; background-color:#fff; color:#828282; font-size:18px; line-height:23px; letter-spacing:-0.025em; word-break:keep-all}
.template_tab .tab_button:after{display:inline-block; height:100%; vertical-align:middle; content:''}
.template_tab .tab_button span{display:inline-block; position:relative; vertical-align:middle; word-break:break-all}
.template_tab .tab_content{display:none}
.template_tab .tab_content.active{display:block}
/* blank */
.template_tab .tab_button[target='_blank'] span{padding-right:27px}
.template_tab .tab_button[target='_blank'] span:after{display:block; position:absolute; top:calc(50% - 7px); right:3px; width:14px; height:13px; background-image:url(../images/template/blank_grey.png); background-repeat:no-repeat; background-size:cover}
/* hover, active */
.template_tab .tab_item:hover .tab_button{font-weight:700; color:#262626}
.template_tab .tab_item.active .tab_button{border-color:#338ada; box-shadow:3px 3px 38px 0 rgba(60,77,116,0.1);  color:#338ada; font-weight:700}
.template_tab .tab_item:hover .tab_button[target='_blank'] span:after{background-image:url(../images/template/blank_black.png)}
@media all and (max-width:1000px){
    .template_tab .tab_item{width:calc((100% - 10px)/3);}
    .template_tab .tab_item:nth-child(3n){margin-right:0;}
    .template_tab .tab_item:nth-child(4n), .template_tab .tab_item:nth-child(5n){margin-right:5px;}
}
@media all and (max-width:640px){
    .template_tab .tab_panel{margin-bottom:20px}
    .template_tab .tab_item{width:calc((100% - 5px)/2);}
    .template_tab .tab_item:nth-child(2n){margin-right:0;}
    .template_tab .tab_item:nth-child(3){margin-right:5px;}
    .template_tab .tab_button{height:45px; font-size:15px; line-height:20px;}
}

/* 제목 */
h3,h4,h5,h6{position:relative; margin-bottom:15px; letter-spacing:-0.01em; font-weight:400}
h3{margin-top:45px;margin-bottom:15px;padding-top: 30px;color:#121212;font-weight:700;font-size:30px;line-height:35px}
h3:first-child{margin-top:5px}
h3:before{display:block;position:absolute;top: 0px;left: 2px;width:34px;height:23px;background-image:url(../images/template/h3_icon.png);background-repeat:no-repeat}
h4{margin-top:35px; color:#262626; font-size:28px; line-height:33px}
h5{margin-top:25px; color:#2372ba; font-size:24px; line-height:29px;}
h6{margin-top:20px; padding-left:32px; color:#353535; font-size:22px; line-height:27px}
h6:before{display:block;position:absolute;top: 13px;left: 17px;width: 10px;height:4px;border-radius:4px;background-color:#d4dbe0}
h3 + h4{margin-top: 22px;}
h4 + h5{margin-top: 22px;}
h5 + h6{margin-top: 22px;}
@media all and (max-width:640px){
    h3,h4,h5,h6{margin-bottom:10px;}
    h3{margin-top:25px; padding-top:20px; font-size:24px; line-height:29px}
    h3:before{width:25px;height:17px;background-size:25px 17px}
    h4{margin-top:20px; font-size:20px; line-height:25px}
    h5{margin-top:15px; font-size:18px; line-height:23px}
    h6{margin-top:15px; font-size:15px; line-height:20px}
    h3 + h4{margin-top:15px}
    h4 + h5,h5 + h6{margin-top:10px}
}

/* 강조글씨 */
.em_point1{color:#d70047 !important;}
.em_point2{color:#0082ca !important;}

/* 텍스트 버튼 */
.text_btn{display:inline-block;position:relative;margin-right:3px;margin-left:3px;padding-right: 22px;letter-spacing: 0;color:#535353;transition-property:color;transition-duration:0.3s}
.text_btn:before{display:block; position:absolute; bottom:1px; left:0; width:0; height:1px; background-color:#a7a7a7; transition-property:width; transition-duration:0.3s}
.text_btn:after{display:block; position:absolute; right:0; background-repeat:no-repeat; background-size:cover; transition-property:background-image; transition-duration:0.3s}
.text_btn.blank:after{top:5px; width:14px; height:13px; background-image:url(../images/template/blank_grey.png);}
.text_btn.down:after{top: 6px;width:12px;height:12px;background-image:url(../images/template/down_grey.png)}
.text_btn:hover{color:#262626}
.text_btn:hover:before{width:100%}
.text_btn.blank:hover:after{background-image:url(../images/template/blank_black.png)}
.text_btn.down:hover:after{background-image:url(../images/template/down_black.png)}
table td .text_btn{margin-top:5px; margin-bottom: 5px;}
table td .text_btn + .text_btn{margin-left: 30px;}
@media all and (max-width:640px){
    .text_btn.blank:after{top:5px}
    .text_btn.down:after{top:4px}
}

/* 주의, 경고 */
.caution{display:block; position:relative; margin-top:10px; margin-bottom:10px; padding-left:25px;}
.caution:before{display:block;position:absolute;top: 3px;left:0;width:20px;height:20px;background-image:url(../images/template/caution_icon1.png);background-repeat:no-repeat}
.caution.type2:before{background-image:url(../images/template/caution_icon2.png)}
.caution .txt{color:#767676; font-size:16px; line-height:24px; letter-spacing:-0.025em}
@media all and (max-width:640px){
    .caution{margin-top:8px; margin-bottom:8px;}
    .caution .txt{font-size:14px; line-height:19px}
    .caution:before{top:0;}
    .caution.type2:before{top:0;}
}

/* 비순차 목록(기본) */
.bu{margin-top:20px; margin-bottom:15px; font-size:0; line-height:0}
.bu li{padding-left: 15px;position:relative;color:#494949;font-size:17px;line-height:25px;letter-spacing:-0.025em}
.bu > li+li{margin-top: 0px;}
.bu li:before{display:block;position:absolute;top: 11px;left:0;width:4px;height:4px;border-radius:50%;background-color:#338ada}
.bu ul{margin-top: 5px;}
.bu ul li{padding-left: 13px;color:#656565;font-size:16px;line-height: 24px;letter-spacing: -0.01em;}
.bu ul li + li{margin-top: 1px;}
.bu ul li:before{top: 10px;width:5px;height:2px;border-radius:0;background-color:#6a6a6a}
.bu ul ul{margin-top: 7px;}
.bu ul ul li{padding-left: 12px;color:#7b7b7b;letter-spacing: -0.01em;}
.bu ul ul{margin-top: 6px;}
.bu ul ul li + li{margin-top: 0px;}
.bu ul ul li:before{top: 13px;left: 1px;width:2px;height:2px;background-color:#bababa}

.blt{position:relative; padding-left:15px; margin-top:20px; margin-bottom:15px; font-size:17px;line-height:25px;}
.blt:before{display:block;position:absolute;top: 11px;left:0;width:4px;height:4px;border-radius:50%;background-color:#338ada}

/* 비순차 목록(타이틀) */
.dl li+li{margin-top:4px;}
.dl .dt, .dl .dd{vertical-align:top}
.dl .dt{display:inline-block; font-weight:700}
.dl .dd{display:inline;position:relative;padding-left: 9px;letter-spacing: -0.03em;}
.dl .dd:before{display:block;position:absolute;top: -3px;left:0;color:#494949;font-size:16px;content:':'}
.dl ul li+li{margin-top:0}

/* 순차 목록 */
.num{overflow:visible; margin-top:20px; margin-bottom:15px; counter-reset:index}
.num ::marker{color:transparent; font-size:0; line-height:0}
.num li{position:relative;padding-left: 28px;margin-top: 4px;color:#404040;font-size:16px;line-height: 22px;letter-spacing:-0.035em}
.num li:first-child{margin-top: 0;}
.num > li:not(:last-child){margin-bottom: 0px;}
.num li:before{display:block;position:absolute;top: 1px;left:0;width:20px;height:20px;border-radius:50%;border:1px solid #dff0ff;background-color:#dff0ff;box-sizing:border-box;text-align:center;color:#343333;font-family:'Open Sans';font-weight:700;font-size:11px;line-height:17px;letter-spacing:-0.01em;counter-increment:index;content:counter(index)}
.num > li:before{content:counter(index)}
.num ul, .num ol{overflow: visible;margin-top: 12px;margin-bottom:11px;counter-reset:index}
.num ul li, .num ol li{margin-top: 1px;padding-left:24px;color:#666;font-size:16px;line-height: 25px;letter-spacing: -0.06em;}
.num ul li:before, .num ol li:before{top: 2px;left: -4px;padding-top: 1px;border-color:#aacceb;background-color:#fff;color:#4e4e4e;}
.num ul ul, .num ol ol{margin-top: 11px;}
.num ul ul li, .num ol ol li{margin-top: 2px;padding-left:24px;color:#8c8c8c;font-size:16px;line-height:24px;letter-spacing: -0.06em;}
.num ul ul li:before, .num ol ol li:before{top: 3px;left: -4px;border-color:#f3f8fb;background:#f3f8fb;color:#4e4e4e;}

.num.none li em{position:absolute; top:3px; left:0; width:20px; padding-top:1px; border:1px solid #55b7c2; border-radius:50%; box-sizing:border-box; text-align:center; color:#019ba1; font-size:11px; line-height:17px; letter-spacing:-0.025em; font-weight:600}
.num.none li:before{display:none;}
.num.none li ul li em{top:3px; left:-4px; border:none; background-color:#ecf6f2; color:#165868; line-height:19px;}
.num.none li ul li ul li em{top:3px; left:-4px; border:none; background-color:#f7f7f8; color:#4e4e4e; line-height:19px;}

h3 + .bu, h4 + .bu, h5 + .bu, h6 + .bu{margin-top:0}
h3 + .num, h4 + .num, h5 + .num, h6 + .num{margin-top:0}
@media all and (max-width:640px){
    .bu{margin-top:10px; margin-bottom:10px}
    .bu li{font-size:15px; line-height:18px}
    .bu li:before{top:6px}
    .bu ul li{font-size:14px; line-height:22px}
    .bu ul li:before{top:10px}
    .bu ul ul li{font-size:14px; line-height:24px}
    .bu ul ul li:before{top:11px}
    
    .blt{margin-top:10px; margin-bottom:10px; font-size:15px; line-height:18px}
    .blt:before{top:6px}

    .dl .dt{font-size:15px; line-height:18px;}
    .dl .dd{font-size:15px; line-height:18px;}
    .dl .dd:before{top:0; font-size:14px;}

    .num{margin-top:10px; margin-bottom:10px}
    .num li{font-size:15px; line-height:22px}
    .num li:before{top:0;}
    .num > li:not(:last-child){margin-bottom:8px}
    .num ul, .num ol{margin-top:10px;}
    .num ul li, .num ol li{font-size:14px; line-height:22px}
    .num ul li:before{top:10px}
    .num ul li:before, .num ol li:before{top:1px;}
    .num ul ul, .num ol ol{margin-top:9px;}
    .num ul ul li, .num ol ol li{font-size:14px; line-height:22px}
    .num ul ul li:before, .num ol ol li:before{top:1px}

    .num.none li em{top:0;}
    .num.none li ul li em{top:1px;}
    .num.none li ul li ul li em{top:1px;}
}

/* 상단개요박스 */
.top_box{position:relative; overflow:hidden; margin-bottom:35px; border-top-right-radius:90px; background-color:#e5f2fd}
.top_box:before{display:block; position:absolute; bottom:0; left:0; width:223px; height:111px; background-image:url(../images/template/top_box_bg.png); background-repeat:no-repeat}
.top_box:after{display:block;position:absolute;top: 67px;left: 55px;width:113px;height:113px;border-radius: 45px;background:#fff url(../images/template/top_box_icon01.png) no-repeat center center;}
.top_box.n2:after{background-image:url(../images/template/caution_icon2.png)}
.top_box .box_wrap{position:relative;min-height:248px;padding: 54px 85px 52px 226px;}
.top_box .box_title{margin-top:0;margin-bottom: 25px;padding-top:0;color:#121212;font-weight:700;font-size:30px;line-height:35px;letter-spacing: 0;}
.top_box .box_title:before{display:none}
.top_box .box_text{color:#424242;font-size:17px;line-height:28px;word-break: keep-all; letter-spacing:0}
.top_box .bu{margin-top: 24px;margin-bottom: 13px;}
.top_box .caution_group{margin-bottom: 15px;}
@media all and (max-width:1000px){
    .top_box:before{left:-40px}
    .top_box:after{left:35px}
    .top_box .box_wrap{padding-left:190px; padding-right:60px}
}
@media all and (min-width:641px){
    .top_box.short:before,
    .top_box.short:after{top:28px;}
}
@media all and (max-width:640px){
    .top_box{margin-bottom:20px; border-top-right-radius:50px;}
    .top_box:before,
    .top_box:after{display:none;}
    .top_box.short .box_wrap{min-height: auto;}
    .top_box .box_wrap{min-height:auto; padding:30px 24px 28px;}
    .top_box .box_title{margin-bottom:15px; font-size:24px; line-height:30px;}
    .top_box .box_text{font-size:14px; line-height:22px}
}

/* 박스 공통 */
.box{position:relative; margin-top:20px; margin-bottom:20px; padding:38px 35px 36px; border:1px solid #e8e8e8}
.box:first-child{margin-top:0;}
@media all and (max-width:640px){
    .box{margin-top:15px; padding:27px 20px 25px}
}

/* 테이블 */
.table.fixed{table-layout:fixed}
.table.break td,.table.break th{word-break:break-all}
.table_unit{position:relative; color:#767676; font-weight:200; font-size:16px; line-height:24px; letter-spacing:-0.025em;text-align:right}
.table_unit span{position:relative; padding-left:26px;}
.table_unit span:before{display:block; position:absolute; top:3px; left:0; width:18px; height:18px; background-image:url(../images/template/table_unit.png); background-repeat:no-repeat}

.table{position:relative; width:100%; margin-top:15px; margin-bottom:30px; background-color:#fff; border-top:2px solid #000; border-bottom:1px solid #898f9d; text-align:center}
.table:before{display:block;position:absolute;bottom: -1px;left:0;width:100%;height:1px;background-color:#898f9d;}
.table_unit + .table{margin-top:7px}

.table thead th{height: 59px;padding:5px 10px;border:1px solid #dadce0;background-color:#f7f9fc;color:#222;font-weight:700;text-align:center;}
.table thead tr:last-child th{border-bottom-color:#dadce0;}
.table td,.table th{color:#535353; font-size:16px; line-height:22px; letter-spacing:-0.025em; word-break:keep-all;}
.table thead th:first-child{border-left:none;}
.table thead th:last-child{border-right:none;}
.table thead tr+tr th{font-weight:400}
.table tbody th, .table tfoot th{background-color:#f7f9fc; color:#444;}
.table tbody th,
.table tbody td,
.table tfoot th,
.table tfoot td{height: 59px;padding:15px 10px;border-bottom:1px solid #dadce0;border-right:1px solid #dadce0;color:#444;word-break:keep-all;}
.table tbody th{padding:5px 10px;height: 59px;font-weight:700;color:#444;}
.table tbody td{color:#444;}
.table tbody td.td_right,
.table tbody tr th.td_right,
.table tbody tr th:last-child.td_right{border-right:1px solid #dadce0;}
.table tfoot td:first-child{border-left:none;}
.table tbody tr th:last-child{border-right:none;}
.table td:last-child{border-right:none;}

/*thead에 tr이 두 개 이상일 때*/
.table.tr_over thead th{border-bottom:none;}
.table.tr_over tbody tr:first-child th,
.table.tr_over tbody tr:first-child td{border-top:1px solid #dadce0;}

/* 세로형 테이블 */
.table.type2 tbody th{background-color:#f7f9fc; color:#353535}
@media all and (max-width:640px){
    .table_unit{padding-left:22px; font-size:13px; line-height:18px}
    .table_unit span:before{top:-1px}
    .table td,.table th{line-height:20px}
    .table thead th,
    .table tbody th,
    .table tbody td,
    .table tfoot th,
    .table tfoot td{height: 46px; padding:10px 8px}
}
/* 스크롤 테이블 */
@media all and (max-width:800px){
    .table_scroll{position:relative; max-width:100%; overflow-x:auto}
    .table_scroll table{min-width:800px}
}

/* 반응형 테이블 */
@media all and (max-width:640px){
    .table.responsive colgroup,.table.responsive thead{display:none}
    .table.responsive tbody tr{display:block; position:relative; padding-top:10px; padding-bottom:10px}
    .table.responsive tbody tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0}
    .table.responsive tbody tr+tr{border-top:1px solid #e6e6e6}
    .table.responsive tbody td,.table.responsive tbody th{display:block; width:100%; height:auto; padding:4px 3%; border:none; background-color:transparent; text-align:left; vertical-align:top}
    .table.responsive:not(.type2) tbody td:before,.table.responsive:not(.type2) tbody th:before{display:inline;  content:attr(data-content) " :"}
    .table.responsive.type2 tbody th{}
    .table.responsive tfoot tr{display:block; position:relative; padding-top:10px; padding-bottom:10px}
    .table.responsive tfoot tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0}
    .table.responsive tfoot tr:nth-child(odd){background:#f9f9f9}
    .table.responsive tfoot tr+tr{border-top:1px solid #ccc}
    .table.responsive tfoot td,.table.responsive tfoot th{display:block; width:100%; height:auto; padding:4px 3%; border:none; background-color:transparent; text-align:left; vertical-align:top}
    .table.responsive tfoot td:before,.table.responsive tfoot th:before{display:inline; content:attr(data-content) " :"}
}

/* 버튼 */
.btn{display:inline-block;position:relative;min-width:196px;margin: 2px;padding: 19px 22px 14px 24px;border:1px solid #d8d8d8;background:#fff;color:#333;text-align:center;font-size: 17px;line-height:22px;vertical-align:top;transition-property:border-color, background;transition-duration:0.3s}
.btn + .btn{margin-left: 4px;}
.btn.blank,
.btn.down,
.btn.view{text-align:left}
.btn.blank:after,
.btn.down:after{display:inline-block; float:right; position:relative; margin-left:16px; background-repeat:no-repeat; background-size:cover;}
.btn.blank:after{top:3px; width:14px; height:13px; background-image:url(../images/template/blank_grey.png)}
.btn.down:after{top: 3px;width:12px;height:12px;background-image:url(../images/template/down_grey.png)}
/* 버튼 .type2*/
.btn.type2{border-color:#1d4160; background:#1d4160; color:#fff}
.btn.type2.blank:after{background-image:url(../images/template/blank_white.png)}
.btn.type2.down:after{background-image:url(../images/template/down_white.png)}
/* 박스 내 버튼 */
.btn_box{margin-top:25px; padding:20px; border-radius:10px; background-color:#fbfbfb; text-align:center}
@media all and (min-width:641px){
    /* hover */
    .btn:hover{border-color:#5c5c5c;}
    .btn.type2:hover{border-color:#338ada; background-color:#338ada;}
    .btn.blank:hover:after{background-image:url(../images/template/blank_black.png)}
    .btn.down:hover:after{background-image:url(../images/template/down_black.png)}
    .btn.type2.blank:hover:after{background-image:url(../images/template/blank_white.png)}
    .btn.type2.down:hover:after{background-image:url(../images/template/down_white.png)}
}
@media all and (max-width:640px){
    .btn{min-width:85px; padding:8px 8px 10px; font-size:15px; line-height:21px}
    .btn + .btn{margin-left:2px;}
    .btn.blank:after,
    .btn.down:after{top:4px; margin-left:10px}
}

/* 링크버튼 */
.emphasis{display:block; font-size:0; line-height:0}
.emphasis .emphasis_item{display:inline-block;position:relative;width:calc((100% - 12px)/ 2);margin-right:12px;padding: 33px 150px 31px 31px;border:1px solid #e8e8e8;border-radius: 13px; vertical-align:top}
.emphasis .emphasis_item:nth-child(2n){margin-right:0}
.emphasis .emphasis_item:nth-child(n+3){margin-top:10px;}
.emphasis .emphasis_item .emphasis_subject{position:relative; color:#424242; font-size:18px; line-height:24px}
.emphasis .emphasis_item.file .emphasis_subject{padding-left: 31px;}
.emphasis .emphasis_item.blank .emphasis_subject{padding-left:30px}
.emphasis .emphasis_item .emphasis_subject:before{display:block; position:absolute; top:2px; background-repeat:no-repeat}
.emphasis .emphasis_item.file .emphasis_subject:before{left:0; width:14px; height:18px; background-image:url(../images/template/emphasis_icon1.png)}
.emphasis .emphasis_item.blank .emphasis_subject:before{left:-4px; width:20px; height:18px; background-image:url(../images/template/emphasis_icon2.png)}
.emphasis .emphasis_item .btn{display:block;position:absolute;top: 23px;right: 28px;width: 121px;min-width:auto;height:42px;padding: 11px 12px 9px 15px;}
@media all and (max-width:1000px){
    .emphasis .emphasis_item{padding:27px 120px 25px 20px}
    .emphasis .emphasis_item.file .emphasis_subject{padding-left: 25px;}
    .emphasis .emphasis_item.blank .emphasis_subject{padding-left:24px}
    .emphasis .emphasis_item .btn{top:15px; right:20px; width:100px; padding-right:9px; padding-left:8px}
    .emphasis .emphasis_item .btn:after{margin-left:5px}
}
@media all and (max-width:800px){
    .emphasis .emphasis_item{display:block;width:100%;margin-right:0; margin-bottom:10px;}
}
@media all and (max-width:640px){
    .emphasis .emphasis_item{padding:20px 120px 18px 15px; border-radius:8px}
    .emphasis .emphasis_item .btn{top:7px; right:15px; width:95px;}
    .emphasis .emphasis_item .emphasis_subject{font-size:16px; line-height:22px}
}
@media all and (max-width:480px){
    .emphasis:not(.small) .emphasis_item{padding:22px 20px 18px; text-align:center}
    .emphasis:not(.small) .emphasis_item .emphasis_subject{padding-top:22px; padding-left:0}
    .emphasis:not(.small) .emphasis_item.file .emphasis_subject{padding-left:0}
    .emphasis:not(.small) .emphasis_item.blank .emphasis_subject{padding-left:0}
    .emphasis:not(.small) .emphasis_item .emphasis_subject:before{top:0;}
    .emphasis:not(.small) .emphasis_item.file .emphasis_subject:before{left:calc(50% - 7px)}
    .emphasis:not(.small) .emphasis_item.blank .emphasis_subject:before{left:calc(50% - 10px)}
    .emphasis:not(.small) .emphasis_item .btn{display:block; position:relative; top:auto; right:auto; margin-right:auto; margin-left:auto; margin-top:15px}
}
/* emphasis.small */
.emphasis.small .emphasis_item{padding:12px 31px; border-radius:10px;}
.emphasis.small .emphasis_item .emphasis_subject{font-size:15px;}
.emphasis.small .emphasis_item .btn{top:0; right:18px; width:0; border:none; font-size:0; line-height:0;}
@media all and (min-width: 641px){
    .emphasis.small .emphasis_item .btn.down:hover:after{background-image:url(../images/template/down_blue.png;)}
}
@media all and (max-width:640px){
    .emphasis.small .emphasis_item{padding:15px 50px 15px 15px; border-radius:8px;}
    .emphasis.small .emphasis_item .btn{top:4px;}
}


/* 폼스타일 */
/* 인풋텍스트 */
.wj_input{display:inline-block; position:relative; margin:5px 0;}
.wj_input + .wj_input{margin-left:10px}
.wj_input input,
.wj_input input.search,
.wj_input select{width:100%;min-width:196px;height:auto;border:1px solid #d8d8d8;box-sizing:border-box;padding: 17px 18px 18px;color:#717171;font-size:16px;line-height:18px}
.wj_input input::placeholder{color:#717171; font-size:16px; line-height:18px}

.wj_input.search{display:inline-block}
.wj_input.search input{display:inline-block; padding-right:40px;}
.wj_input.search .search_btn{display:block; overflow:hidden; position:absolute; top:2px; right:0; margin:0; width:38px; height:calc(100% - 4px); padding:0; background-image:url(../images/template/input_search.png); background-repeat:no-repeat; background-position:right 14px center; font-size:0; line-height:0}

.wj_input.withbtn input{display:inline-block; width:120px;}
.wj_input.withbtn button{min-width:78px;margin-left:2px; padding:18px 12px 19px; background:#1d4160; color:#fff; font-weight:200; font-size:16px; line-height:18px}
.wj_input.withbtn button:hover{background:#338ada}
.wj_input.withbtn .split{padding:0 2px}

.wj_input input:hover{border-color:#5c5c5c}
.wj_input input:focus{border-color:#338ada; outline:none}
.wj_input input:invalid{overflow:visible; padding-right:20px; border-color:#d70047; background-image:url(../images/template/input_error.png); background-repeat:no-repeat; background-position:right 17px center; color:#d00d0d}
.wj_input input:invalid:focus{outline:none}

/* 셀렉트 */
.wj_input select{position:relative; padding-right:41px; background:url(../images/template/input_arrow.png) no-repeat right 17px center; appearance:none; -moz-appearance:none; -webkit-appearance:none; -ms-appearance:none}
.wj_input select:hover{border-color:#5c5c5c}
.wj_input select:focus{border-color:#338ada; outline:none; box-shadow:unset; background:url(../images/template/input_arrow2.png) no-repeat right 17px center}
.wj_input select option{height:35px; color:#727272; font-size:15px; line-height:20px}

/* 달력 선택 */
.wj_input.date{display:table}
.wj_input.date input{display:inline-block;width:180px;padding-right: 45px;}
.wj_input.date .date_btn{display:block;overflow:hidden;position:absolute;top:4px;right:8px;margin:0;width: 30px;height:calc(100% - 4px);padding:0;background:url(../images/template/input_calendar.png) no-repeat center center;font-size:0;line-height:0}

.wj_input input[type="text"][disabled],
.wj_input input[type="number"][disabled],
.wj_input select[disabled]{background-color:#f7f9fc; color:#808080}
.wj_input input[disabled]:hover,
.wj_input select[disabled]:hover{border-color:#d8d8d8}
.wj_input input[type="text"][disabled]::placeholder,
.wj_input input[type="number"][disabled]::placeholder,
.wj_input select[disabled]::placeholder{color:#ccc}
.wj_input.date .date_btn[disabled]{background-color:#f9f9f9}
@media all and (max-width:640px){
    .wj_input input,
    .wj_input input.search,
    .wj_input select{min-width:150px; padding:10px 12px 11px; font-size:15px; line-height:17px}
    .wj_input input::placeholder{font-size:15px; line-height:17px}

    .wj_input.withbtn button{padding:12px 10px; font-size:14px; line-height:16px}

    .wj_input select{padding-right:36px; background-position:right 10px center}
    .wj_input select:focus{background-position:right 10px center}
    .wj_input select option{font-size:14px; line-height:19px}

    .wj_input.date input{width:180px; padding-right:35px}
    .wj_input.date .date_btn{top:2px;width:16px}
}

/* 체크박스, 라디오 버튼 */
.wj_input input[type="radio"], .wj_input input[type="checkbox"]{position:absolute; left:0; top:0; width:auto; min-width:5px; padding:0; border:none; opacity:0}

.wj_input input[type="checkbox"] + label,
.wj_input input[type="radio"] + label{position:relative; padding-left:30px; font-size:16px; line-height:20px; color:#717171}

.wj_input input[type="checkbox"] + label:before,
.wj_input input[type="radio"] + label:before{display:block; position:absolute; top:0; left:0; border:1px solid #c5c5c5; background-color:#fff}

.wj_input input[type="checkbox"] + label:before{width:18px; height:18px; border-radius:4px}
.wj_input input[type="radio"] + label:before{width:19px; height:19px; border-radius:50%}
.wj_input input[type="checkbox"]:checked + label:before,
.wj_input input[type="radio"]:checked + label:before{border-color:#1d4160; background-color:#1d4160}


.wj_input input[type="checkbox"] + label:after{display:block; position:absolute; top:6px; left:4px; width:12px; height:9px; background-image:url(../images/template/checkbox_icon1.png); background-repeat:no-repeat; background-position:center center}
.wj_input input[type="radio"] + label:after{display:block; position:absolute; top:6px; left:6px; width:9px; height:9px; border-radius:50%; background-color:#d6d7da}

.wj_input input[type="checkbox"]:checked + label:after{background-image:url(../images/template/checkbox_icon2.png);}
.wj_input input[type="radio"]:checked + label:after{background-color:#fff}

.wj_input input[type="radio"]:disabled + label:after{background-color:#c7c7c7;}

.wj_input input[type="checkbox"]:disabled + label,
.wj_input input[type="radio"]:disabled + label{color:#b1b1b1;}

.wj_input input[type="checkbox"]:disabled + label:before,
.wj_input input[type="radio"]:disabled + label:before{border-color:#c5c5c5; background-color:#efefef;}

@media all and (max-width:640px){
    .wj_input input[type="checkbox"] + label,
    .wj_input input[type="radio"] + label{padding-left:26px; font-size:15px; line-height:23px}
    .wj_input input[type="checkbox"] + label:before,
    .wj_input input[type="radio"] + label:before{top:2px; width:18px; height:18px}
    .wj_input input[type="checkbox"] + label:after{top:7px; left:4px;}
    .wj_input input[type="radio"] + label:after{top:8px; left:6px; width:8px; height:8px}
}

/* 순서도 */
.step{overflow:hidden;margin-top:20px;margin-bottom:50px;padding: 37px 40px 36px;background-color:#f3f8fb;font-size:0;line-height:0;text-align:center;counter-reset:index}
.step .step_list{margin-top:-50px; margin-right:-50px; text-align:left;}
.step .step_item{display:inline-block;float:left;position:relative;width:calc((100% - 200px) / 4);margin-top:50px;padding-top: 20px;margin-right:50px;text-align:center;vertical-align:top}
.step .step_item:before{display:block;position:absolute;top: calc(50% + 3px);right: -32px;z-index:10;width:8px;height:14px;background:url(../images/template/step_arrow.png) no-repeat 52% center;}

.step .step_item:last-child:before{display:none}
.step .step_item:after{display:block;position:absolute;top:0;left: 19px;width:42px;height:42px;border-radius:50%;background-color:#1d4160;box-shadow:0px 0px 15px 0px rgba(21,68,113,0.4);color:#fff;font-size:16px;line-height: 44px;text-align:center;counter-increment:index;content:counter(index)}
.step .step_item:last-child:after{background-color:#338ada;}
.step .step_inner{display:block;overflow:hidden;position:relative;border-top-right-radius: 55px;box-sizing:border-box;background-color:#fff}
.step .step_item:last-child .step_inner{border-color:#038e78}
.step .step_title{display:block;position:relative;width:100%;padding: 40px 20px 0;color:#222;font-weight:700;font-size:18px;line-height:25px;letter-spacing:-0.01em;vertical-align:middle}
.step .step_title:after{display:inline-block; height:100%; vertical-align:middle;}
.step .step_title span{display:inline-block; word-break:keep-all; vertical-align:middle}
.step .step_text{display:block;width:100%;padding: 29px 20px 33px;color:#535353;font-size:16px;line-height:22px;letter-spacing:-0.025em;}
.step .step_text:after{display:inline-block; height:100%; vertical-align:middle}
.step .step_text span{display:inline-block; vertical-align:middle}
@media all and (min-width:1201px){
    .step.reverse .step_item:nth-child(n+5){float:right;}
    .step.reverse .step_item:nth-child(n+9){float:left;}
    .step.reverse .step_item:nth-child(n+5):nth-child(-n+8):before{left:-32px; transform:rotate(180deg);}
    .step.reverse .step_item:nth-child(4n):before{top:auto; right:0; left:0; bottom:-40px; margin:0 auto; transform:rotate(90deg);}
}
@media all and (max-width:1200px){
    .step .step_item{width:calc((100% - 150px)/3);}
    .step .step_item:nth-child(4n):before{}
    .step .step_item:nth-child(3n):before{display:none}
}
@media all and (max-width:800px){
    .step .step_item{width:calc((100% - 100px)/2);}
    .step .step_item:before{right:-30px}
    .step .step_item:nth-child(3n):before{display:block}
    .step .step_item:nth-child(2n):before{display:none}
    .step .step_title{font-size:17px; line-height:22px;}
    .step .step_text{font-size:15px; line-height:20px;}
}
@media all and (max-width:640px){
    .step{padding:30px 25px;}
    .step .step_list{margin-top:-35px; margin-right:-35px;}
    .step .step_item{width:calc((100% - 70px)/2); margin-top:35px; margin-right:35px; padding-top:14px}
    .step .step_item:before{top:50%; width:25px; height:25px; border-radius:10px; background-size:7px 11px;}
    .step .step_item:nth-child(2n):before{top:calc(100% + 5px); right:auto; left:calc(50% - 12px); transform:rotate(90deg);}
    .step .step_item:after{left:14px; width:30px; height:30px; font-size:13px; line-height:32px}
    .step .step_inner{border-top-right-radius:40px}
    .step .step_title{padding:30px 15px 0;}
    .step .step_text{padding:25px 15px 23px;}
}
@media all and (max-width:480px){
    .step .step_list{margin-right:0;}
    .step .step_item{float:none!important; width:100%; margin-right:0;}
    .step .step_item:before{top:calc(100% + 11px)!important; right:auto!important; left:calc(50% - 12px)!important; transform:rotate(90deg)!important;}
    .step .step_item:nth-child(2n):before{display:block}
    .step .step_item:last-child:before{display:none}
}




/* 공통 길이 */
/* 정렬 */
.text_center{text-align:center!important}
.text_right{text-align:right!important}
.text_left{text-align:left!important}

/* margin */
.margin_0{margin:0!important}
.margin_10{margin:10px!important}
.margin_20{margin:20px!important}
.margin_30{margin:30px!important}
.margin_40{margin:40px!important}
.mt0{margin-top:0!important}
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.mt55{margin-top:55px!important}
.mt60{margin-top:60px!important}
.mr0{margin-right:0!important}
.mr5{margin-right:5px!important}
.mr10{margin-right:10px!important}
.mr15{margin-right:15px!important}
.mr20{margin-right:20px!important}
.mr25{margin-right:25px!important}
.mr30{margin-right:30px!important}
.mr35{margin-right:35px!important}
.mr40{margin-right:40px!important}
.mr45{margin-right:45px!important}
.mr50{margin-right:50px!important}
.mr55{margin-right:55px!important}
.mr60{margin-right:60px!important}
.mb0{margin-bottom:0!important}
.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.ml0{margin-left:0!important}
.ml5{margin-left:5px!important}
.ml10{margin-left:10px!important}
.ml15{margin-left:15px!important}
.ml20{margin-left:20px!important}
.ml25{margin-left:25px!important}
.ml30{margin-left:30px!important}
.ml35{margin-left:35px!important}
.ml40{margin-left:40px!important}
.ml45{margin-left:45px!important}
.ml50{margin-left:50px!important}
.ml55{margin-left:55px!important}
.ml60{margin-left:60px!important}

/* padding */
.padding_0{padding:0!important}
.padding_10{padding:10px!important}
.padding_20{padding:20px!important}
.padding_30{padding:30px!important}
.padding_40{padding:40px!important}
.pt0{padding-top:0!important}
.pt5{padding-top:5px!important}
.pt10{padding-top:10px!important}
.pt15{padding-top:15px!important}
.pt20{padding-top:20px!important}
.pt25{padding-top:25px!important}
.pt30{padding-top:30px!important}
.pt35{padding-top:35px!important}
.pt40{padding-top:40px!important}
.pt45{padding-top:45px!important}
.pt50{padding-top:50px!important}
.pt55{padding-top:55px!important}
.pt60{padding-top:60px!important}
.pr0{padding-right:0!important}
.pr5{padding-right:5px!important}
.pr10{padding-right:10px!important}
.pr15{padding-right:15px!important}
.pr20{padding-right:20px!important}
.pr25{padding-right:25px!important}
.pr30{padding-right:30px!important}
.pr35{padding-right:35px!important}
.pr40{padding-right:40px!important}
.pr45{padding-right:45px!important}
.pr50{padding-right:50px!important}
.pr55{padding-right:55px!important}
.pr60{padding-right:60px!important}
.pb0{padding-bottom:0!important}
.pb5{padding-bottom:5px!important}
.pb10{padding-bottom:10px!important}
.pb15{padding-bottom:15px!important}
.pb20{padding-bottom:20px!important}
.pb25{padding-bottom:25px!important}
.pb30{padding-bottom:30px!important}
.pb35{padding-bottom:35px!important}
.pb40{padding-bottom:40px!important}
.pb45{padding-bottom:45px!important}
.pb50{padding-bottom:50px!important}
.pb55{padding-bottom:55px!important}
.pb60{padding-bottom:60px!important}
.pl0{padding-left:0!important}
.pl5{padding-left:5px!important}
.pl10{padding-left:10px!important}
.pl15{padding-left:15px!important}
.pl20{padding-left:20px!important}
.pl25{padding-left:25px!important}
.pl30{padding-left:30px!important}
.pl35{padding-left:35px!important}
.pl40{padding-left:40px!important}
.pl45{padding-left:45px!important}
.pl50{padding-left:50px!important}
.pl55{padding-left:55px!important}
.pl60{padding-left:60px!important}

/* 퍼센트 넓이 */
.w5p{width:5%!important}
.w10p{width:10%!important}
.w15p{width:15%!important}
.w20p{width:20%!important}
.w25p{width:25%!important}
.w30p{width:30%!important}
.w35p{width:35%!important}
.w40p{width:40%!important}
.w45p{width:45%!important}
.w50p{width:50%!important}
.w55p{width:55%!important}
.w60p{width:60%!important}
.w65p{width:65%!important}
.w70p{width:70%!important}
.w75p{width:75%!important}
.w80p{width:80%!important}
.w85p{width:85%!important}
.w90p{width:90%!important}
.w95p{width:95%!important}
.w100p{width:100%!important}
@media all and (max-width:765px){
    .w-sm-5p{width:5%!important}
    .w-sm-10p{width:10%!important}
    .w-sm-15p{width:15%!important}
    .w-sm-20p{width:20%!important}
    .w-sm-25p{width:25%!important}
    .w-sm-30p{width:30%!important}
    .w-sm-40p{width:40%!important}
    .w-sm-50p{width:50%!important}
    .w-sm-60p{width:60%!important}
    .w-sm-70p{width:70%!important}
    .w-sm-80p{width:80%!important}
    .w-sm-90p{width:90%!important}
    .w-sm-100p{width:100%!important}
}