@charset "utf-8";

/* layout */
/* 헤더 투명인데 폰트는 검정색 .black 추가 */
:not(.lnb_open) .trans.black #header .logo .logo_anchor img{opacity:100 !important;}
:not(.lnb_open) .trans.black #header .logo .logo_anchor span,
:not(.lnb_open) .trans.black .lnb .menu .depth1_text,
:not(.lnb_open) .trans.black .gnb .link_anchor,
:not(.lnb_open) .trans.black #header:not(.fixed) .gnb .link_anchor{color:#000 !important;}
:not(.lnb_open) .trans.black .gnb .link_item.home .link_anchor:before{background-position:left 44.44% !important;}
@media all and (max-width:1000px){
    .trans.black .lnb .menu_show .menu_btn:before{background-position:left top !important;}
}

/* rowgroup 비주얼 */
.rowgroup{position:relative;}
.search{position:relative; padding-top:140px;}
.search:before{display:block; position:absolute; top:0; left:50%; width:100vw; height:500px; background:#eaf0f9 url("../images/main/search_bg01.png") no-repeat bottom -179px center; transform:translateX(-50%);}
.search:after{display:block; position:absolute; top:140px; left:0; width:100%; height:1px; background:rgba(0, 0, 0, 0.12);}
.search .search_title{display:block; position:relative; padding-top:110px; text-align:center;}
.search .search_title p{color:#072345; font-size:48px; font-weight:700; text-align:center; line-height:70px; animation:focus-in-contract 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; letter-spacing:-0.025em;}
.search .search_title span{margin-top:17px; color:#444; font-size:24px; font-weight:500; line-height:36px; animation:text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; animation-delay:1s; word-break:keep-all;}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@media all and (max-width:1000px){
    .search:before{height:385px;}
    .search:after{top:67px;}
    .search .search_title{padding-top:0;}
    .search .search_title p{font-size:45px;}
    .search .search_title span{font-size:22px;}
}
@media all and (max-width:800px){
    .search .search_title p{font-size:40px; line-height:60px;}
    .search .search_title span{font-size:20px; line-height:30px;}
}
@media all and (max-width:640px){
    .search .search_title p{font-size:34px; line-height:50px;}
    .search .search_title span{font-size:16px; line-height:24px;}
}

/* 검색창 */
.search .search_box.n1{display:block; position:relative; margin-top:75px;}
.search .search_box .search_form{position:relative; width:920px; height:100px; margin:0 auto; border:4px solid #3373c1; border-radius:50px; background-color:#fff; box-sizing:border-box;}
.search .search_box .search_form fieldset{font-size:0; line-height:0;}
.search .search_box .search_form fieldset .search_select{display:inline-block; width:174px; vertical-align:middle;}
.search .search_box .search_form fieldset .search_select .selected_btn{position:relative; z-index:2; width:100%; padding-left:44px; color:#3373c1; font-size:21px; font-weight:600; text-align:left; line-height:40px; transition:padding-left 0.3s ease-in-out; letter-spacing:-0.025em;}
.search .search_box .search_form fieldset .search_select .selected_btn:after{display:block; position:absolute; top:0; right:0; bottom:0; width:26px; height:25px; margin:auto 0; background:url("../images/main/select_icon.png") no-repeat top left; transition:right 0.3s ease-in-out;}
.search .search_box .search_form fieldset .search_select .selected_btn.active{padding-left:30px; color:#fff; transition:padding-left 0.3s ease-in-out;}
.search .search_box .search_form fieldset .search_select .selected_btn.active:after{right:12px; background-position:-26px; transition:right 0.3s ease-in-out;}
.search .search_box .search_form fieldset .search_select .select_list{display:none; position:absolute; top:-4px; left:-4px; z-index:1; width:190px; height:206px; padding-top:95px; padding-left:30px; border-radius:50px; background:linear-gradient(-45deg, #1d3dac, #3373c1); animation:height 0.4s ease-in-out;}
.search .search_box .search_form fieldset .search_select .select_list:before{display:block; position:absolute; top:80px; left:25px; width:calc(100% - 50px); height:1px; background-color:rgba(255, 255, 255, 0.4);}
.search .search_box .search_form fieldset .search_select .select_list .select_item{color:#fff; font-size:21px; line-height:40px; animation:opacity 0.8s ease-in-out; letter-spacing:-0.025em;}
.search .search_box .search_form fieldset .search_select .select_list .select_item .select_btn{font-weight:400; letter-spacing:-0.025em;}
.search .search_box .search_form fieldset .search_select .select_list .select_item .select_btn:hover{font-weight:600;}

.search .search_box .search_form fieldset .search_input{display:inline-block; width:calc(100% - 174px); height:92px; padding-right:150px; padding-left:25px; border-radius:0 50px 50px 0; color:#15457f; font-size:22px; font-weight:500; line-height:40px; vertical-align:middle;}
.search .search_box .search_form fieldset .search_input::placeholder{color:#898989;}
.search .search_box .search_form fieldset .search_btn{display:inline-block; position:absolute; top:50%; right:-17px; width:125px; height:125px; border-radius:50%; background-color:#3373c1; transform:translateY(-50%);}
.search .search_box .search_form fieldset .search_btn:before{display:block; position:absolute; top:50%; left:50%; width:165px; height:165px; border-radius:50%; background:rgba(51, 115, 193, 0.15); transform:translate(-50%, -50%);}
.search .search_box .search_form fieldset .search_btn:hover{background-color:#3558d2;}
.search .search_box .search_form fieldset .search_btn span{position:relative; padding-top:28px; color:#fff; font-size:18px; font-weight:500; line-height:40px; letter-spacing:-0.025em;}
.search .search_box .search_form fieldset .search_btn span:before{display:block; position:absolute; top:0; left:0; right:0; width:30px; height:30px; margin:0 auto; background:url("../images/main/search_icon.png") no-repeat center;}

.search .search_box .search_way{position:relative; margin-top:14px; margin-left:-123px; color:#fff; font-size:16px; font-weight:300; text-align:center; line-height:40px; letter-spacing:-0.025em;}
.search .search_box .search_way .title{position:relative; padding-right:35px; padding-left:35px; color:#88c8ff; font-weight:500;}
.search .search_box .search_way .title:before{display:block; position:absolute; top:0; left:0; bottom:0; width:20px; height:20px; margin:auto 0; background:url("../images/main/search_icon02.png") no-repeat center left;}
.search .search_box .search_way .title:after{display:block; position:absolute; top:0; right:9px; bottom:0; width:20px; height:20px; margin:auto 0; background:url("../images/main/search_icon02.png") no-repeat center right;}
.search .search_box .search_way .text_gray{color:#bcc9dc;}

@keyframes height {
    0% {
        height:100px;
    }
    100% {
        height:206px;
    }
}
@keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:100;
    }
}

@media all and (max-width:1200px){
    .search .search_box .search_form{width:calc(100% - 80px);}
    .search .search_box .search_way{margin-left:10%; text-align:left;}
}
@media all and (max-width:1000px){
    .search .search_box .search_form{height:90px;}
    .search .search_box .search_form fieldset .search_select .selected_btn{font-size:19px;}
    .search .search_box .search_form fieldset .search_select .select_list .select_item{font-size:19px;}
    .search .search_box .search_form fieldset .search_input{height:82px; font-size:20px;}
    .search .search_box .search_form fieldset .search_btn{right:-5px; width:115px; height:115px;}
    .search .search_box .search_form fieldset .search_btn:before{width:155px; height:155px;}
    .search .search_box .search_form fieldset .search_btn span:before{width:25px; height:25px; background-size:cover;}
    .search .search_box .search_way{font-size:15px;}
}
@media all and (max-width:800px){
    .search:before{height:370px;}
    .search .search_box .search_form{width:100%;}
    .search .search_box .search_way{margin-left:3%; line-height:25px;}
    .search .search_box .search_way .title{display:inline-block; width:127px; vertical-align:top;}
    .search .search_box .search_way .text{display:inline-block; width:calc(100% - 127px); vertical-align:top;}
}
@media all and (max-width:640px){
    .search:before{height:330px;}
    .search .search_box.n1{margin-top:65px;}
    .search .search_box .search_form{width:100%; height:71px; border-width:3px;}
    .search .search_box .search_form fieldset .search_input{width:calc(100% - 101px); height:65px; padding-right:100px; padding-left:16px; font-size:15px;}
    .search .search_box .search_form fieldset .search_select{width:101px;}
    .search .search_box .search_form fieldset .search_select .selected_btn{padding-left:20px; font-size:14px;}
    .search .search_box .search_form fieldset .search_select .selected_btn:after{width:20px; height:19px; background-size:cover;}
    .search .search_box .search_form fieldset .search_btn{width:88px; height:88px;}
    .search .search_box .search_form fieldset .search_btn:before{width:116px; height:116px;}
    .search .search_box .search_form fieldset .search_btn span{font-size:12px; line-height:20px;}
    .search .search_box .search_form fieldset .search_btn span:before{width:22px; height:22px;}
    
    .search .search_box .search_form fieldset .search_select .select_list{top:-3px; left:-3px; width:123px; height:145px; padding-top:67px; padding-left:17px; border-radius:35px;}
    .search .search_box .search_form fieldset .search_select .select_list:before{top:55px; left:17px; width:calc(100% - 34px);}
    .search .search_box .search_form fieldset .search_select .select_list .select_item{font-size:14px; line-height:28px;}
    .search .search_box .search_form fieldset .search_select .selected_btn.active{padding-left:17px;}
    .search .search_box .search_form fieldset .search_select .selected_btn.active:after{right:0; background-position:-20px;}
    
    .search .search_box .search_way{margin-left:0; font-size:12px; line-height:20px;}
    .search .search_box .search_way .title{width:91px; padding-right:16px; padding-left:30px;}
    .search .search_box .search_way .title:before{left:5px; width:14px; height:14px; background-size:cover;}
    .search .search_box .search_way .title:after{right:0; width:14px; height:14px; background-size:cover;}
    .search .search_box .search_way .text{width:calc(100% - 91px);}
    .search .search_box .search_way .text .text_gray{display:inline; word-break:keep-all;}
    
    @keyframes height {
        0% {
            height:80px;
        }
        100% {
            height:145px;
        }
    }
}

@media all and (max-width:480px){
    .search .search_box .search_form fieldset .search_input{padding-right:90px;}
    .search .search_box .search_form fieldset .search_btn{right:-10px;}
}
@media all and (max-width:463px){
    .search:before{height:45%;}
}

/* 검색 링크 */
.search .search_box.n2{display:block; position:relative; width:100%; min-height:348px; padding-top:123px; font-size:0; line-height:0;}
.search .search_box.n2:before{display:block; position:absolute; top:-102px; left:50%; z-index:-1; width:100vw; height:450px; background:url("../images/main/search_bg03.jpg") no-repeat center center; animation:bgChange 5s; transform:translateX(-50%);}
.search .search_box.n2:after{display:block; position:absolute; top:48px; left:50%; width:20px; height:20px; background:url("../images/main/search_deco.png") no-repeat center;}
.search .search_box .search_text{display:inline-block; position:relative; width:calc(50% + 75px); text-align:right; vertical-align:middle;}
.search .search_box .search_text .text1{color:#fff; font-size:24px; font-weight:500; line-height:34px; letter-spacing:-0.025em;word-break:keep-all;}
.search .search_box .search_text .text1 .text_green{color:#b8e06a;}
.search .search_box .search_text .text2{margin-top:19px; color:rgba(255, 255, 255, 0.75); font-size:15px; font-weight:300; line-height:24px; letter-spacing:-0.025em;}
.search .search_box .search_link{display:inline-block; position:relative; width:calc(50% - 75px); padding-left:226px; vertical-align:middle;}
.search .search_box .search_link:before{display:block; position:absolute; top:50%; left:92px; width:39px; height:33px; background:url("../images/main/search_link_arrow2.png") no-repeat center; transform:translateY(-50%);}
.search .search_box .search_link .search_anchor{display:table; position:relative; width:280px; height:145px; border:3px solid #aed06d; border-radius:35px; text-align:center; box-sizing:border-box;}
.search .search_box .search_link .search_anchor:before{display:block; position:absolute; top:17px; right:17px; width:20px; height:20px; background:url("../images/main/search_link_arrow.png") no-repeat top left; content:'';}
.search .search_box .search_link .search_anchor:after{display:none; position:absolute; top:0; left:0; width:280px; height:145px; background:url("../images/main/shortcut_border.png") no-repeat; content:'';}
.search .search_box .search_link .search_anchor span{display:table-cell; color:#fff; font-size:22px; font-weight:500; line-height:32px; vertical-align:middle; letter-spacing:-0.025em;}
.search .search_box .search_link .search_anchor span .text_green{color:#aed06d;}

@media all and (min-width:1001px){
    /* hover */
    /*.search .search_box .search_link .search_anchor:hover{border-color:transparent; background-image:linear-gradient(#fff, #fff), linear-gradient(135deg,#aed06d, #3b8bec); background-origin: border-box; background-clip:content-box, border-box;}*/
    .search .search_box .search_link .search_anchor:hover{border-color:transparent;}
    .search .search_box .search_link .search_anchor:hover:after{display:block; top:-3px; left:-3px;}
    .search .search_box .search_link .search_anchor:hover:before{background-position:top left -20px;}
    .search .search_box .search_link .search_anchor:hover span{color:#bfed68;}
    .search .search_box .search_link .search_anchor:hover span .text_green{color:#bfed68;}
}

@keyframes bgChange {
    0% {
        background:url("../images/main/search_bg02.jpg") no-repeat center center;
        background-size: cover;
    }
    100% {
        background:url("../images/main/search_bg03.jpg") no-repeat center center;
        background-size: cover;
    }
}

@media all and (max-width:1200px){
    .search .search_box .search_text{width:calc(50% - 50px);}
    .search .search_box .search_link{width:calc(50% + 50px);}
}
@media all and (max-width:1000px){
    .search .search_box .search_text{width:52%;}
    .search .search_box .search_link{width:48%;}
    .search .search_box .search_text .text1{font-size:22px;}
    .search .search_box .search_text .text2{font-size:14px;}
    .search .search_box .search_link{padding-left:15%;}
    .search .search_box .search_link:before{left:45px;}
    .search .search_box .search_link .search_anchor{width:95%;}
}
@media all and (max-width:800px){
    .search .search_box.n2{padding-top:80px;}
    .search .search_box.n2:after{top:30px;}
    .search .search_box .search_text{width:100%; text-align:center;}
    .search .search_box .search_text .text1{font-size:20px; line-height:30px;}
    .search .search_box .search_text .text2{margin-top:15px; font-size:13px;}
    .search .search_box .search_link{width:100%; margin-top:30px; padding-left:31%;}
    .search .search_box .search_link:before{left:15%;}
    .search .search_box .search_link .search_anchor{width:260px; height:135px;}
    .search .search_box .search_link .search_anchor span{font-size:20px; line-height:30px;}
}
@media all and (max-width:640px){
    .search .search_box.n2{padding-top:70px;}
    .search .search_box.n2:after{top:29px; width:15px; height:15px; background-size:cover;}
    .search .search_box .search_text .text1{font-size:17px; line-height:23px;}
    .search .search_box .search_text .text2{font-size:11px; line-height:17px;}
    .search .search_box .search_link{padding-left:33.5%;}
    .search .search_box .search_link:before{left:15%; width:27px; height:23px; background-size:cover;}
    .search .search_box .search_link .search_anchor{width:197px; height:102px; border-width:2px; border-radius:25px;}
    .search .search_box .search_link .search_anchor:before{top:12px; right:10px; width:15px; height:15px; background-size:cover;}
    .search .search_box .search_link .search_anchor span{font-size:15px; line-height:22px;}
}
@media all and (min-width:641px) and (max-width:800px) {
    .search .search_box.n2{min-height:398px;}
    .search .search_box.n2:before{height:500px; background-size:cover;}
}
@media all and (min-width:641px) and (max-width:719px) {
    .search .search_box.n2:before{top:-107px;}
}
@media all and (max-width:516px){
    .search .search_box.n2:before{top:-90px; height:454px;}
    .rowgroup2{margin-top:14px;}
}
@media all and (max-width:480px){
    .search .search_box .search_link{padding-left:27.5%;}
    .search .search_box .search_link:before{left:35px;}
}

/* shortcut 바로가기 */
.rowgroup2{position:relative;}
.shortcut{position:relative; border-bottom:1px solid #ccc;}
.shortcut .shortcut_list{display:block; position:relative; width:100%; padding:35px 0; font-size:0; text-align:center; line-height:0;}
.shortcut .shortcut_list:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:3px; height:15px; margin:auto; background:url("../images/main/shortcut_line.png") no-repeat;}
.shortcut .shortcut_list .shortcut_item{display:inline-block; position:relative; width:50%; padding-right:80px; text-align:right;}
.shortcut .shortcut_list .shortcut_item.n2{padding-right:0; padding-left:80px; text-align:left;}
.shortcut .shortcut_list .shortcut_item .shortcut_anchor{position:relative; padding-right:45px; padding-left:70px;}
.shortcut .shortcut_list .shortcut_item .shortcut_anchor span{color:#333; font-size:19px; font-weight:400; line-height:30px;}
.shortcut .shortcut_list .shortcut_item .shortcut_anchor span b{font-weight:500;}
.shortcut .shortcut_list .shortcut_item .shortcut_anchor:before{display:block; position:absolute; top:0; left:0; bottom:0; width:50px; height:50px; margin:auto 0; border-radius:20px; background:#eaf0f9 url("../images/main/shortcut_icon.png") no-repeat top left;}
.shortcut .shortcut_list .shortcut_item.n2 .shortcut_anchor:before{background-position:top left -50px;}
.shortcut .shortcut_list .shortcut_item .shortcut_anchor:after{display:block; position:absolute; top:0; right:-25px; bottom:0; width:50px; height:50px; margin:auto 0; background:url("../images/main/shortcut_icon.png") no-repeat top right;}

@media all and (min-width:1001px){
    /* hover */
    .shortcut .shortcut_list .shortcut_item .shortcut_anchor:hover:before{background-position:top -50px left;}
    .shortcut .shortcut_list .shortcut_item.n2 .shortcut_anchor:hover:before{background-position:top -50px left -50px;}
    .shortcut .shortcut_list .shortcut_item .shortcut_anchor:hover:after{background-position:top -50px right;}
}

@media all and (max-width:800px){
    .shortcut .shortcut_list .shortcut_item{padding-right:50px;}
    .shortcut .shortcut_list .shortcut_item.n2{padding-left:50px;}
    .shortcut .shortcut_list .shortcut_item .shortcut_anchor{padding-left:60px; padding-right:35px;}
    .shortcut .shortcut_list .shortcut_item .shortcut_anchor span{font-size:17px;}
}
@media all and (max-width:640px){
    .shortcut .shortcut_list{padding:25px 0;}
    .shortcut .shortcut_list .shortcut_item .shortcut_anchor{padding-left:52px; padding-right:20px; text-align:left;}
    .shortcut .shortcut_list .shortcut_item .shortcut_anchor:before{width:36px; height:36px; border-radius:15px; background-size:108px 72px;}
    .shortcut .shortcut_list .shortcut_item.n2 .shortcut_anchor:before{background-position:top left -36px;}
    .shortcut .shortcut_list .shortcut_item .shortcut_anchor:after{width:36px; height:36px; background-size:120px 80px; background-position:top -2px left -82px;}
    .shortcut .shortcut_list .shortcut_item .shortcut_anchor span{font-size:14px; line-height:20px;}
    .shortcut .shortcut_list .shortcut_item .shortcut_anchor span b{display:block;}
}
@media all and (max-width:480px){
    .shortcut .shortcut_list .shortcut_item{padding-right:30px;}
    .shortcut .shortcut_list .shortcut_item.n2{padding-left:30px;}
    .shortcut .shortcut_list .shortcut_item .shortcut_anchor{padding-right:12px;}
}
