@charset "UTF-8";

/* colgroup */
.colgroup{position:relative;padding-top: 203px;margin-bottom:30px;}
@media all and (max-width:1000px){
    .colgroup{position:relative;padding-top: 108px;}
}
@media all and (max-width:640px){
    .colgroup{padding-top: 104px;}
}

/* 콘텐츠 */
#contents{position:relative;min-height: 600px;margin-top: 78px;margin-bottom:140px;}
@media all and (max-width:640px){
    #contents{min-height: 634px;margin-top: 24px;margin-bottom: 53px;}
}

/* 서브헤드 */
.sub_head{position:relative;padding-bottom: 32px;border-bottom:1px solid rgba(0,0,0, 0.1);}
.sub_head .sub_title{padding-top: 78px;color:#000;font-size: 42px;line-height: 48px;letter-spacing:-0.03em;}

@media all and (max-width:1200px){
    .sub_head .sub_title{padding-top: 69px;font-size: 38px;}
}
@media all and (max-width:640px){
    .sub_head .sub_title{padding-top: 29px;font-size: 22px;}
    .sub_head{padding-bottom: 3px;}
}
/* 브래드크럼 */
.breadcrumbs{font-size:0;line-height:0;background-color: #f3f8fb;}
.breadcrumbs_list{overflow: visible;padding-left: 38px;}
.breadcrumbs .breadcrumbs_item{display:inline-block;position:relative;padding-right: 28px;padding-left: 24px;font-size: 18px;line-height:80px;letter-spacing:-0.03em;color:#585858;vertical-align: middle;}
.breadcrumbs .breadcrumbs_item:before{display:block;position:absolute;top:0;bottom:0;left: 0;width: 1px;height: 26px;margin-top:auto;margin-bottom:auto;background-color: #dadfe1;font-size:0;line-height:0;}/*컬러깨짐*/
.breadcrumbs .breadcrumbs_item:first-child{margin-left:0;padding-left:0;font-size:0;line-height:0;}
.breadcrumbs .breadcrumbs_item.home:before{display:none;}
.breadcrumbs .breadcrumbs_item:last-child{padding-right:24px;}
.breadcrumbs .breadcrumbs_item:last-child:after{display:block;position:absolute;top:0;bottom:0;right: 0;width: 1px;height: 26px;margin-top:auto;margin-bottom:auto;background-color: #dadfe1;font-size:0;line-height:0;}

.breadcrumbs .breadcrumbs_anchor{position:relative;min-width: 212px;font-family: 'NEXON Lv2 Gothic';}
.breadcrumbs .breadcrumbs_anchor:before{display:block;position:absolute;top: 37px;right:0;width:12px;height:7px;background:url(/site/sbinfo/images/sub/arrow.png) 0 0 no-repeat;}
.breadcrumbs .breadcrumbs_item:first-child .breadcrumbs_anchor{min-width:unset;/* width: 20px; *//* height: 20px; */}
.breadcrumbs .breadcrumbs_item:first-child .breadcrumbs_anchor:before{display:none;}
.breadcrumbs .breadcrumbs_item:first-child .breadcrumbs_anchor:after{display:block;position:relative;top: -1px;left:0;width:18px;height:16px;background:url(/site/sbinfo/images/sub/home_icon.png) 0 0 no-repeat;}
.breadcrumbs .breadcrumbs_anchor:hover, .breadcrumbs .breadcrumbs_anchor:focus{text-decoration: none;}
.breadcrumbs .breadcrumbs_item .layer{display:none;position:absolute;top: 80px;left: 0;padding:26px 23px; width: 100%;background-color: #fff;box-shadow: 10px 17px 100px 0px rgba(60,77,116,0.1);}
.breadcrumbs .breadcrumbs_item:hover .breadcrumbs_anchor, .breadcrumbs .breadcrumbs_item.active .breadcrumbs_anchor{font-weight: 700;color: #141414;}
.breadcrumbs .breadcrumbs_item .layer ul li{line-height:40px;}
.breadcrumbs .breadcrumbs_item .layer ul li a{color: #434343;}
.breadcrumbs .breadcrumbs_item.active .layer ul li a:hover{position:relative;color:#338ada}
.breadcrumbs .breadcrumbs_item.active .layer ul li a:hover:before{display:block;position:absolute;bottom:12px; left:0;width:100%; height:2px; background-color:#99c4ec;}/*컬러깨짐*/

@media all and (min-width:1001px){
    .breadcrumbs .breadcrumbs_item.active .breadcrumbs_anchor:before{transform:rotate(180deg);}
    .breadcrumbs .breadcrumbs_item.active{background-color: #d4e5f5;}
}

@media all and (max-width:1200px){
    .breadcrumbs .breadcrumbs_anchor{position:relative;min-width: 170px;}
    /* .breadcrumbs_list{padding-left: 51px;}*/
}

@media all and (max-width:1000px){
    .breadcrumbs .breadcrumbs_item{padding-left: 0;padding-right: 0;}
    .breadcrumbs .breadcrumbs_item:first-child{padding-right:0;}
    .breadcrumbs .breadcrumbs_item:before{display:none}
    .breadcrumbs .breadcrumbs_item:last-child:after{display:none;}
    .breadcrumbs .breadcrumbs_anchor{min-width: unset;padding-right: 34px;}
    .breadcrumbs .breadcrumbs_item:first-child .breadcrumbs_anchor{padding-right: 36px;}
    .breadcrumbs .breadcrumbs_anchor:before{top: 34px;right: 12px;width:8px;height:11px;background: url(/site/sbinfo/images/sub/menu_arrow2.png) 50% 50% no-repeat;}
    .breadcrumbs .breadcrumbs_item:first-child .breadcrumbs_anchor:before{display:inline-block;top: 2px;right: 13px;}
    .breadcrumbs .breadcrumbs_item:last-child .breadcrumbs_anchor:before{display:none;}
    .breadcrumbs .breadcrumbs_item .layer{display:none!important;}
}

@media all and (max-width:640px){
    .breadcrumbs_list{/* padding-top: 14px; */padding-left: 17px;}
    .breadcrumbs .breadcrumbs_item{font-size:14px;line-height: 55px;}
    .breadcrumbs .breadcrumbs_item:first-child .breadcrumbs_anchor{padding-right: 20px;}
    .breadcrumbs .breadcrumbs_anchor{padding-right: 29px;}
    .breadcrumbs .breadcrumbs_anchor:before{top: 22px;right: 9px;}
    .breadcrumbs .breadcrumbs_item:first-child .breadcrumbs_anchor:after{width: 14px;height: 13px;background-size: cover;}
    .breadcrumbs .breadcrumbs_item:first-child .breadcrumbs_anchor:before{top: 1px;right: 6px;}

}

/* 공유, 인쇄 */
.addons{position:absolute;top: 48px;right: 30px;font-size:0;line-height:0;}
.addons_list{width:122px;height:61px;padding: 19px 4px 19px 30px;background-color: #fff;border-radius:61px;box-shadow:16px 28px 122px 0 rgba(60,77,116,0.2);}
.addons .addons_item{display:inline-block;margin-right: 19px;vertical-align:top;}
.addons .addons_button{width:21px;height:20px;background: url(/site/sbinfo/images/sub/addons.png) 0 0 no-repeat;}
.addons .addons_item.print .addons_button{background-position: 100% 0;}
.addons .addons_button:hover,  .addons_item.active .addons_button{background-image: url(/site/sbinfo/images/sub/addons_ov.png)}
.addons_item.share.toggle.active .addons_button.share_show{background-image: url(/site/sbinfo/images/sub/close_icon.png);background-position: 50%;}
.addons .share{position:relative;}
.addons .share_item{display: block;margin-bottom: 10px;}
.addons .share_panel{display:none;position:absolute;top: 54px;right: -10px;white-space:nowrap;}
.addons .share_list{display: block;}
.addons .share_anchor{display:block; width:40px; height:40px; background:url(/site/sbinfo/images/sub/sns_icon.png) 0 0 no-repeat; background-size:40px 140px;}
.addons .share_item.n2 .share_anchor{background-position-y:50%}
.addons .share_item.n3 .share_anchor{background-position-y:100%}
.addons .share_hide{display: block;margin-bottom: 5px;width:40px;height:40px;background:#999;vertical-align:top;}
.addons .share.active .share_panel{display:block;}


@media all and (max-width:1000px){
    .addons {right: 24px;}
}

@media all and (max-width:800px){
    .addons_list{width:auto;padding-right: 10px;}
    .addons .addons_item.print {display:none;}
}
@media all and (max-width:640px){
    .addons {top: 39px;right: 9px;}
    .addons_list{height: 33px;padding: 9px 16px;border-radius: 33px;}
    .addons .addons_button{width:14px;height:15px;background-size:cover;}
    .addons .addons_item{margin-right:0;}
    .addons_item.share.toggle.active .addons_button.share_show{width: 11px;height: 12px;margin: 0 2px;}
    .addons .share_anchor{transform: scale(0.73);}
    .addons .share_panel{top: 34px;right: -13px;}
    .addons .share_item{margin-bottom: -5px;}
}