@charset "UTF-8";

/* 초기화 */
article,aside,audio,blockquote,body,canvas,caption,dd,details,div,dl,dt,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,iframe,legend,li,main,menu,nav,ol,p,pre,section,summary,table,tbody,td,template,textarea,tfoot,th,thead,tr,ul,video{box-sizing:border-box}
a,em,span{display:inline-block; margin:0; padding:0; box-sizing:border-box}
a:active,a:hover,a:link,a:visited{color:#444; text-decoration:none}
a:focus{text-decoration:underline}
button,input,optgroup,select,textarea{margin:0; padding:0; box-sizing:border-box; color:inherit; font-size:inherit; font-family:inherit; line-height:inherit; vertical-align:middle}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px white inset}
:after,:before{display:none; content:''}

#wrapper{overflow:hidden; position:relative; width:100%;}
.wrap{position:relative; width:1440px; margin-right:auto; margin-left:auto;}
@media all and (max-width:1440px){
    #wrapper{min-width:1200px;}
    .wrap{width:1200px;}
}
@media all and (max-width:1200px){
    #wrapper{min-width:1000px;}
    .wrap{width:1000px;}
}
@media all and (max-width:1000px){
    #wrapper{min-width:0;}
    .wrap{width:auto; margin-right:0; margin-left:0; padding-right:3%; padding-left:3%;}
}

/* gnb */
.gnb{position:relative; z-index:40;}
.gnb:before{display:block; position:absolute; top:0; left:50%; width:100vw; height:100%; background-color:#fff; content:''; transform:translateX(-50%);}
.gnb:after{display:block; position:absolute; top:99px; left:50%; width:100vw; height:1px; background-color:#ddd; content:''; transform:translateX(-50%);}
@media all and (max-width:1000px){
    .gnb{z-index:30;}
    .gnb:before, .gnb:after{display:none;}
}

/* 로고 */
.logo{position:relative; padding-top:22px; padding-bottom:21px; padding-right:420px;}
.logo .logo_anchor{position:relative; z-index:10; font-size:0; line-height:0;}
.logo .logo_anchor .logo_img{display:inline-block; width:162px; height:56px; vertical-align:middle;}
.logo .logo_text{display:inline-block; position:relative; width:calc(100% - 162px); padding-left:32px; color:#222; font-size:22px; font-weight:700; line-height:32px; vertical-align:middle; letter-spacing:-0.02em;}
.logo .logo_text:before{display:block; position:absolute; top:0; left:16px; bottom:0; width:1px; height:19px; margin:auto 0; background:rgba(34, 34, 34, 0.3); content:'';}
@media all and (max-width:1000px){
    .logo{z-index:10; padding:20px 10px 20px 0;}
    .logo .logo_anchor .logo_img{width:130px; height:45px;}
    .logo .logo_text{width:auto; font-size:19px;}
}
@media all and (max-width:640px){
    .logo{padding:16px 20px 16px 0;}
    .logo .logo_anchor .logo_img{width:110px; height:38px;}
    .logo .logo_text{width:calc(100% - 110px); padding-left:22px; font-size:15px; line-height:22px;}
    .logo .logo_text:before{left:10px; height:12px;}
}

/* gnb 링크 */
.gnb .link{position:absolute; top:30px; right:0; font-size:0; line-height:0;}
.gnb .link_item{display:inline-block; position:relative; margin-left:30px; padding-left:21px; vertical-align:middle;}
.gnb .link_item:before{display:block; position:absolute; top:4px; left:0; width:15px; height:18px; background:url("/site/global/images/common/gnb_link_icon.png") no-repeat; content:'';}
.gnb .link_item.sitemap:before{top:5px; background-position-x:-20px;}
.gnb .link_item.language{padding-left:0;}
.gnb .link_item.language:before{display:none;}
.gnb .link_item:first-child{margin-left:0}
.gnb .link_anchor,.gnb .link_button{color:#666; font-size:16px; font-weight:400; line-height:24px; letter-spacing:-0.02em;}

/* gnb 구글 언어 */
.google_language{position:relative;}
.google_language .goog-te-gadget .goog-te-combo{position:relative; width:200px; height:40px; margin:0; padding:9px 19px; border:1px solid #ddd; border-radius:4px; background:transparent; color:#666; font-size:14px; line-height:22px; letter-spacing:-0.02em;-webkit-appearance:none; -moz-appearance:none;}
.google_language .goog-te-gadget{position:relative; color:transparent; font-size:0;}
.google_language .goog-te-gadget .goog-logo-link{display:none; color:transparent; font-size:0;}
.google_language .goog-te-gadget > span{display:none;}
.google_language .select_icon{display:none; position:absolute; top:1px; right:1px; width:38px; height:38px; border-left:1px solid #ddd; border-radius:0 4px 4px 0; background:#f6f6f6;}
.google_language .select_icon:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:11px; height:6px; margin:auto; background:url("/site/global/images/common/gnb_link_icon.png") no-repeat top 0 left -40px;}
.google_language .goog-te-combo:active .select_icon:before{transform:rotate(180deg);}

@media all and (max-width:1000px){
    .gnb .link_item{display:none;}
    .google_language .goog-te-gadget .goog-te-combo{width:180px; height:36px; padding:6px 16px;}
    .google_language .select_icon{width:36px; height:34px;}
}

/* 주메뉴 */
@media all and (min-width:1001px){
    .lnb{position:relative; width:100%; height:70px;}
    .lnb .wrap{height:100%}
    .lnb .menu{overflow:hidden; position:absolute; top:0; left:0; z-index:20; width:100%; height:100%; background-color:#fff; transition-property:height}
    
    /* 메뉴 배경 */
    .lnb:before{display:block; opacity:0; visibility:hidden; position:fixed; top:0; left:0; z-index:10; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.3); content:''; transition-property:visibility,opacity; transition-duration:0.3s; transition-timing-function:linear;}
    .lnb:after{display:block; position:absolute; top:70px; left:0; width:100vw; height:1px; background-color:#ddd; content:'';}
    .lnb_open .lnb:before{opacity:1; visibility:visible;}
    
    /* 메뉴 높이 */
    .lnb .menu .depth2, .lnb .menu.after:after{height:calc(100% - 70px);}
    
    /* 하단 배경 */
    .lnb .menu:before{display:block; position:absolute; top:70px; left:0; z-index:20; width:calc(50% - 340px); height:calc(100% - 70px); background:linear-gradient(to right, #fff2f2, #f4f6ff); content:'';}
    .lnb .menu:after{display:block; position:absolute; left:0; bottom:0; width:620px; height:330px; background:url("/site/global/images/common/lnb_deco.png") no-repeat; content:'';}
    
    /* 하단 배경 활성화 */
    .lnb_open .lnb .menu.after:after{opacity:1; visibility:visible;}
    
    /* 메뉴 상단 정보 */
    .lnb .menu_header{display:none;}
    
    /* 메뉴 제목 */
    .lnb .menu_title{display:none;}
    
    /* 1차 메뉴 */
    .lnb .menu .depth1_list{width:100%;}
    .lnb .menu .depth1_item{width:20%; text-align:center;}
    .lnb .menu .depth1_text{display:inline-block; position:relative; height:70px; padding:0 4px; color:#222; font-size:20px; font-weight:600; text-decoration:none; line-height:30px; transition-property:color; letter-spacing:-0.02em;}
    .lnb .menu .depth1_text:before{display:inline-block; height:100%; content:''; vertical-align:middle;}
    .lnb .menu .depth1_text span{display:inline-block; vertical-align:middle;}
    /*.lnb .menu .depth1_text[target='_blank']:after{display:inline-block; width:15px; height:15px; margin-top:2.5px; margin-left:5px; vertical-align:top; background-color:#000}*/
    
    /* 1차 메뉴 활성화 */
    .lnb .menu .depth1_item.active .depth1_text{color:#1e3a9d;}
    .lnb .menu .depth1_item.active .depth1_text:after{display:block; position:absolute; left:50%; bottom:0; width:100%; height:2px; background:#1e3a9d; content:''; transform:translateX(-50%);}
    
    /* 1차메뉴 라인 */
    .lnb .menu .depth2{overflow:visible; box-sizing:border-box;transition-property:visibility,opacity}
    .lnb .menu .depth2:before{display:block; position:absolute; top:0; left:50%; width:100vw; height:1px; background-color:#ddd; content:''; transform:translateX(-50%);}
    
    /* 2차 타이틀 */
    .lnb .menu .depth2_content{position:relative; min-height:330px; padding-left:280px;}
    
    /* 메뉴 고정 높이 */
    .lnb .menu .depth2_title{overflow:visible; position:absolute; top:1px; left:0; width:280px; height:100%;}
    .lnb .menu .depth2_info{width:inherit; height:inherit; padding-top:53px; font-family:'SUITE'; text-align:left;}
    .lnb .menu .depth2_subject{position:relative; background:-webkit-linear-gradient(left, #ed282f, #1c3eeb); color:#1c3eeb; font-size:38px; font-weight:700; line-height:48px; letter-spacing:-0.02em;word-break:keep-all;-webkit-background-clip:text; -webkit-text-fill-color:transparent;}
    .lnb .menu .depth2_slogan{display:block; position:relative; margin-top:17px; color:#6a7393; font-size:16px; font-weight:400; line-height:26px; letter-spacing:-0.02em;}
    
    /* 2차 메뉴 */
    .lnb .menu .depth1_item.active .depth2{opacity:1; visibility:visible; z-index:10}
    .lnb .menu .depth2_list{top:1px; height:330px; padding:50px 0 0 60px; border-radius:0 0 0 80px; background-color:#fff; text-align:left; box-sizing:border-box;}
    .lnb .menu .depth2_item{position:relative; width:calc((100% - 60px) / 4); margin-right:20px; vertical-align:top;}
    .lnb .menu .depth2_item:nth-child(4n){margin-right:0;}
    .lnb .menu .depth2_item:nth-child(n+5){margin-top:40px;}
    .lnb .menu .depth2_item:after{display:block; position:absolute; top:0; right:25px; bottom:0; width:7px; height:12px; margin:auto 0; background:url("/site/global/images/common/lnb_arrow.png") no-repeat; content:''; transition:none;}
    .lnb .menu .depth2_item:hover:after{background-position-y:-15px;}
    
    .lnb .menu .depth2_text{display:block; position:relative; width:100%; height:50px; padding:0 45px 0 19px; border:1px solid #ddd; border-radius:5px; color:#444; font-size:16px; font-weight:500; line-height:22px; letter-spacing:-0.02em;word-break:break-all;box-sizing:border-box;}
    .lnb .menu .depth2_text:before{display:inline-block; height:100%; content:''; vertical-align:middle;}
    .lnb .menu .depth2_text:after{display:block; position:absolute; overflow:hidden; left:0; bottom:0; width:0; height:100%; border-radius:5px; background:#4366e7; box-shadow:5px 9px 25px rgba(0,38,176,0.14); content:''; transition:all 0.5s;}
    .lnb .menu .depth2_text:hover{color:#fff;}
    .lnb .menu .depth2_text:hover:after{z-index:-1; width:100%;}
    .lnb .menu .depth2_text span{display:inline-block; vertical-align:middle;}
    /*.lnb .menu .depth2_text[target='_blank']:after{display:block; position:absolute; top:0; right:0; bottom:0; width:20px; height:20px; margin-top:auto; margin-bottom:auto; background-color:#000; transition:none}*/
    /*.lnb .menu .depth1_item .depth2_text:hover[target='_blank']:after{background-color:#999}*/
    
    /* 3차 메뉴 - pc 비활성화 */
    .lnb .menu .depth3{display:none}
}
@media all and (max-width:1440px) and (min-width:1001px){
    .lnb .menu:before{width:calc(50% - 280px);}
    .lnb .menu:after{transform:scale(0.9); transform-origin:bottom left;}
    .lnb .menu .depth2_content{padding-left:260px;}
    .lnb .menu .depth2_title{width:260px;}
}
@media all and (max-width:1200px) and (min-width:1001px){
    .lnb .menu:before{width:calc(50% - 240px);}
    .lnb .menu:after{transform:scale(0.8);}
    .lnb .menu .depth1_text{font-size:18px; line-height:28px;}
    .lnb .menu .depth2_content{padding-left:200px;}
    .lnb .menu .depth2_title{width:200px;}
    .lnb .menu .depth2_subject{font-size:32px; line-height:42px;}
    .lnb .menu .depth2_list{padding:50px 0 0 40px;}
    .lnb .menu .depth2_item{width:calc((100% - 30px) / 3); margin-right:15px;}
    .lnb .menu .depth2_item:nth-child(3n){margin-right:0;}
    .lnb .menu .depth2_item:nth-child(4n){margin-right:15px;}
    .lnb .menu .depth2_item:nth-child(n+4){margin-top:20px;}
}
@media all and (max-width:1000px){

    /* 메뉴 영역 */
    .lnb .menu{opacity:0; overflow:visible; right:-100%; z-index:40; width:360px; min-height:475px; padding-top:70px; transition-property:visibility,right; transition-duration:0.25s; transition-timing-function:linear}
    .lnb .wrap{position:relative; padding:20px 0 0 15px;}
    .lnb .wrap:before{display:block; position:absolute; top:0; left:0; width:100%; height:475px; background:linear-gradient(to right, #ffe6e7, #edf0ff);}
    .lnb_show .lnb .menu{opacity:1; visibility:visible;}
    
    /* 열기 버튼 */
    .lnb .menu_show{position:absolute; top:0; right:15px; bottom:0; z-index:30; width:15px; height:15px; margin-top:auto; margin-bottom:auto;}
    .lnb .menu_show .menu_btn{position:relative; width:inherit; height:inherit;}
    .lnb .menu_show .menu_btn:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:14px; height:12px; margin:auto; background:url("/site/global/images/common/lnb_menu.png") no-repeat;}
    
    /* 닫기 버튼 */
    .lnb .menu_hide{position:absolute; top:28px; right:100%; width:15px; height:15px;}
    .lnb .menu_hide .menu_btn{display:block; position:relative; width:inherit; height:inherit;}
    .lnb .menu_hide .menu_btn:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:14px; height:14px; margin:auto; background:url("/site/global/images/common/lnb_menu.png") no-repeat top -15px left 0;}
    .lnb_show .menu_hide{right:15px;}
    
    /* 메뉴 상단 */
    .lnb .menu_header{display:block; position:absolute; top:0; left:0; width:100%; background:#fff;}
    
    /* lnb 링크 */
    .lnb .link{position:relative; padding:17px 0; height:70px; font-size:0; line-height:0;}
    .lnb .link_item{display:inline-block; position:relative; margin-left:20px; vertical-align:middle;}
    .lnb .link_item:first-child{margin-left:15px;}
    .lnb .link_item.login{padding-left:21px;}
    .lnb .link_item.login:before{display:block; position:absolute; top:4px; left:0; width:15px; height:18px; background:url("/site/global/images/common/gnb_link_icon.png") no-repeat; content:'';}
    .lnb .link_anchor,.lnb .link_button{color:#666; font-size:16px; line-height:24px; letter-spacing:-0.02em;}
    
    /* lnb 언어 */
    /*.lnb .language{position:relative;}*/
    /*.lnb .language_panel{display:none; position:absolute; top:100%; left:0; z-index:30; width:100%; background-color:#fff; border:1px solid #000;}*/
    /*.lnb .language_anchor{font-size:14px; line-height:16px;}*/
    /*.lnb .language.active .language_panel{display:block;}*/
    
    /* 1차 메뉴 */
    .lnb .menu .depth1{display:block; position:relative; width:auto; height:auto;}
    .lnb .menu .depth1:before{display:block; position:absolute; top:0; left:0; z-index:11; width:130px; height:100%; min-height:290px; border-radius:40px 20px 20px 20px; background:#1e3a9d;}
    .lnb .menu .depth1_list{position:static; width:auto; height:auto; padding:20px 0;}
    .lnb .menu .depth1_item{position:static; width:100%;}
    .lnb .menu .depth1_text{display:block; position:relative; z-index:12; width:130px; padding:13px 30px 12px 25px; color:#fff; font-size:16px; text-decoration:none; line-height:25px; letter-spacing:-0.02em;}
    .lnb .menu .depth1_text:after{display:block; position:absolute; top:0; right:20px; bottom:0; margin:auto 0;}
    /*.lnb .menu .depth1_text[target='_blank']:after{width:15px; height:15px; background-color:#000; transition:none}
 */
    .lnb .menu .depth1_item.has .depth1_text:before{display:block; opacity:0; position:absolute; top:0; right:-15px; bottom:0; width:30px; height:30px; margin:auto 0; border-radius:50%; background-image:linear-gradient(to right, #ed282f, #1c3eeb); transition:opacity 0.3s ease-in-out;}
    .lnb .menu .depth1_item.has .depth1_text:after{width:7px; height:11px; background:url("/site/global/images/common/lnb_arrow_m.png") no-repeat top -15px left 0; transition:right 0.3s ease-in-out;}
    
    /* 1차 메뉴 활성화 */
    .lnb .menu .depth1_item.active .depth1_text{}
    .lnb .menu .depth1_item.has.active .depth1_text:before{opacity:1;}
    .lnb .menu .depth1_item.has.active .depth1_text:after{right:-4px; background-position:top 0 left 0;}
    
    /* 2차 메뉴 */
    .lnb .menu .depth2{position:absolute; top:20px; right:0; bottom:auto; left:auto; width:calc(100% - 75px); min-height:100px; border-radius:0 0 0 40px; background:#fff; transition-property:visibility,opacity;}
    .lnb .menu .depth2_list{padding:30px 20px 40px 90px;}
    .lnb .menu .depth2_item{position:relative;}
    .lnb .menu .depth2_item:before{display:block; position:absolute; bottom:0; width:100%; height:1px; background:#ddd;}
    .lnb .menu .depth2_text{display:block; position:relative; padding:11px 20px 11px 0; color:#444; font-size:15px; text-decoration:none; line-height:22px; letter-spacing:-0.02em;box-sizing:border-box;transition-property:padding-top,padding-bottom,color}
    .lnb .menu .depth2_text:after{display:block; position:absolute; top:0; right:0; bottom:0; margin:auto 0; transition:none}
    /*.lnb .menu .depth2_text[target='_blank']:after{width:0; height:0; background-color:#000}*/
    .lnb .menu .depth2_item.has .depth2_text:after{width:11px; height:7px; background:url("/site/global/images/common/lnb_arrow_m.png") no-repeat top -30px left 0;}
    
    /* 2차 메뉴 활성화 */
    .lnb_show .lnb .menu .depth1_item.active .depth2{visibility:visible; opacity:1}
    .lnb .menu .depth1_item.active .depth2{}
    .lnb .menu .depth2_item.active:before{display:none;}
    .lnb .menu .depth2_item.active .depth2_text{color:#1e3a9d;}
    .lnb .menu .depth1_item.active .depth2_text:after{}
    /*.lnb .menu .depth1_item.active .depth2_text[target='_blank']:after{width:12px; height:12px}*/
    .lnb .menu .depth2_item.has.active .depth2_text:after{background-position:top -45px left 0;}
    
    /* 3차 메뉴 */
    .lnb .menu .depth3{transition-property:visibility,opacity,padding-top;}
    .lnb .menu .depth3:before{display:block; position:absolute; top:0; left:0; width:100%; height:1px; background:#ddd;}
    .lnb .menu .depth3_list{border-radius:5px; background-color:#f5f7ff;}
    .lnb .menu .depth3_item{position:relative; padding-left:8px;}
    .lnb .menu .depth3_item:before{display:block; position:absolute; top:8px; left:0; border-radius:50%; background-color:#6d6d6d; transition:none}
    .lnb .menu .depth3_text{display:block; text-decoration:none; transition:none;}
    /*.lnb .menu .depth3_text[target='_blank']:after{top:0; right:0; width:0; height:0; background-color:#000}*/
    .lnb .menu .depth3_item.has .depth3_text:after{width:10px; height:2px; background-color:#999}
    
    /* 3차 메뉴 활성화 */
    .lnb_show .lnb .menu .depth1_item.active .depth2_item.active .depth3{opacity:1; visibility:visible; padding-top:10px; padding-bottom:10px;}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_list{padding:18px 15px;}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item + .depth3_item{margin-top:5px;}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item:before{width:3px; height:3px;}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_text{color:#666; font-size:14px; line-height:20px; letter-spacing:-0.02em;}
    /*.lnb .menu .depth1_item.active .depth2_item.active .depth3_text[target='_blank']:after{top:4px; width:12px; height:12px}*/
    
    /* 4차 메뉴 - 모바일 비활성화 */
    .lnb .menu .depth4{display:none}

/*
	2단 메뉴 메뉴사용시  multiple 클래스 추가 필요함
	<nav class="menu after eachdown multiple">

	.lnb_show .lnb .menu .depth1_list{padding-right:70%; }
	.lnb .menu .depth1_item{position:static; }
	.lnb .menu .depth2{overflow-x:hidden;  overflow-y:auto;  @include position(absolute, 0, 0, px, px);  width:70%;  height:100%; }
	.lnb .menu .depth2_list{margin-left:10px; }
	*/

}
@media all and (max-width:360px){
    .lnb .menu{width:100%}
}

/* 하단 배너 */
#footer{position:relative; padding-bottom:103px; background-color:#172350;}
#footer .banner{position:relative;}
#footer .banner:before{display:block; position:absolute; top:79px; left:50%; width:100vw; height:1px; background-color:rgba(255, 255, 255, 0.15); content:''; transform:translateX(-50%);}
#footer .banner .banner_title{position:absolute; top:0; left:0; bottom:0; height:32px; margin:auto 0; color:#fff; font-size:18px; font-weight:600; line-height:32px; letter-spacing:-0.02em;}
#footer .banner_list{position:relative; padding-left:232px;}
#footer .banner_item{display:inline-block; position:relative; margin-right:83px; padding:27px 0; line-height:26px;}
#footer .banner_item:before{display:block; position:absolute; top:0; right:-44px; bottom:0; width:2px; height:14px; margin:auto 0; background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAGCAYAAADpJ08yAAAAAXNSR0IArs4c6QAAABlJREFUGFdj/P//vy8DAwMDI5wB4oFFcDMAOEQGmzmrWEUAAAAASUVORK5CYII="); content:'';}
#footer .banner_anchor{display:inline-block; position:relative; color:#fff; font-size:16px; line-height:26px; letter-spacing:-0.02em;}
#footer .banner_anchor:hover{text-decoration:underline;}
#footer .banner_control{position:absolute; top:0; left:85px; bottom:0; height:20px; margin:auto 0; font-size:0; line-height:0;}
#footer .banner_control button{display:inline-block; width:20px; height:20px; background:url("/site/global/images/common/footer_banner_sprite.png") no-repeat;}
#footer .banner_control .banner_prev{background-position-x:0;}
#footer .banner_control .banner_auto{background-position-x:-20px;}
#footer .banner_control .banner_next{background-position-x:-40px;}
#footer .banner_control .banner_auto.slick-play{background-position-x:-60px;}

/* 하단 바로가기 */
#footer .link{position:relative; margin-top:57px;}
#footer .link_list{font-size:0; line-height:0;}
#footer .link_item{display:inline-block; position:relative; margin-right:36px;}
#footer .link_item:last-child{margin-right:0;}
#footer .link_anchor{color:rgba(255, 255, 255, 0.9); font-size:17px; line-height:26px; letter-spacing:-0.02em;}
#footer .link_anchor:hover{text-decoration:underline;}
#footer .link_item.n1 .link_anchor{color:rgba(75, 238, 213, 0.9);}

/* 하단 정보 */
#footer .footer_content{position:relative; margin-top:36px;}
#footer .footer_content .info address{color:rgba(255, 255, 255, 0.7); font-size:16px; line-height:24px; letter-spacing:-0.02em;}
#footer .footer_content .info address .info_tel{margin-left:22px;}
#footer .footer_content .info_copyright{margin-top:10px; color:rgba(255, 255, 255, 0.5); font-size:15px; line-height:22px; letter-spacing:-0.02em;}
#footer .footer_content .info_warning{margin-top:11px; color:rgba(255, 255, 255, 0.4); font-size:14px; font-weight:300; line-height:21px; letter-spacing:-0.02em;}

/* up_button */
#footer .up_btn{display:block; position:absolute; right:0; bottom:0; width:70px; height:70px; padding-top:22px; border-radius:50%; background:linear-gradient(#2e4081, rgba(255, 255, 255, 0) 75%); content:''; color:#ccd3ee; font-size:15px; line-height:25px; letter-spacing:-0.02em;}
#footer .up_btn:before{display:block; position:absolute; top:22px; left:0; right:0; width:9px; height:4px; margin:0 auto; background:url('/site/global/images/common/up_btn.png') no-repeat; content:'';}

@media all and (max-width:1200px){
    #footer .banner_list{padding-left:200px;}
}
@media all and (max-width:1000px){
    #footer .banner .banner_title{font-size:17px;}
    #footer .banner_list{padding-left:170px;}
    #footer .banner_item{margin-right:60px;}
    #footer .banner_item:before{right:-30px;}
    #footer .link{margin-top:40px;}
    #footer .link_item{margin-right:24px;}
    #footer .link_anchor{font-size:16px;}
    #footer .footer_content{margin-top:30px;}
    #footer .footer_content .info address{font-size:15px;}
}
@media all and (max-width:800px){
    #footer .footer_content .info address span{display:block;}
    #footer .footer_content .info address .info_tel{margin-left:0;}
}
@media all and (min-width:641px){
    #footer .footer_content .info address br{display:none;}
    #footer .footer_content .info_warning br{display:none;}
}
@media all and (max-width:640px){
    #footer{padding-bottom:125px;}
    #footer .banner:before{top:69px;}
    #footer .banner .banner_title{font-size:0; line-height:0;}
    #footer .banner_control{left:0;}
    #footer .banner_list{padding-left:70px;}
    #footer .banner_item{margin-right:35px; padding:22px 0;}
    #footer .banner_item:before{right:-20px; height:11px; background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAECAYAAACk7+45AAAAAXNSR0IArs4c6QAAABlJREFUGFdj/P//vy8DAwMDI5wB4oFFYAwAwVgGmasFE+YAAAAASUVORK5CYII=");}
    #footer .banner_anchor{font-size:15px;}
    #footer .link{margin-top:31px; text-align:center;}
    #footer .link_item{margin-right:14px;}
    #footer .link_anchor{font-size:14px; line-height:25px;}
    #footer .footer_content{margin-top:24px; text-align:center;}
    #footer .footer_content .info address{font-size:14px; line-height:20px;}
    #footer .footer_content .info_copyright{margin-top:14px; font-size:13px; line-height:20px;}
    #footer .footer_content .info_warning{margin-top:16px; font-size:13px; line-height:20px;}
    #footer .up_btn{bottom:-81px; left:0; width:56px; height:56px; margin:0 auto; padding-top:16px; font-size:12px;}
    #footer .up_btn:before{top:17px;}
}