@charset "UTF-8";
/* (주)한신정보기술 박서영 - 2024.09 */

/* colgroup */
.colgroup{float:right; position:relative; width:1440px; margin-bottom:30px;}
@media all and (max-width:1440px){
    .colgroup{width:1200px;}
}
@media all and (max-width:1200px){
    .colgroup{width:1000px;}
}
@media all and (max-width:1000px){
    .colgroup{float:none; width:auto;}
}
@media all and (max-width:640px){
    .colgroup{}
}

/* 콘텐츠 */
#contents{position:relative; min-height:600px; margin-top:70px; margin-bottom:70px;}
@media all and (max-width:1000px){
    #contents{margin-top:50px;}
}
@media all and (max-width:640px){
    #contents{min-height:300px; margin-top:20px; margin-bottom:25px;}
}

/*!* 사이드 메뉴 *!
.side{float:left; position:relative; z-index:30; width:250px; font-size:0; line-height:0;}

!* 사이트 타이틀 *!
.side .side_title{position:relative; width:250px; height:120px; background-color:#eee; text-align:center}
.side .side_title:after{display:inline-block; height:100%; vertical-align:middle}
.side .side_subject{display:inline-block; padding-right:20px; padding-left:20px; vertical-align:middle; color:#000; font-size:24px; line-height:30px; letter-spacing:-0.03em; font-weight:600}
.side .side_menu{position:relative}

!* 2차 메뉴 *!
.side .menu .depth1_item{margin-top:-1px; border-top:1px solid #ccc; box-sizing:border-box}
.side .menu .depth1_item:first-child{padding-top:1px; border-top-width:0}
.side .menu .depth1_text{display:block; position:relative; padding:15px 50px 15px 20px; color:#000; font-size:17px; line-height:22px; letter-spacing:-0.03em; text-decoration:none; word-break:keep-all; transition-property:background,color}
.side .menu .depth1_text:hover{text-decoration:underline}
.side .menu .depth1_text:after{display:block; position:absolute; top:0; right:20px; bottom:0; margin-top:auto; margin-bottom:auto}
.side .menu .depth1_item.has .depth1_text:after{width:15px; height:3px; background-color:#000; transition:none}
.side .menu .depth1_text[target='_blank']:after{width:12px; height:12px; background-color:#000; transition:none}
.side .menu .depth1_text[target='_blank']:hover:after{background-color:#666}

!* 2차 메뉴 활성화 *!
.side .menu .depth1_item.active{position:relative; z-index:10}
.side .menu .depth1_item.active .depth1_text{font-weight:500; background-color:#ddd}
.side .menu .depth1_item.active .depth1_text:before{visibility:visible; opacity:1}
.side .menu .depth1_item.active .depth1_text:hover{text-decoration:none}
.side .menu .depth1_item.has.active .depth1_text:after{height:6px}

!* 3차 메뉴 *!
.side .menu .depth2{transition-property:visibility,opacity,background-color}
.side .menu .depth2_list{padding-right:20px; padding-left:20px; transition-property:padding-top,padding-bottom}
.side .menu .depth2_item{margin-top:0; transition-property:margin-top}
.side .menu .depth2_text{display:block; position:relative; padding-left:10px; text-decoration:none; transition:none}
.side .menu .depth2_text:before{visibility:hidden; opacity:0; display:none; position:absolute; top:10px; left:1px; width:3px; height:3px; background-color:#000; transition-property:visibility,opacity}
.side .menu .depth2_text:hover{text-decoration:underline}
.side .menu .depth2_item.has .depth2_text:after{display:block; position:absolute; top:0; right:0; bottom:0; width:10px; height:3px; margin-right:auto; margin-left:auto; background-color:#000; transition-property:none}
.side .menu .depth2_text[target='_blank']:after{display:inline-block; width:0; height:0; margin-left:5px; background-color:#000; transition:none}

!* 3차 메뉴 활성화 *!
.side .menu .depth1_item.active .depth2{visibility:visible; opacity:1}
.side .menu .depth1_item.active .depth2_list{margin-top:4px; margin-bottom:18px}
.side .menu .depth1_item.active .depth2_item{margin-top:13px}
.side .menu .depth1_item.active .depth2_text{color:#000; font-size:16px; line-height:22px}
.side .menu .depth1_item.active .depth2_item.active .depth2_text{font-weight:600}
.side .menu .depth1_item.active .depth2_item.has.active .depth2_text:after{height:6px}
.side .menu .depth1_item.active .depth2_text:before{visibility:visible; opacity:1; display:block}
.side .menu .depth1_item.active .depth2_text[target='_blank']:after{width:12px; height:12px}

!* 4차 메뉴 *!
.side .menu .depth3{transition-property:visibility,opacity}
.side .menu .depth3_list{margin-top:0; padding-top:0; transition-property:margin-top,padding-top,margin-bottom,padding-bottom}
.side .menu .depth3_item{margin-top:0; transition-property:margin-top}z
.side .menu .depth3_text{position:relative; padding-left:0; color:#000; font-size:0; line-height:0; letter-spacing:-0.03em; word-break:keep-all; transition:none}
.side .menu .depth3_text:before{visibility:hidden; opacity:0; display:block; position:absolute; top:10px; left:0; width:0; height:0; background-color:#000; transition:none}
.side .menu .depth3_text[target='_blank']:after{display:inline-block; width:0; height:0; margin-left:5px; background-color:#000; transition:none}

!* 4차 메뉴 활성화 *!
.side .menu .depth1_item.active .depth2_item.active .depth3{visibility:visible; opacity:1}
.side .menu .depth1_item.active .depth2_item.active .depth3_list{margin-top:8px; margin-bottom:4px; padding-top:10px; padding-bottom:20px; border-top:1px solid #666; border-bottom:1px dotted #666}
.side .menu .depth1_item.active .depth2_item.active .depth3_item{margin-top:4px}
.side .menu .depth1_item.active .depth2_item.active .depth3_item:first-child{margin-top:0}
.side .menu .depth1_item.active .depth2_item.active .depth3_text{padding-right:12px; padding-left:20px; font-size:15px; line-height:20px}
.side .menu .depth1_item.active .depth2_item.active .depth3_text:hover{text-decoration:underline}
.side .menu .depth1_item.active .depth2_item.active .depth3_text:before{visibility:visible; opacity:1; width:7px; height:1px}
.side .menu .depth1_item.active .depth2_item.active .depth3_text[target='_blank']:after{width:12px; height:12px}
.side .menu .depth1_item.active .depth2_item.active .depth3_text.active span{color:#000; text-decoration:underline}
@media all and (max-width:1000px){
.side{display:none}
}*/


/* 서브헤드 */
.sub_head{position:relative; min-height:215px; text-align:center;}
.sub_head:before{display:block; position:absolute; top:0; left:calc(50% - 50vw); width:100vw; height:215px; background:url("/site/global/images/sub/sub_bg.png") no-repeat center center; content:'';}
.sub_head:after{display:block; position:absolute; left:-50px; bottom:-25px; width:calc(100% + 100px); height:50px; border-radius:50px 50px 0 0; background:#fff; content:'';}
.sub_head .sub_title{position:relative; padding-top:54px; color:#222; font-size:32px; font-weight:600; font-family:'SUITE'; line-height:40px; letter-spacing:-0.03em}
@media all and (max-width:1000px){
    .sub_head .sub_title{font-size:30px;}
}
@media all and (max-width:640px){
    .sub_head{min-height:175px;}
    .sub_head:before{height:175px;}
    .sub_head:after{left:-3%; bottom:-4px; width:calc(100% + 6%); height:34px; border-radius:30px 30px 0 0;}
    .sub_head .sub_title{padding-top:35px; font-size:22px; line-height:30px;}
}

/* 브래드크럼 */
.breadcrumbs{margin-top:18px; font-size:0; line-height:0}
.breadcrumbs .breadcrumbs_item{display:inline-block; position:relative; margin-left:15px; padding-left:20px; color:#6d7696; font-size:16px; line-height:20px; vertical-align:middle; letter-spacing:-0.02em;}
.breadcrumbs .breadcrumbs_item:before{display:block; position:absolute; top:0; left:0; bottom:0; width:6px; height:10px; margin:auto 0; background:url("/site/global/images/sub/breadcrumbs_arrow.png") no-repeat; content:'';}
.breadcrumbs .breadcrumbs_item.home{width:18px; height:16px; margin-left:0; padding-left:0; background:url("/site/global/images/sub/breadcrumbs_home.png") no-repeat; font-size:0; line-height:0;}
.breadcrumbs .breadcrumbs_item.home:before{display:none;}
.breadcrumbs .breadcrumbs_item:last-child{font-weight:500; text-decoration:underline; text-underline-offset:3px;}
.breadcrumbs .breadcrumbs_anchor{display:block; width:100%; height:100%; color:#6d7696;}
.breadcrumbs .breadcrumbs_anchor:hover{text-decoration:underline; text-underline-offset:2px;}
@media all and (max-width:640px){
    .breadcrumbs .breadcrumbs_item{margin-left:7px; padding-left:12px; font-size:14px; line-height:20px;}
    .breadcrumbs .breadcrumbs_item.home{width:16px; height:15px; background-size:cover;}
}

/* 공유, 인쇄 */
.addons{position:absolute; right:90px; bottom:0; z-index:1; font-size:0; line-height:0;}
.addons .addons_item{display:inline-block; position:relative; margin-left:12px; vertical-align:top;}
.addons .addons_item:first-child{margin-left:0;}
.addons .addons_item .addons_button{position:relative; width:48px; height:48px; border-radius:50%; background:#fff; box-shadow:3px 5px 24px rgba(9,39,148,0.1); transition:background-color 0.3s ease-in-out;}
.addons .addons_item .addons_button:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:21px; height:21px; margin:auto; background:url("/site/global/images/sub/addons_sprite.png") no-repeat; content:'';}
.addons .addons_item.print .addons_button:before{width:20px; background-position-y:-30px;}

.addons .addons_item .addons_button:hover{background:#4366e7;}
.addons .addons_item .addons_button:hover:before{background-position-y:-60px;}
.addons .addons_item.print .addons_button:hover:before{background-position-y:-90px;}

.addons .share{position:relative;}
.addons .share_panel{opacity:0; visibility:hidden; position:absolute; top:0; right:20px; width:0; height:100%; border-radius:48px; background:#fff; box-shadow:3px 5px 24px rgba(9,39,148,0.1); text-align:left; transition-property:opacity,visibility,width; transition-duration:0.3s; transition-timing-function:ease-in-out;}
.addons .share_list{position:relative; height:100%; padding-top:17px; padding-left:36px; font-size:0; line-height:0;}
.addons .share_item{opacity:0; visibility:hidden; display:inline-block; margin-left:20px; transition:opacity 0.3s ease-in-out;}
.addons .share_item:first-child{margin-left:0;}
.addons .share_item .share_anchor{opacity:0; display:inline-block; position:relative; background:url("/site/global/images/sub/addons_sprite.png") no-repeat; transition-property:opacity,width; transition-duration:0.3s; transition-timing-function:linear;}
.addons .share_item.n1 .share_anchor{width:0; height:16px; background-position-y:-150px;}
.addons .share_item.n2 .share_anchor{width:0; height:15px; background-position-y:-180px;}
.addons .share_item.n3 .share_anchor{top:2px; width:0; height:12px; background-position-y:-210px;}
.addons .share_item.n4 .share_anchor{top:1px; width:0; height:14px; background-position-y:-240px;}

.addons .share.active .share_panel{opacity:1; visibility:visible; width:190px;}
.addons .share.active .share_item{opacity:1; visibility:visible;}
.addons .share.active .share_item .share_anchor{opacity:1;}
.addons .share.active .share_item.n1 .share_anchor{width:8px;}
.addons .share.active .share_item.n2 .share_anchor{width:11px;}
.addons .share.active .share_item.n3 .share_anchor{width:18px;}
.addons .share.active .share_item.n4 .share_anchor{width:15px;}
.addons .share_hide{display:block; position:absolute; top:0; right:-20px; width:48px; height:48px; border-radius:50%; background:#4366e7; vertical-align:top;}
.addons .share_hide:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:14px; height:14px; margin:auto; background:url("/site/global/images/sub/addons_sprite.png") no-repeat top -120px left 0; content:'';}
@media all and (max-width:1000px){
    .addons{right:40px;}
}
@media all and (max-width:640px){
    .addons{right:25px; bottom:10px;}
    .addons .addons_item{margin-left:8px;}
    .addons .addons_item .addons_button{width:40px; height:40px;}
    .addons .addons_item .addons_button:before{transform:scale(0.857);}
    .addons .share_list{padding-top:13px; padding-left:31px;}
    .addons .share_item .share_anchor{transform:scale(0.95);}
    .addons .share.active .share_panel{width:170px;}
    .addons .share_hide{width:40px; height:40px;}
}