@charset "UTF-8";
/* (주)한신정보기술 박서영 - 2024.09 */

/* 탭메뉴 */
.tab{position:relative; margin-top:70px;}
.tab .tab_select{display:none; color:#2f3467; font-size:16px; line-height:24px;}
.tab .tab_panel{display:block; position:relative; width:100%; font-size:0; line-height:0;}
.tab .tab_list{font-size:0; line-height:0;}
.tab .tab_list .tab_item{display:inline-block; width:calc((100% - 48px) / 4); margin-right:16px; text-align:center; vertical-align:top;}
.tab .tab_list .tab_item:nth-child(4n){margin-right:0;}
.tab .tab_list .tab_item .tab_button{display:block; position:relative; width:100%; height:56px; padding:0 10px; border:1px solid #a2aabe; border-radius:5px; color:#828699; font-size:17px; line-height:24px; box-sizing:border-box;letter-spacing:-0.02em;}
.tab .tab_list .tab_item .tab_button:after{display:inline-block; height:100%; content:''; vertical-align:middle;}
.tab .tab_list .tab_item .tab_button span{display:inline-block; position:relative; vertical-align:middle; word-break:keep-all;}

.tab.type2 .tab_inner_list .tab_inner_item:after{display:block; position:absolute; top:10px; right:-26px; width:4px; height:4px; border-radius:50%; background:#c7cad8;}
.tab.type2 .tab_inner_list .tab_inner_item.active .tab_inner_button{position:relative; background:-webkit-linear-gradient(left, #ed282f, #1c3eeb); color:#1c3eeb; font-weight:500; -webkit-background-clip:text; -webkit-text-fill-color:transparent;}
.tab.type2 .tab_inner_list .tab_inner_item.active .tab_inner_button:before{display:block; position:absolute; left:0; bottom:1px; width:100%; height:1px; background:linear-gradient(to right, #ed282f, #1c3eeb);}

/* 하위 탭메뉴 */
@media all and (min-width:641px){
    .tab.type2 .tab_inner_list{display:none; position:relative; left:0; width:calc(400% + 48px); min-height:58px; margin-top:15px; padding:16px 20px 15px; border-bottom:1px solid #dce0eb; border-radius:5px 5px 0 0; background:#f7f9fe; text-align:center;}
    .tab.type2 .tab_inner_list .tab_inner_item{display:inline-block; position:relative; margin-right:53px; text-align:left; vertical-align:top;}
    .tab.type2 .tab_inner_list .tab_inner_item:last-child{margin-right:0;}
    .tab.type2 .tab_inner_list .tab_inner_item:last-child:after{display:none;}
    .tab.type2 .tab_inner_list .tab_inner_item .tab_inner_button{position:relative; color:#828699; font-size:17px; font-weight:400; line-height:26px;}
    .tab.type2 .tab_inner_list .tab_inner_item .tab_inner_button:after{display:inline-block; height:100%; vertical-align:middle; content:''}
    .tab.type2 .tab_inner_list .tab_inner_item .tab_inner_button span{vertical-align:middle;}
    
    .tab .tab_item.active .tab_inner_list{display:block;}
    .tab .tab_list .tab_item:nth-child(2n) .tab_inner_list{left:calc(-100% - 16px);}
    .tab .tab_list .tab_item:nth-child(3n) .tab_inner_list{left:calc(-200% - 32px);}
    .tab .tab_list .tab_item:nth-child(4n) .tab_inner_list{left:calc(-300% - 48px);}
    .tab .tab_list .tab_item:nth-child(5n) .tab_inner_list{left:0;}
    .tab .tab_list .tab_item:nth-child(6n) .tab_inner_list{left:calc(-100% - 16px);}
    .tab .tab_list .tab_item:nth-child(7n) .tab_inner_list{left:calc(-200% - 32px);}
    .tab .tab_list .tab_item:nth-child(8n) .tab_inner_list{left:calc(-300% - 48px);}
    .tab .tab_list .tab_item:nth-child(n+5){margin-top:16px;}
    
    .tab .tab_list .tab_item:hover .tab_button{border-color:#38405a; box-shadow:3px 4px 28px rgba(56,64,90,0.12); color:#38405a;}
    .tab .tab_list .tab_item.active .tab_button{border-color:#38405a; background:#38405a; color:#fff; font-weight:500; transition:background-color 0.2s ease-in-out;}
    
    .tab.type2 .tab_inner_list .tab_inner_item:hover .tab_inner_button{color:#38405a;}
}
@media all and (max-width:1000px){
    .tab .tab_list .tab_item .tab_button{font-size:15px;}
    .tab.type2 .tab_inner_list .tab_inner_item{margin-right:35px;}
    .tab.type2 .tab_inner_list .tab_inner_item:after{right:-17px;}
    .tab.type2 .tab_inner_list .tab_inner_item .tab_inner_button{font-size:15px;}
}
@media all and (max-width:640px){
    .tab .tab_select{display:block; position:relative; width:100%; padding:13px 30px 13px 20px; border-radius:5px; background-color:#38405a; color:#fff; font-size:14px; text-align:left; line-height:16px;}
    .tab .tab_select:before{display:block; position:absolute; top:0; right:15px; bottom:0; width:20px; height:20px; margin:auto 0; background:url("../images/sub/tab_arrow.png") no-repeat center center; transition:transform 0.3s ease-in-out;}
    .tab.active .tab_select:before{transform:rotate(180deg);}
    .tab .tab_panel{opacity:0; visibility:hidden; position:absolute; top:40px; z-index:20; width:100%; background:#fff; transition-property:opacity, visibility; transition-duration:0.3s; transition-timing-function:ease-in-out;}
    .tab.active .tab_panel{opacity:1; visibility:inherit;}
    .tab .tab_list{padding:10px 20px; border:1px solid #828699; border-radius:5px;}
    .tab .tab_list .tab_item{width:100%; text-align:left;}
    .tab .tab_list .tab_item .tab_button{height:auto; padding:0; border:none; border-radius:0; line-height:28px; text-align:left;}
    .tab .tab_list .tab_item.active .tab_button{background:none; color:#38405a;}
    
    .tab.type2 .tab_inner_list{display:none; width:100%; padding:10px 15px; border-radius:5px; background:#f7f9fe;}
    .tab.type2 .tab_item.active .tab_inner_list{display:block;}
    .tab.type2 .tab_inner_list .tab_inner_item{display:block; position:relative; width:100%; margin-right:0; padding-left:12px;}
    .tab.type2 .tab_inner_list .tab_inner_item:after{left:0; right:auto;}
    .tab.type2 .tab_inner_list .tab_inner_item + .tab_inner_item{margin-top:7px;}
    .tab.type2 .tab_inner_list .tab_inner_item .tab_inner_button{color:#828699; font-size:14px; line-height:24px;}
}

.tab_content{display:none; margin-top:30px;}
.tab_content.active{display:block;}


/* 제목 */
h3,h4,h5{position:relative; margin-bottom:20px; font-family:'SUITE'; letter-spacing:-0.02em;}
h3{margin-top:60px; color:#1d1d1d; font-size:32px; font-weight:700; line-height:40px;}
h3 span{display:inline; position:relative; padding-right:18px;}
h3 span:before{display:block; position:absolute; right:0; bottom:8px; width:9px; height:9px; border-radius:50%; background:linear-gradient(to right, #ed282f, #1c3eeb);}
h3:first-child{margin-top:0;}
h4{margin-top:30px; color:#284cd1; font-size:25px; font-weight:600; line-height:32px;}
h4 span{display:inline; position:relative; padding-right:22px;}
h4 span:before{display:block; position:absolute; right:0; bottom:6px; width:12px; height:12px; background:url("../images/template/h4_icon.png") no-repeat;}
h5{margin-top:30px; color:#183499; font-size:22px; font-weight:600; line-height:28px;}
h3 + h4{margin-top:22px; margin-bottom:18px;}
h4 + h5{margin-top:18px; margin-bottom:16px;}
@media all and (max-width:1000px){
    h3{font-size:28px; line-height:38px;}
    h4{font-size:23px; line-height:30px;}
    h5{font-size:20px; line-height:26px;}
}
@media all and (max-width:640px){
    h3,h4,h5{margin-bottom:12px;}
    h3{margin-top:30px; font-size:22px; line-height:32px;}
    h3 span:before{bottom:5px;}
    h4{margin-top:16px; font-size:20px; line-height:28px;}
    h5{margin-top:16px; font-size:18px; line-height:26px;}
    h3 + h4{margin-top:16px; margin-bottom:12px;}
    h4 + h5{margin-top:16px; margin-bottom:12px;}
}

/* 본문 */
p{color:#444754; font-size:17px; font-family: 'Pretendard'; font-weight:400; line-height:28px;}
a.text_btn{position:relative; padding-right:19px; border-bottom:1px solid #979baa; line-height:24px;}
a.text_btn:after{display:block; position:absolute; top:7px; right:0; width:13px; height:12px;}
a.text_btn.blank:after{background-image:url("../images/template/text_blank_icon.png");}
.em_skyblue{color:#1579df;}
.em_green{color:#008266;}
.em_b_skyblue{color:#1579df; font-weight:600;}
.em_b_green{color:#008266; font-weight:600;}
@media all and (max-width:1000px){
    p{font-size:16px; line-height:27px;}
}
@media all and (max-width:640px){
    p{font-size:15px; line-height:26px;}
}

/* 상단박스 */
.temp_box{display:block; position:relative; min-height:200px; margin-bottom:30px; border:1px solid #d1d7e8; border-radius:20px; background:#fff; box-shadow:3px 4px 38px rgba(0,25,89,0.05); box-sizing:border-box;}
.temp_box:before{display:block; position:absolute; top:30px; left:50px; width:145px; height:140px; border-radius:50%; background:url("../images/template/temp_box_deco.png") no-repeat;}
.temp_box:after{display:block; position:absolute; top:30px; left:50px; width:140px; height:140px; background-image:url("../images/template/temp_box_icon01.png"); background-repeat:no-repeat; background-position:center center;}
.temp_box .box_wrap{position:relative; padding:52px 40px 50px 240px; font-size:0; line-height:0;}
.temp_box .box_title{margin-bottom:12px; color:#1f41bf; font-size:22px; line-height:30px;}
.temp_box .box_text{color:#444754; font-size:17px; line-height:28px;}
@media all and (max-width:1000px){
    .temp_box{min-height:180px;}
    .temp_box:before{left:30px; width:124px; height:120px; background-size:cover;}
    .temp_box:after{left:30px; width:120px; height:120px; transform:scale(0.9);}
    .temp_box .box_wrap{padding:40px 30px 40px 190px;}
}
@media all and (max-width:640px){
    .temp_box{min-height:auto; border-radius:15px;}
    .temp_box:before, .temp_box:after{display:none;}
    .temp_box .box_wrap{padding:20px 25px;}
    .temp_box .box_title{font-size:18px; line-height:26px;}
    .temp_box .box_text{font-size:15px; line-height:26px;}
}

/* 비순차 목록 */
.bu{position:relative; font-size:0; line-height:0;}
.bu > li{position:relative; padding-left:15px; color:#444754; font-size:17px; line-height:24px; letter-spacing:-0.02em;}
.bu > li + li{margin-top:4px;}
.bu > li:before{display:block; position:absolute; top:10px; left:0; width:5px; height:5px; border-radius:50%; background-color:#e44264;}
.bu > li > ul{margin-top:7px;}
.bu > li > ul > li{position:relative; padding-left:12px; color:#6b6e7d; font-size:16px; line-height:26px; letter-spacing:-0.02em;}
.bu > li > ul > li:before{display:block; position:absolute; top:12px; left:0; width:4px; height:4px; border-radius:50%; background-color:#7b7d90;}
.bu > li > ul > li > ul{margin-top:4px}
.bu > li > ul > li > ul > li{position:relative; padding-left:12px; color:#6b6e7d; font-size:16px; line-height:24px; letter-spacing:-0.02em;}
.bu > li > ul > li > ul > li:before{display:block; position:absolute; top:11px; left:0; width:5px; height:2px; background-color:#9ca3bb;}

/* 정의형 목록 */
.bu.dl > li .dt{display:inline; color:#e44264; font-weight:500;}
.bu.dl > li .dd{display:inline; position:relative; padding-left:8px; color:#414654;}
.bu.dl > li .dd:before{display:block; position:absolute; top:-2px; left:0; color:#e44264; content:' : '; font-weight:500;}

/* 순차 목록 num, kor */
ol.num{position:relative;}
ol.num > li{position:relative; padding-left:32px; color:#444754; font-size:17px; line-height:24px; letter-spacing:-0.02em;}
ol.num > li + li{margin-top:4px;}
ol.num > li .count{display:block; position:absolute; top:1px; left:0; width:22px; height:22px; border-radius:50%; background:#656e8a; color:#fff; font-size:13px; text-align:center; line-height:22px; letter-spacing:-0.02em;}

ol.num > li > ol{margin-top:11px;}
ol.num > li > ol > li{position:relative; padding-left:30px; font-size:16px; line-height:26px;}
ol.num > li > ol > li .count{top:2px; width:21px; height:21px; border:1px solid #7689d2; background:#f7f9ff; color:#7689d2; font-size:12px; line-height:21px; box-sizing:border-box;}

/* 블릿 */
.blt{position:relative; padding-left:15px; color:#444754; font-size:17px; line-height:24px; letter-spacing:-0.02em;}
.blt:before{display:block; position:absolute; top:10px; left:0; width:5px; height:5px; border-radius:50%; background-color:#e44264;}
.blt .dt{display:inline; color:#e44264; font-weight:500;}
.blt .dd{display:inline; position:relative; padding-left:8px; color:#414654;}
.blt .dd:before{display:block; position:absolute; top:-2px; left:0; color:#e44264; content:' : '; font-weight:500;}
@media all and (max-width:640px){
    .bu > li,
    .blt{font-size:15px; padding-left:12px;}
    .bu > li > ul > li{font-size:15px; padding-left:10px;}
    .bu > li > ul,
    .bu > li > ul > li > ul{margin-top:3px;}
    .bu > li > ul > li > ul > li{font-size:14px; padding-left:10px;}
    ol.num > li{padding-left:28px; font-size:15px;}
    ol.num > li .count{top:2px; width:20px; height:20px; line-height:20px;}
    ol.num > li > ol{margin-top:3px;}
    ol.num > li > ol > li{padding-left:26px; font-size:15px;}
    ol.num > li > ol > li .count{top:4px; width:19px; height:19px; line-height:19px;}
    .bu.dl > li .dd:before,
    .blt .dd:before{top:-4px;}
}

/* 안내 문구 */
.warning{position:relative; margin-top:15px; padding-left:30px; font-size:16px; line-height:26px; letter-spacing:-0.02em;word-break:keep-all;}
.warning:before{display:block; position:absolute; top:-6px; left:0; width:20px; height:20px; border-radius:50%;}
.warning:after{display:block; position:absolute; top:0; left:6px; width:18px; height:19px; background:url("../images/template/warning_icon.png") no-repeat;}
.warning.type1{color:#e2367b;}
.warning.type1:before{background:linear-gradient(135deg, #ffdfeb, #fff);}
.warning.type2{color:#616c90;}
.warning.type2:before{background:linear-gradient(135deg, #dce3ff, #fff);}
.warning.type2:after{top:3px; background-position-x:-20px;}

.warning_box{display:block; position:relative; width:100%; margin-top:30px; border-radius:70px 10px 10px 10px; background:#fff6fa;}
.warning_box:before{display:block; position:absolute; top:0; left:0; width:60px; height:60px; background:url("../images/template/warning_icon02.png") no-repeat;}
.warning_box .box_wrap{padding:21px 30px 24px 70px;}
.warning_box .box_wrap .box_title{position:relative; margin-bottom:7px; color:#e2367b; font-size:17px; font-weight:500; line-height:26px; letter-spacing:-0.02em;}
.warning_box .box_wrap .bu li{padding-left:11px; color:#936f7d; font-size:16px;}
.warning_box .box_wrap .bu li:before{width:4px; height:4px; background:#936f7d;}
.warning_box.type2{background:#f5f7ff;}
.warning_box.type2:before{background-position-x:-60px;}
.warning_box.type2 .box_wrap .box_title{color:#496be6;}
.warning_box.type2 .box_wrap .bu li{color:#616c90;}
.warning_box.type2 .box_wrap .bu li:before{background:#646f94;}
@media all and (max-width:640px){
    .warning{margin-top:10px; font-size:15px; line-height:24px;}
    .warning:before{top:-3px;}
    .warning:before, .warning:after{transform:scale(0.85);}
    .warning_box{margin-top:20px;}
    .warning_box:before{transform:scale(0.85);}
    .warning_box .box_wrap{padding:20px 20px 20px 60px;}
    .warning_box .box_wrap .box_title{font-size:16px;}
    .warning_box .box_wrap .bu li{font-size:15px;}
}

/* 테이블 */
h3 + .table{margin-top:23px;}
h4 + .table{margin-top:23px;}
.table_unit{margin-bottom:10px; color:#5e6377; font-size:16px; font-weight:300; text-align:right; line-height:24px; letter-spacing:-0.02em;}
.table{position:relative; width:100%; margin:10px 0;}
.table:after{display:block; position:absolute; left:0; bottom:0; width:100%; height:1px; background-color:#ccd0dc; content:'';}
.table th, .table td{padding:12px 25px; border:1px solid #ced1de; vertical-align:middle;}
.table thead tr:first-child th{border-top:1px solid #b0b3c3; border-bottom:1px solid #ced1de;}
.table th:first-child, .table td:first-child{border-left:none;}
.table th:last-child, .table td:last-child{border-right:none;}
.table thead{text-align:center;}
.table thead th{border-color:#c8cbd8; background-color:rgba(240, 241, 246, 0.9); color:#303a64; font-size:16px; font-weight:500; line-height:24px; letter-spacing:-0.02em;}
.table tbody{text-align:center;}
.table tbody th{background-color:rgba(240, 241, 246, 0.4); color:#5f6788; font-size:16px; font-weight:400; text-align:left; line-height:24px; letter-spacing:-0.02em;}
.table tbody td{color:#5f6788; font-size:16px; line-height:24px;}
.table td img{vertical-align:middle}
.table tbody td.td_mail .btn{word-break:keep-all;}
td ul, td li{text-align:left;}
td .bu{margin:0; padding:0;}
td .num{margin:0; padding:0;}
.table.type2 tbody tr:first-child th, .table.type2 tbody tr:first-child td{border-top:1px solid #b0b3c3;}
.table.type2 tbody th{border-color:#c8cbd8; background-color:#f1f2f7; color:#303a64; font-weight:500;}
@media all and (min-width:801px){
    .table_title{display:flex; justify-content:space-between; align-items:end;}
    .table_title > h3,
    .table_title > h4,
    .table_title > h5{margin-bottom:8px;}
    .table_title > .table_unit{margin:0;}
}
/* 반응형테이블 */
@media all and (max-width:640px){
    .table.responsive{border-top:1px solid #b0b3c3;}
    .table.responsive thead{display:none;}
    .table.responsive colgroup{display:none;}
    .table.responsive tbody tr{display:block; position:relative; border-bottom:1px solid #ccd0dc;}
    .table.responsive tbody tr:after{display:block; visibility:hidden; clear:both; height:0; content:".";}
    .table.responsive tbody tr:nth-child(odd){background:#f4f6fa;}
    .table.responsive tbody td{display:block; padding:4px 3%; border:none; background-color:transparent; text-align:left; box-sizing:border-box;}
    .table.responsive tbody th{display:block; padding:4px 3%; border:none; background-color:transparent; text-align:left; vertical-align:middle;}
    .table.responsive tbody tr:first-child td, table.table.responsive tbody tr:first-child th{border-top:none;}
    .table.responsive thead + tbody th:before, table.table.responsive tbody td:before{display:inline; content:attr(data-content)' : ';}{display:block; position:relative; border-bottom:1px solid #d9d9d9;}
    .table.responsive tfoot tr:after{display:block; visibility:hidden; clear:both; height:0; content:".";}
    .table.responsive tfoot tr:nth-child(odd){background:#f4f6fa;}
    .table.responsive tfoot td{display:block; padding:4px 3%; border:none; background-color:transparent; text-align:left; box-sizing:border-box;}
    .table.responsive tfoot th{display:block; padding:4px 3%; border:none; background-color:transparent; text-align:left; vertical-align:middle;}
    .table.responsive tfoot tr:first-child td, table.table.responsive tfoot tr:first-child th{border-top:none;}
    .table.responsive tfoot th:before, table.table.responsive tfoot td:before{display:inline; content:attr(data-content)' : ';}
}
/* 스크롤테이블 */
@media all and (max-width:640px){
    h4 + .table_scroll{margin-top:16px;}
    .table_scroll{position:relative; max-width:100%; overflow-x:auto;}
    .table_scroll::-webkit-scrollbar{width:6px; height:6px;}
    .table_scroll::-webkit-scrollbar-thumb{background-color:#dedede; border-radius:10px;}
    .table_scroll::-webkit-scrollbar-track{background-color:#fafafa;}
    .table_scroll table{min-width:800px;}
    .table_scroll .table{margin-top:0;}
}
@media all and (max-width:640px){
    h3 + .table{margin-top:16px;}
    h4 + .table{margin-top:16px;}
    .table_unit{font-size:14px; line-height:22px;}
    .table th, .table td{padding:12px 16px;}
    .table thead th,
    .table tbody th,
    .table tbody td{font-size:15px;}
}

/* 버튼 */
.btn{display:inline-block; position:relative; min-width:180px; padding:13px 16px; border-radius:5px; background:#4366e7; color:#fff !important; font-size:17px; text-align:center; line-height:24px; vertical-align:top; transition:background-color 0.3s ease-in-out;}
.btn.type2{padding:12px 16px; border:1px solid #4366e7; background:#fff; color:#2343b5 !important;}
.btn.type3{background:#606b8f;}
.btn.type4{background-image:linear-gradient(to right, #d22b47, #363bd3);}
.btn.type4:before{position:absolute; top:0; right:0; bottom:0; left:0; opacity:0; z-index:-1; background-image:linear-gradient(to right, #23398a, #23398a); transition:opacity 0.3s ease-in-out;}
.btn + .btn{margin-left:10px;}
.btn:hover{background:#23398a;}
.btn.type2:hover{background:#4366e7; color:#fff !important;}
.btn.type3:hover{background:#363e5a;}
.btn.type4:hover:before{opacity:1;}

.btn.icon_type span{position:relative; padding-right:28px;}
.btn.icon_type span:before{display:block; position:absolute; top:0; right:0; bottom:0; width:20px; height:20px; margin:auto 0; background:url("../images/template/btn_icon.png") no-repeat;}
.btn.icon_type.arrow span:before{background-position-x:0;}
.btn.icon_type.down span:before{background-position-x:-20px;}
.btn.icon_type.blank span:before{background-position-x:-40px;}
.btn.icon_type.search span:before{background-position-x:-60px;}
.btn.icon_type.print span:before{background-position-x:-80px;}
.btn.icon_type.home span:before{background-position-x:-100px;}
.btn.type2.icon_type span:before{background-position-y:-20px;}
.btn.type2.icon_type:hover span:before{background-position-y:0;}

.btn.small{min-width:125px; padding:8px; font-size:16px;}
.btn.small.type2{padding:7px 8px;}
.btn.small.icon_type span{position:relative; padding-right:24px;}
@media all and (max-width:640px){
    .btn{min-width:150px; padding:11px 14px; font-size:15px;}
    .btn.type2{padding:10px 14px;}
    .btn + .btn{margin-left:5px;}
    .btn.small{min-width:110px; font-size:14px;}
    .btn.icon_type span:before{transform:scale(0.85);}
}

/* 폼스타일 */
/* 체크박스, 라디오버튼 */
.pocheon_input input[type="checkbox"],
.pocheon_input input[type="radio"]{display:inline-block; opacity:0; position:absolute; top:0; left:0; width:12px; height:12px; padding:0; border:0;}
.pocheon_input input[type="checkbox"] + label,
.pocheon_input input[type="radio"] + label{display:inline-block; position:relative; padding-right:10px; padding-left:31px; color:#444754; font-size:17px; line-height:24px; vertical-align:top;}
.pocheon_input input[type="checkbox"] + label:before{display:block; position:absolute; top:1px; left:1px; width:22px; height:22px; border:1px solid #bfc1ce; border-radius:2px; background:#fff url("../images/template/form_icon.png") no-repeat top left -1px; box-sizing:border-box;}
.pocheon_input input[type="checkbox"]:checked + label:before{border:none; background:#4366e7 url("../images/template/form_icon.png") no-repeat top left -22px;}
.pocheon_input input[type="checkbox"]:focus + label:after{display:block; position:absolute; top:-1px; left:-1px; z-index:-1; width:26px; height:26px; border:1px dotted #000; box-sizing:border-box;}
.pocheon_input input[type="radio"] + label:before{display:block; position:absolute; top:2px; left:0; width:22px; height:22px; border:1px solid #bfc1ce; border-radius:50%; background:#fff url("../images/template/form_icon.png") no-repeat top -23px left -1px; box-sizing:border-box;}
.pocheon_input input[type="radio"]:checked + label:before{border:none; background:#4366e7 url("../images/template/form_icon.png") no-repeat top -22px left -22px;}
.pocheon_input input[type="radio"]:focus + label:after{display:block; position:absolute; top:0; left:-2px; z-index:-1; width:26px; height:26px; border:1px dotted #000; border-radius:50%; box-sizing:border-box;}

/* 비활성화 */
.pocheon_input input[type="radio"][disabled] + label,
.pocheon_input input[type="checkbox"][disabled] + label{color:#898c9b;}
.pocheon_input input[type="radio"][disabled] + label:before,
.pocheon_input input[type="checkbox"][disabled] + label:before{background-color:#eff0f4;}

/* 인풋 */
.pocheon_input{display:inline-block; position:relative; margin:2px; line-height:normal; vertical-align:top;}
.pocheon_input input{width:180px; height:45px; padding:9px 19px; border:1px solid #d4d7dc; border-radius:5px; font-size:16px;}
.pocheon_input input::placeholder{color:#898f9d;}
.pocheon_input input:focus{border-color:#697497; outline:none; color:#444754;}
.pocheon_input input[disabled]{border-color:#d4d7dc; background-color:#f1f2f6; color:#acadb5; cursor:not-allowed;}

.pocheon_input.search input{padding-right:45px;}
.pocheon_input.search .search_btn{display:block; position:absolute; top:1px; right:0; width:44px; height:43px; border-left:1px solid #d4d7dc; background:url("../images/template/input_search.png") no-repeat center center; font-size:0; line-height:0;}

/* 셀렉트 */
.pocheon_input select{width:180px; height:45px; padding:9px 35px 9px 20px; border:1px solid #d4d7dc; border-radius:5px; background:#fff url('../images/template/select_icon.png') no-repeat 90% 50%; color:#444754; font-size:16px; appearance:none; -webkit-appearance:none; -moz-appearance:none;}
select::-ms-expand{display:none;/* 화살표 없애기 for IE10, 11*/}
.pocheon_input select:focus{border-color:#697497; outline:none;}
.pocheon_input select option{background-color:#fff; color:#656875;}

/* 스타일 셀렉트 */
.style_select_box{position:relative; z-index:10; width:180px;}
.style_select_box .search_select{display:block; position:relative; width:180px; height:45px; padding:9px 35px 9px 20px; border:1px solid #d4d7dc; border-radius:5px; font-size:16px; text-align:left; line-height:24px; transition:border-color .25s ease-in-out; letter-spacing:-0.02em;}
.style_select_box.active .search_select{border-color:#697497;}
.style_select_box .search_select:before{display:block; position:absolute; top:calc(50% - 4px); right:19px; width:11px; height:7px; background:url('../images/template/select_icon.png') no-repeat; content:''; transition:all 0.3s;}
.style_select_box.active .search_select:before{transform:rotate(180deg);}
.style_select_box .search_list{display:none; position:absolute; top:0; left:0; z-index:-1; width:100%; border:1px solid #697497; border-radius:5px; background-color:#fff;}
.style_select_box .search_list ul{margin-top:45px;}
.style_select_box .search_list ul li button{width:100%; padding:12px 16px; color:#656875; font-size:16px; text-align:left; line-height:24px;}
.style_select_box .search_list ul li.active button{background-color:#f1f4ff; color:#444754;}
.style_select_box .search_list ul li:last-child button{border-radius:0 0 5px 5px;}
@media all and (max-width:640px){
    .pocheon_input input[type="checkbox"] + label,
    .pocheon_input input[type="radio"] + label{padding-left:28px; font-size:15px;}
    .pocheon_input input[type="checkbox"] + label:before{top:2px; width:20px; height:20px; background-position:top -2px left -2px;}
    .pocheon_input input[type="checkbox"]:checked + label:before{background-position:top -2px left -23px;}
    .pocheon_input input[type="radio"] + label:before{width:20px; height:20px; background-position:top -24px left -2px;}
    .pocheon_input input[type="radio"]:checked + label:before{ background-position:top -23px left -23px;}
    
    .pocheon_input input{padding:9px 13px; font-size:15px;}
    .pocheon_input select,
    .style_select_box .search_select{padding-left:13px; font-size:15px;}
    .style_select_box .search_list ul li button{padding:9px 13px; font-size:15px;}
}

/*!* 스텝(공통) *!*/

/*!* 스텝(가로) *!*/
/*.step.width{overflow:hidden; font-size:0; line-height:0; text-align:center}*/
/*.step.width .step_list{margin-top:-30px; margin-left:-47px; text-align:left}*/
/*.step.width .step_item{float:left; position:relative; width:33.33%; padding-top:30px; padding-left:47px; text-align:center; vertical-align:top}*/
/*.step.width .step_inner{position:relative; border:1px solid #7f95b6; border-radius:10px; box-sizing:border-box}*/
/*.step.width .step_inner:after{display:block; position:absolute; top:0; bottom:0; left:100%; margin-top:auto; margin-bottom:auto; margin-left:10px; width:27px; height:27px; background-image:url(../images/sprite/template_sprite.png); background-size:418.51852% 4618.51852%; background-position:left 83.52459%}*/
/*.step.width .step_title{display:block; padding-left:10px; padding-right:10px; background-color:#7f95b6; border-top-left-radius:9px; border-top-right-radius:9px; color:#fff; font-size:18px; line-height:24px; letter-spacing:-0.025em; font-weight:600}*/
/*.step.width .step_title:after{display:inline-block; height:100%; vertical-align:middle; content:''}*/
/*.step.width .step_title span{display:inline-block; vertical-align:middle}*/
/*.step.width .step_text{display:block; padding-left:10px; padding-right:10px; color:#444; font-size:18px; line-height:24px; letter-spacing:-0.025em; font-weight:200}*/
/*.step.width .step_text:after{display:inline-block; height:100%; vertical-align:middle; content:''}*/
/*.step.width .step_text span{display:inline-block; vertical-align:middle}*/
/*.step.width ol.step_list{counter-reset:index}*/
/*.step.width ol.step_list .step_inner:before{display:block; position:absolute; top:0; left:0; width:28px; padding-top:4px; padding-bottom:5px; background-color:#7f95b6; border-bottom-right-radius:5px; border-top-left-radius:5px; text-align:center; color:#fff; font-size:15px; line-height:17px; letter-spacing:-0.025em; counter-increment:index; content:counter(index)}*/
/*.step.width .step_item:last-child .step_inner{border-color:#0f3977}*/
/*.step.width .step_item:last-child .step_inner:after{display:none}*/
/*.step.width .step_item:last-child .step_title{background-color:#0f3977}*/
/*.step.width .step_item:last-child .step_text{color:#0f3977; font-weight:600}*/
/*.step.width .step_item:last-child .step_title+.step_text{color:#444; font-weight:300}*/
/*.step.width ol.step_list .step_item:last-child .step_inner:before{background-color:#0f3977}*/
/*@media all and (min-width:1300px){*/
/*.step.width.length4 .step_item{width:25%}*/
/*.step.width.length5 .step_item{width:20%}*/
/*}*/
/*@media all and (max-width:1000px) and (min-width:800px){*/
/*.step.width.length4 .step_item,.step.width.length5 .step_item{width:25%}*/
/*}*/
/*@media all and (max-width:640px){*/
/*.step.width .step_item{width:50%}*/
/*.step.width .step_item:nth-child(4n-1){float:right; background-color:#ccc}*/
/*}*/
/*@media all and (max-width:480px){*/
/*.step.width .step_item{float:none; width:100%}*/
/*.step.width .step_item:nth-child(4n-1){float:none}*/
/*}*/
/*.step.height{font-size:0; line-height:0; background-color:#f2f4f8; padding:85px 70px 100px; border-radius:10px}*/
/*.step.height ol.step_list{counter-reset:index}*/
/*.step.height .step_item{display:table; position:relative; min-height:140px}*/
/*.step.height .step_dt{width:240px; text-align:center}*/
/*.step.height .step_dt:before{display:block; position:absolute; bottom:0; left:120px; width:1px; height:100vh; background-color:#7f95b6}*/
/*.step.height .step_dt:after{display:block; position:absolute; top:calc(50% + 30px); left:120px; z-index:10; margin-top:-14px; margin-left:-14px; width:27px; height:27px; background-image:url(../images/sprite/template_sprite.png); background-size:418.51852% 4618.51852%; background-position:left 83.52459%}*/
/*.step.height .step_dd{display:table-cell; padding-left:30px; padding-bottom:40px; vertical-align:top}*/
/*.step.height .step_title{display:table-cell; position:relative; z-index:10; width:inherit; height:60px; padding:6px 15px; background-color:#7f95b6; border-radius:10px; color:#fff; vertical-align:middle}*/
/*.step.height .step_title span{position:relative; display:inline-block; vertical-align:top; font-size:18px; line-height:24px; letter-spacing:-0.025em; font-weight:600}*/
/*.step.height .step_title span:before{display:inline-block; width:24px; height:24px; margin-right:10px; background-color:#fff; border-bottom-right-radius:5px; border-top-left-radius:5px; text-align:center; vertical-align:top; color:#7f95b6; font-size:15px; line-height:24px; letter-spacing:-0.025em; counter-increment:index; content:counter(index)}*/
/*.step.height .step_text{font-size:18px; line-height:30px; letter-spacing:-0.025em; font-weight:200}*/
/*.step.height .step_item:last-child{min-height:auto}*/
/*.step.height .step_item:last-child .step_dt:after,.step.height .step_item:last-child .step_dt:before{display:none}*/
/*.step.height .step_item:last-child .step_dd{padding-bottom:0}*/
/*.step.height .step_item:last-child .step_title{background-color:#0f3977}*/
/*.step.height .step_item:last-child .step_title span:before{color:#0f3977}*/
/*.step.height .step_item.only .step_text{margin-top:15px}*/

/*!* 사진 *!*/
/*.photos{padding-top:50px; padding-bottom:40px; border:1px solid #d5d5d5; border-radius:5px; font-size:0; line-height:0}*/
/*.photos .photos_list{overflow:hidden; text-align:center; padding-left:30px; padding-right:30px}*/
/*.photos .photos_item{display:inline-block; position:relative; width:33.33%; padding-left:50px; padding-right:50px; vertical-align:top}*/
/*.photos .photos_item+.photos_item:before{display:block; position:absolute; left:0; top:0; width:1px; height:100vh; background-color:#eaeaea}*/
/*.photos .photos_item img{border-radius:10px; width:100%; max-width:240px}*/
/*.photos .photos_text{display:block; max-width:240px; margin-top:16px; color:#444; font-size:16px; line-height:22px; letter-spacing:-0.025em}*/

/*!* 교통정보 *!*/
/*.traffic .traffic_list{position:relative; border-bottom:1px solid #d9d9d9; font-size:0; line-height:0}*/
/*.traffic .traffic_list:before{display:block; position:absolute; top:0; left:50%; right:0; width:1px; height:100%; background-color:rgba(213, 213, 213, 0.8)}*/
/*.traffic .traffic_item{display:inline-block; width:50%; vertical-align:top}*/
/*.traffic .traffic_title{padding-top:13px; padding-bottom:14px; background-color:#2f6dc0; text-align:center; color:#fff; font-size:20px; line-height:33px; letter-spacing:-0.025em; font-weight:600}*/
/*.traffic .traffic_title span{position:relative}*/
/*.traffic .traffic_title span:before{display:block; position:absolute; top:0; bottom:0; left:0; margin-top:auto; margin-bottom:auto}*/
/*.traffic .subway .traffic_title span{padding-left:37px}*/
/*.traffic .subway .traffic_title span:before{width:24px; height:33px; background-image:url(../images/sprite/template_sprite.png); background-size:470.83333% 3778.78788%; background-position:left 100%}*/
/*.traffic .bus .traffic_title span{padding-left:56px}*/
/*.traffic .bus .traffic_title span:before{width:42px; height:25px; background-image:url(../images/sprite/template_sprite.png); background-size:269.04762% 4988%; background-position:left 96.48118%}*/
/*.traffic .traffic_item .bu{padding:30px}*/
/*.traffic .bu.dl>li{margin-top:10px}*/

/*!* 지도(카카오맵) *!*/
/*.mapapi .root_daum_roughmap{width:100%; height:400px}*/
/*.mapapi .root_daum_roughmap .wrap_map{height:inherit}*/

/* 정렬 */
.text_center{text-align:center !important;}
.text_right{text-align:right !important;}
.text_left{text-align:left !important;}

/* margin */
.margin_0{margin:0 !important;}
.margin_10{margin:10px !important;}
.margin_20{margin:20px !important;}
.margin_30{margin:30px !important;}
.mt0{margin-top:0 !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mr0{margin-right:0 !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr30{margin-right:30px !important;}
.mr35{margin-right:35px !important;}
.mr40{margin-right:40px !important;}
.mr45{margin-right:45px !important;}
.mr50{margin-right:50px !important;}
.mr55{margin-right:55px !important;}
.mr60{margin-right:60px !important;}
.mb0{margin-bottom:0 !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.mb50{margin-bottom:50px !important;}
.mb55{margin-bottom:55px !important;}
.mb60{margin-bottom:60px !important;}
.ml0{margin-left:0 !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}
.ml35{margin-left:35px !important;}
.ml40{margin-left:40px !important;}
.ml45{margin-left:45px !important;}
.ml50{margin-left:50px !important;}

/* padding */
.padding_0{padding:0 !important;}
.padding_10{padding:10px !important;}
.padding_20{padding:20px !important;}
.padding_30{padding:30px !important;}
.padding_40{padding:40px !important;}
.pt0{padding-top:0 !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt25{padding-top:25px !important;}
.pt30{padding-top:30px !important;}
.pt35{padding-top:35px !important;}
.pt40{padding-top:40px !important;}
.pt45{padding-top:45px !important;}
.pt50{padding-top:50px !important;}
.pt60{padding-top:60px !important;}
.pr0{padding-right:0 !important;}
.pr5{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr25{padding-right:25px !important;}
.pr30{padding-right:30px !important;}
.pr35{padding-right:35px !important;}
.pr40{padding-right:40px !important;}
.pr45{padding-right:45px !important;}
.pr50{padding-right:50px !important;}
.pb0{padding-bottom:0 !important;}
.pb5{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px !important;}
.pb35{padding-bottom:35px !important;}
.pb40{padding-bottom:40px !important;}
.pb45{padding-bottom:45px !important;}
.pb50{padding-bottom:50px !important;}
.pl0{padding-left:0 !important;}
.pl5{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl30{padding-left:30px !important;}
.pl35{padding-left:35px !important;}
.pl40{padding-left:40px !important;}
.pl45{padding-left:45px !important;}
.pl50{padding-left:50px !important;}

/* 퍼센트 넓이 */
.w5p{width:5% !important;}
.w10p{width:10% !important;}
.w15p{width:15% !important;}
.w20p{width:20% !important;}
.w25p{width:25% !important;}
.w30p{width:30% !important;}
.w35p{width:35% !important;}
.w40p{width:40% !important;}
.w45p{width:45% !important;}
.w50p{width:50% !important;}
.w55p{width:55% !important;}
.w60p{width:60% !important;}
.w65p{width:65% !important;}
.w70p{width:70% !important;}
.w75p{width:75% !important;}
.w80p{width:80% !important;}
.w85p{width:85% !important;}
.w90p{width:90% !important;}
.w95p{width:95% !important;}
.w100p{width:100% !important;}
@media all and (max-width:765px){
    .w-sm-5p{width:5% !important;}
    .w-sm-10p{width:10% !important;}
    .w-sm-15p{width:15% !important;}
    .w-sm-20p{width:20% !important;}
}