@charset "UTF-8";

body{position:relative; height:100%; padding-bottom:100px; background:url('../images/login_top_bg.jpg') no-repeat center top; color:#4d4d4d; font-size:16px; font-weight:400; font-family:'SCoreDream','NotoKr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif; line-height:24px; letter-spacing:-0.03em;}

/*공통*/
.wrap{position:relative; width:1540px !important; margin:0 auto;}
.skip{overflow:hidden;}
a.btn{text-decoration:none;}

@media all and (max-width:1540px){
    .wrap{width:1000px !important;}
}
@media all and (max-width:1000px){
    .wrap{width:auto !important; padding:0 20px;}
}
@media all and (max-width:640px){
    .wrap{width:auto !important; padding:0 15px;}
}

/* 상단 */
.first_box{position:relative; padding-top:66px; text-align:center;}
.first_box .home_link{display:block; position:absolute; top:27px; right:0;}
.first_box .home_link .home_btn{position:absolute; top:0; right:0; width:180px; padding:7px 41px 7px 20px; border:1px solid rgba(255, 255, 255, 0.6); border-radius:4px; background:transparent;}
.first_box .home_link .home_btn:before{display:block; position:absolute; top:0; bottom:0; margin:auto 0; right:15px; width:13px; height:11px; background:url("../images/btn_arrow.png") no-repeat;}
.first_box .home_link .home_btn span{color:#fff; font-size:15px; font-weight:500; font-family:'S-CoreDream'; letter-spacing:-0.02em;}
.first_box .title_box{position:relative; margin-bottom:44px; font-size:0; line-height:0;}
.first_box .title_box .title{position:relative; padding-top:50px; padding-left:317px; color:#fff; font-size:42px; font-weight:500; font-family:'SBAggroB'; line-height:42px;}
.first_box .title_box .title:before{display:inline-block; position:absolute; top:20px; left:0; width:274px; height:90px; background:url("../images/logo.png") no-repeat center;}
.first_box .desc_box p{color:#fff; font-size:16px; font-weight:400; font-family:'S-CoreDream'; line-height:26px; letter-spacing:0; word-break:keep-all;}

@media all and (max-width:800px){
    .first_box .title_box .title{padding-left:280px; font-size:36px;}
    .first_box .title_box .title:before{transform:scale(0.8);}
    .first_box .desc_box p{font-size:15px; line-height:22px;}
}
@media all and (max-width:640px){
    .first_box .title_box{margin-top:20px; margin-bottom:25px;}
    .first_box .title_box .title{padding-top:47px; padding-left:210px; font-size:24px;}
    .first_box .title_box .title:before{left:-30px; transform:scale(0.65);}
}

/* 박스 */
#container{border-radius:50px;}
.form_box{width:100%; min-height:494px; margin-top:40px; border-radius:50px; background-color:#fff; box-shadow:rgba(0, 0, 0, 0.08) 0 16px 49px;}
.form_box .form_wrap{padding:70px 0 90px;}
.form_box .form_wrap .form_list{position:relative; font-size:0; line-height:0;}
.form_box .form_wrap .form_list .form_item{display:inline-block; position:relative; width:calc(100% / 3); padding:145px 32px 0 32px; text-align:center; vertical-align:top;}
.form_box .form_wrap .form_list .form_item:before{display:block; position:absolute; top:0; left:50%; width:124px; height:124px; border-radius:50%; background:#f5f5f5 url("../images/form_icon.png") no-repeat; transform:translateX(-50%);}
.form_box .form_wrap .form_list .form_item.n2:before{background-position-x:-124px;}
.form_box .form_wrap .form_list .form_item.n3:before{background-position-x:-248px;}
.form_box .form_wrap .form_list .form_item:not(:last-child):after{display:block; position:absolute; top:0; right:0; width:1px; height:100%; background:url("../images/form_line.png") repeat-y;}

.form_box .form_wrap .form_list .form_item .form_title{color:#222; font-size:25px; font-weight:600; font-family:'S-CoreDream'; line-height:32px; letter-spacing:-0.025em;}
.form_box .form_wrap .form_list .form_item .point{margin-top:20px; color:#6d6d6d; font-size:15px; font-weight:400; font-family:'S-CoreDream'; line-height:24px; letter-spacing:-0.025em;}
.form_box .form_wrap .form_list .form_item.n1 .point{margin-top:32px;}

.form_box .form_wrap .form_list .form_item .btn_box{margin-top:33px;}
.form_box .form_wrap .form_list .form_item.n1 .btn_box{margin-top:45px;}
.form_box .form_wrap .form_list .form_item .btn_box .check_btn{position:relative; width:380px; height:56px; border-radius:6px; color:#fff; font-size:16px; font-weight:400; line-height:24px; letter-spacing:-0.025em;}
.form_box .form_wrap .form_list .form_item .btn_box .check_btn:before{display:block; position:absolute; top:0; left:calc(50% - 65px); bottom:0; margin:auto 0;}

.form_box .form_wrap .form_list .form_item.n1 .btn_box .check_btn{padding-left:23px; background-color:#28a465;}
.form_box .form_wrap .form_list .form_item.n1 .btn_box .check_btn:before{width:15px; height:21px;background:url("../images/btn_icon01.png");}
.form_box .form_wrap .form_list .form_item.n1 .btn_box .check_btn:hover{background-color:#1c8550;}

.form_box .form_wrap .form_list .form_item.n2 .btn_box .check_btn{padding-left:26px; background-color:#f56455;}
.form_box .form_wrap .form_list .form_item.n2 .btn_box .check_btn:before{width:19px; height:19px;background:url("../images/btn_icon02.png");}
.form_box .form_wrap .form_list .form_item.n2 .btn_box .check_btn:hover{background-color:#d84f41;}

.form_box .form_wrap .form_list .form_item.n3 .btn_box .check_btn.kakao{display:inline-block; width:187px; margin-right:6px; vertical-align:top; padding-left:27px; background-color:#f9e000; color:#1a1919;}
.form_box .form_wrap .form_list .form_item.n3 .btn_box .check_btn.kakao:before{left:27px; width:20px; height:19px; background-image:url("../images/btn_icon03.png");}
.form_box .form_wrap .form_list .form_item.n3 .btn_box .check_btn.kakao:hover{background-color:#f2d408;}
.form_box .form_wrap .form_list .form_item.n3 .btn_box .check_btn.naver{display:inline-block; width:187px; vertical-align:top; padding-left:26px; background-color:#00aa4b;}
.form_box .form_wrap .form_list .form_item.n3 .btn_box .check_btn.naver:before{left:34px; width:15px; height:16px; background-image:url("../images/btn_icon04.png");}
.form_box .form_wrap .form_list .form_item.n3 .btn_box .check_btn.naver:hover{background-color:#00863b;}

@media all and (max-width:1540px){
    .form_box .form_wrap{padding:60px 0;}
    .form_box .form_wrap .form_list .form_item{width:50%;}
    .form_box .form_wrap .form_list .form_item.n2:after{display:none;}
    .form_box .form_wrap .form_list .form_item.n3{width:100%; margin-top:45px;}
}
@media all and (max-width:1000px){
    .form_box .form_wrap .form_list .form_item.n2 .point span br{display:none;}
    .form_box .form_wrap .form_list .form_item .btn_box .check_btn{width:100%;}
}
@media all and (max-width:800px){
    .form_box .form_wrap .form_list .form_item{padding-top:125px;}
    .form_box .form_wrap .form_list .form_item:before{width:100px; height:100px; background-size:auto 100px;}
    .form_box .form_wrap .form_list .form_item.n2:before{background-position-x:-100px;}
    .form_box .form_wrap .form_list .form_item.n3:before{background-position-x:-200px;}
    .form_box .form_wrap .form_list .form_item .form_title{font-size:23px; line-height:30px;}
}
@media all and (max-width:640px){
    .form_box{border-radius:30px;}
    .form_box .form_wrap .form_list .form_item{width:100%;}
    .form_box .form_wrap .form_list .form_item.n2{margin-top:45px;}
    .form_box .form_wrap .form_list .form_item:not(:last-child):after{display:none;}
    .form_box .form_wrap .form_list .form_item .btn_box .check_btn{width:80%;}
    
    .form_box .form_wrap .form_list .form_item.n3 .btn_box .check_btn.kakao{width:80%; margin-right:0; margin-bottom:10px;}
    .form_box .form_wrap .form_list .form_item.n3 .btn_box .check_btn.naver{width:80%;}
    
    .form_box .form_wrap .form_list .form_item.n3 .btn_box .check_btn.kakao:before,
    .form_box .form_wrap .form_list .form_item.n3 .btn_box .check_btn.naver:before{left:calc(50% - 65px);}
}

/* 푸터 */
#footer{background-color:#fff !important;}
#footer .footer_inner{margin-top:70px; font-size:15px; font-weight:400; font-family:'NotoKr'; line-height:32px; letter-spacing:0; text-align:center;}
#footer .footer_inner .footer_info{color:rgba(0, 0, 0, 0.6);}
#footer .footer_inner .footer_info span:not(:last-child){margin-right:16px;}
#footer .footer_inner .copyright{color:rgba(0, 0, 0, 0.4); margin-top:0 !important; word-break:keep-all;}
#footer .footer_inner .text{color:rgba(0, 0, 0, 0.4); font-size:14px; word-break:keep-all;}
@media all and (max-width:640px){
    #footer .footer_inner .footer_info, #footer .footer_inner .text{line-height:24px;}
    #footer .footer_inner .copyright{margin-top:10px !important; margin-bottom:10px;}
}


/* sns */
.form_box .form_wrap .login_sns{padding:0 30px;}
.form_box .form_wrap .login_sns .title{margin-bottom:30px; color:#111; font-size:32px; font-weight:500; line-height:40px; word-break:keep-all;}
.form_box .form_wrap .login_sns .sub_title{margin-bottom:20px; color:#111; font-size:16px; font-weight:400; line-height:25px; word-break:keep-all;}
.form_box .form_wrap .login_sns .sns_box{width:50%; margin:20px auto; padding:30px; border:1px solid #d5d5d5; border-radius:10px;}
.form_box .form_wrap .login_sns .sns_box .sns_title{margin-bottom:10px; color:#000; font-size:24px; font-weight:500; line-height:29px; letter-spacing:-0.025em;}
.form_box .form_wrap .login_sns .sns_box .sns_ul .dt{color:#0f3977; font-size:16px; line-height:24px; font-weight:500;}
.form_box .form_wrap .login_sns .sns_box .sns_ul .dd{color:#404040; font-size:16px; line-height:24px; font-weight:400;}
.form_box .form_wrap .login_sns .desc{font-size:16px; line-height:24px; word-break:keep-all;}
.form_box .form_wrap .login_sns .btn_box{display:inline-block; position:relative; margin-top:20px; font-size:0; line-height:0;}
.form_box .form_wrap .login_sns .btn_box .check_btn{width:220px; height:56px; border-radius:6px; margin-right:20px; background-color:#28a465; color:#fff; font-size:16px; line-height:24px; letter-spacing:-0.025em;}
.form_box .form_wrap .login_sns .btn_box .check_btn:last-child{margin-right:0;}
.form_box .form_wrap .login_sns .btn_box .check_btn:hover{background-color:#1c8550;}
@media all and (max-width:1000px){
    .form_box .form_wrap .login_sns .btn_box .check_btn{width:190px; margin-right:10px;}
}
@media all and (max-width:800px){
    .form_box .form_wrap .login_sns .title{margin-bottom:20px; font-size:26px; line-height:35px;}
    .form_box .form_wrap .login_sns .sns_box{width:70%;}
    .form_box .form_wrap .login_sns .sns_box .sns_title{font-size:22px;}
    .form_box .form_wrap .login_sns .desc{font-size:15px; line-height:20px;}
    .form_box .form_wrap .login_sns .btn_box .check_btn{width:170px; font-size:15px;}
}
@media all and (max-width:640px){
    .form_box .form_wrap .login_sns .title{margin-bottom:16px; font-size:20px; line-height:24px;}
    .form_box .form_wrap .login_sns .sub_title{margin-bottom:16px; font-size:15px; line-height:20px;}
    .form_box .form_wrap .login_sns .sns_box{width:100%;}
    .form_box .form_wrap .login_sns .sns_box .sns_title{font-size:20px; line-height:24px;}
    .form_box .form_wrap .login_sns .sns_box .sns_ul .dt, .form_box .form_wrap .login_sns .sns_box .sns_ul .dd{font-size:15px; line-height:20px;}
    .form_box .form_wrap .login_sns .btn_box .check_btn{display:block; width:220px; margin-right:0; margin-bottom:10px;}
}

/* sns 연동 현황 */
.form_box .form_wrap .login_sns{font-size:0; line-height:0;}
.form_box .form_wrap .login_sns .sns_box.type2, .form_box .form_wrap .login_sns .sns_box.type3{display:inline-block; width:40%; min-height:267px; margin-right:20px; vertical-align:top;}
.form_box .form_wrap .login_sns .sns_box.type3{margin-right:0;}
.form_box .form_wrap .login_sns .sns_box.type3 .sns_title{color:#969696;}
.form_box .form_wrap .login_sns .sns_box.type3 .desc{color:#969696; font-size:16px; line-height:24px;}
.form_box .form_wrap .login_sns .sns_box.type3 .btn_box .check_btn{display:block; margin-right:0; margin-bottom:10px;}
.form_box .form_wrap .login_sns .sns_box.type3 .btn_box .check_btn:last-child{margin-bottom:0;}

@media all and (max-width:1000px){
    .form_box .form_wrap .login_sns .sns_box.type2, .form_box .form_wrap .login_sns .sns_box.type3{width:45%;}
}
@media all and (max-width:800px){
    .form_box .form_wrap .login_sns .sns_box.type2, .form_box .form_wrap .login_sns .sns_box.type3{display:block; width:100%; min-height:auto;}
}