@charset "UTF-8";

@font-face{
    font-family: 'NotoKr';
    font-weight: 200;
    src: url("../font/NotoSansCJKkr-Light.woff2") format('woff2'),
    url("../font/NotoSansCJKkr-Light.woff") format('woff');
}
@font-face{
    font-family: 'NotoKr';
    font-weight: 400;
    src: url("../font/NotoSansCJKkr-Regular.woff2") format('woff2'),
    url("../font/NotoSansCJKkr-Regular.woff") format('woff');
}
@font-face{
    font-family: 'NotoKr';
    font-weight: 500;
    src: url("../font/NotoSansCJKkr-Medium.woff2") format('woff2'),
    url("../font/NotoSansCJKkr-Medium.woff") format('woff');
}

/* 원모바일 */
@font-face{
    font-family: 'OneMobile';
    font-weight: 400;
    src: url("../font/OneMobileTitleRegular.woff2") format('woff2'),
    url("../font/OneMobileTitleRegular.woff") format('woff');
}