@charset "UTF-8";

/* 본고딕 */
@font-face{
	font-family: 'NotoKr';
	font-weight: 200;
	src: url("../fonts/NotoSansCJKkr-Light.woff2") format('woff2'),
	url("../fonts/NotoSansCJKkr-Light.woff") format('woff');
}
@font-face{
	font-family: 'NotoKr';
	font-weight: 300;
	src: url("../fonts/NotoSansCJKkr-DemiLight.woff2") format('woff2'),
	url("../fonts/NotoSansCJKkr-DemiLight.woff") format('woff');
}
@font-face{
	font-family: 'NotoKr';
	font-weight: 400;
	src: url("../fonts/NotoSansCJKkr-Regular.woff2") format('woff2'),
		url("../fonts/NotoSansCJKkr-Regular.woff") format('woff');
}
@font-face{
	font-family: 'NotoKr';
	font-weight: 500;
	src: url("../fonts/NotoSansCJKkr-Medium.woff2") format('woff2'),
	url("../fonts/NotoSansCJKkr-Medium.woff") format('woff');
}
@font-face{
	font-family: 'NotoKr';
	font-weight: 600;
	src: url("../fonts/NotoSansCJKkr-Bold.woff2") format('woff2'),
	url("../fonts/NotoSansCJKkr-Bold.woff") format('woff');
}

/* 어그로체 */
@font-face {
    font-family: 'SBAggro';
    font-weight: 300;
    src: url("../fonts/SBAggroL.woff2") format('woff2'),
    url("../fonts/SBAggroL.woff") format('woff');
}
@font-face {
    font-family: 'SBAggro';
    font-weight: 500;
    src: url("../fonts/SBAggroM.woff2") format('woff2'),
    url("../fonts/SBAggroM.woff") format('woff');
}
@font-face {
    font-family: 'SBAggro';
    font-weight: 700;
    src: url("../fonts/SBAggroB.woff2") format('woff2'),
    url("../fonts/SBAggroB.woff") format('woff');
}

/* 원모바일 타이틀 */
@font-face {
    font-family: 'ONE-Mobile-Title';
    font-weight: 600;
    src: url("../fonts/ONE-Mobile-Title.woff2") format('woff2'),
    url("../fonts/ONE-Mobile-Title.woff") format('woff');
}
/* 원모바일 본문 */
@font-face {
    font-family: 'ONE-Mobile-Regular';
    font-weight: 400;
    src: url("../fonts/ONEMobile-Regular.woff2") format('woff2'),
    url("../fonts/ONEMobile-Regular.woff") format('woff');
}
@font-face {
    font-family: 'ONE-Mobile-Bold';
    font-weight: 700;
    src: url("../fonts/ONEMobile-Bold.woff2") format('woff2'),
    url("../fonts/ONEMobile-Bold.woff") format('woff')
}

/* 넥슨 lv.2 고딕 */
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 400;
    src: url("../fonts/NEXON Lv2 Gothic.woff") format('woff');
}
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    font-weight: 700;
    src: url("../fonts/NEXON Lv2 Gothic Bold.woff") format('woff');
}